@mixin button-explicit($color, $background, $border, $hover-color, $hover-background, $hover-border, $active-color, $active-background, $active-border) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &:focus,
    &.focus {
        color: $hover-color;
        background-color: $hover-background;
        border-color: $hover-border;
    }
    &:hover {
        color: $hover-color;
        background-color: $hover-background;
        border-color: $hover-border;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $active-color;
        background-color: $active-background;
        border-color: $active-border;
        box-shadow: none !important;

        &:hover,
        &:focus,
        &.focus {
            color: $active-color;
            background-color: darken($active-background, 10%);
            border-color: darken($active-border, 10%);
        }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }
}

.btn.btn-default {
    @include button-explicit(
        $btn-default-color,
        $btn-default-bg,
        $btn-default-border,

        $brand-primary,
        $btn-default-bg,
        $brand-primary,

        $brand-primary,
        lighten($brand-primary, 50%),
        $brand-primary
    );
}

.btn.btn-muted {
    @include button-explicit(
        $btn-default-color,
        #E6E6E6,
        transparent,

        $btn-default-color,
        rgba($gray-dark, 0.2),
        transparent,

        $btn-default-color,
        rgba($gray-dark, 0.4),
        transparent
    );
}

.btn.btn-transparent {
    @include button-explicit(
        $inverse-color,
        transparent,
        rgba($inverse-color, 0.4),

        $inverse-color,
        transparent,
        $inverse-color,

        $inverse-color,
        transparent,
        $inverse-color
    );
}

.btn.btn-light {
    @include button-explicit(
        $btn-default-color,
        $btn-default-bg,
        transparent,

        rgba($btn-default-color, 0.5),
        rgba($btn-default-bg, 0.5),
        transparent,

        $btn-default-color,
        rgba($btn-default-bg, 0.5),
        transparent
    );
}

.btn.btn-primary {
    @include button-explicit(
        $btn-primary-color,
        $btn-primary-bg,
        $btn-primary-border,

        $btn-primary-color,
        darken($btn-primary-bg, 10%),
        $btn-primary-border,

        $btn-primary-color,
        darken($btn-primary-bg, 20%),
        $btn-primary-border
    );
}

.btn-facebook {
    @include button-variant(white, $facebook-color, $facebook-color);
    text-align: left;
}

.btn-twitter {
    @include button-variant(white, $twitter-color, $twitter-color);
    text-align: left;
}

.btn-linkedin {
    @include button-variant(white, $linkedin-color, $linkedin-color);
    text-align: left;
}

.btn-instagram {
    @include button-size($padding-base-vertical+1, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
    text-align: left;
    color: white;
    background: #b443bb;
    background: radial-gradient(
            circle farthest-corner at 20% 250%,
            #ffcd69 30%,
            #fa9137 41%,
            #eb4141 47%,
            transparent 78%
        ),
        linear-gradient(135deg, #234bd7 0, #c33cbe 78%);
    border-width: 0;

    &:focus,
    &.focus,
    &:hover {
        color: white;
    }

    &:active,
    .active,
    .active:focus,
    .active.focus {
        background: darken(#b443bb, 10%);
        background: radial-gradient(
                circle farthest-corner at 20% 250%,
                darken(#ffcd69, 10%) 30%,
                darken(#fa9137, 10%) 41%,
                darken(#eb4141, 10%) 47%,
                transparent 78%
            ),
            linear-gradient(135deg, darken(#234bd7, 10%) 0, darken(#c33cbe, 10%) 78%);
    }
}

.btn {
    &.active:focus,
    &.active.focus,
    &.active,
    &:active,
    &:focus,
    &:active:focus {
        outline: none;
    }

    i:active,
    i:focus {
        outline: none;
    }

    i:before {
        font-size: $font-size-large;
        vertical-align: middle;
    }
}

.btn-icon-lg {
    padding: 15px;
    line-height: 20px;
    border-radius: 50%;
    height: 60px;

    i:before {
        font-size: 30px;
    }
}

.btn-padded {
    padding: 10px 40px !important;
}

.btn.btn-text-left {
    text-align: left;
}
.btn.btn-text-link {
    text-decoration: underline;
    padding-left: 0;
    padding-right: 0;
}

.btn-2 {
    border-radius: 5px;
}
