.btn-facebook {
    @include button-variant(white, $facebook-color, $facebook-color);
    text-align: left;
}

.btn-twitter {
    @include button-variant(white, $twitter-color, $twitter-color);
    text-align: left;
}

.btn-instagram {
    @include button-size($padding-base-vertical+1, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
    text-align: left;
    color: white;
    background: #B443BB;
    background:
        radial-gradient(circle farthest-corner at 20% 250%, #ffcd69 30%, #fa9137 41%, #eb4141 47%, transparent 78%),
        linear-gradient(135deg, #234bd7 0, #c33cbe 78%);
    border-width: 0;

    &:focus,
    &.focus,
    &:hover {
        color: white;
    }
}

.btn-icon-lg {
    font-size: 30px;
    padding: 15px;
    line-height: 20px;
    border-radius: 50%;
    height: 60px;
}
