@mixin button-explicit($color, $background, $border, $hover-color, $hover-background, $hover-border, $active-color, $active-background, $active-border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $hover-color;
    background-color: $hover-background;
        border-color: $hover-border;
  }
  &:hover {
    color: $hover-color;
    background-color: $hover-background;
        border-color: $hover-border;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $active-color;
    background-color: $active-background;
        border-color: $active-border;

    &:hover,
    &:focus,
    &.focus {
    color: $active-color;
    background-color: darken($active-background, 10%);
        border-color: darken($active-border, 10%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

.btn.btn-default {
    @include button-explicit(
        $btn-default-color,
        $btn-default-bg,
        $btn-default-border,

        $brand-primary,
        $btn-default-bg,
        $brand-primary,

        $brand-primary,
        lighten($brand-primary, 50%),
        $brand-primary
    );
}

.btn.btn-primary {
    @include button-explicit(
        $btn-primary-color,
        $btn-primary-bg,
        $btn-primary-border,

        $btn-primary-color,
        darken($btn-primary-bg, 10%),
        $btn-primary-border,

        $btn-primary-color,
        darken($btn-primary-bg, 20%),
        $btn-primary-border
    );
}

.btn-facebook {
    @include button-variant(white, $facebook-color, $facebook-color);
    text-align: left;
}

.btn-twitter {
    @include button-variant(white, $twitter-color, $twitter-color);
    text-align: left;
}

.btn-instagram {
    @include button-size($padding-base-vertical+1, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
    text-align: left;
    color: white;
    background: #B443BB;
    background:
        radial-gradient(circle farthest-corner at 20% 250%, #ffcd69 30%, #fa9137 41%, #eb4141 47%, transparent 78%),
        linear-gradient(135deg, #234bd7 0, #c33cbe 78%);
    border-width: 0;

    &:focus,
    &.focus,
    &:hover {
        color: white;
    }
}

.btn {
    &.active:focus,
    &.active.focus,
    &.active,
    &:active,
    &:focus,
    &:active:focus {
        outline: none;
    }

    i:active, i:focus {
        outline: none;
    }

    i:before {
        font-size: $font-size-large;
        vertical-align: middle;
    }
}

.btn-icon-lg {
    padding: 15px;
    line-height: 20px;
    border-radius: 50%;
    height: 60px;

    i:before {
        font-size: 30px;
    }
}
