.container-page {
	max-width: 945px;
	padding-top: 20px;
}

.relative {
	position: relative;
}

.inline-block {
	display: inline-block;
}

.full-width {
	width: 100%;
}

.btn-lg {
	min-height: 48px;
}
