@font-face {
	font-family: "Inter UI";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Inter-UI-Regular.woff") format("woff");
}

@font-face {
	font-family: "Inter UI";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/Inter-UI-Medium.woff") format("woff");
}

@font-face {
	font-family: "Inter UI";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/Inter-UI-Bold.woff") format("woff");
}
