.text-center-xs {
    @media (max-width: $screen-xs-max) {
      text-align: center !important;
    }
}

.text-center-sm {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        text-align: center !important;
    }
}

.text-center-md {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        text-align: center !important;
    }
}

.text-center-lg {
    @media (min-width: $screen-lg-min) {
        text-align: center !important;
    }
}

.text-center-sm-max {
    @media (max-width: $screen-sm-max) {
        text-align: center;
    }
}

