.text-inverse {
    color: $inverse-color;
}
.text-large {
    font-size: $font-size-large;
}
.text-promo {
    color: $promo-color;
}
.big-title {
    font-size: 38px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
