.text-inverse {
	color: $inverse-color;
}
.text-large {
	font-size: $font-size-large;
}
.text-small {
	font-size: $font-size-small;
}
.text-muted-deep {
	color: $text-muted-deep;
}
.text-promo {
	color: $promo-color;
}
.text-bold {
	font-weight: 500;
}
/*
.big-title {
	font-size: 38px;
}
*/
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.p-big {
	font-size: 20px;
	color: $gray-light;
	margin-top: -2px;

	@media screen and (max-width: $screen-sm) {
		font-size: 14px;
	}
}

h1 {
	line-height: 80px;
	font-weight: 500;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: 1440px) {
		font-size: 52px;
		line-height: 1.2;
	}
}

h2 {
	line-height: 46px;
}

.underlined {
	text-decoration: underline !important;
}

.text-gray-light {
	color: $gray-light;
}

.line-through {
	text-decoration: line-through;
}
