// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

@mixin opacity($alpha, $important: false) {
    // IE 8
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)" if($important, !important, null);
    // IE 5-7
    filter: alpha(opacity=$alpha*100) if($important, !important, null);
    opacity: $alpha if($important, !important, null);
}

@mixin transition($seconds) {
    -webkit-transition: all $seconds ease-in;
    -moz-transition: all $seconds ease-in;
    -ms-transition: all $seconds ease-in;
    -o-transition: all $seconds ease-in;
    transition: all $seconds ease-in;
}

@mixin transition-full($transition...) {
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transform($prop...) {
    webkit-transform: $prop;
    -moz-transform: $prop;
    -ms-transform: $prop;
    -o-transform: $prop;
    transform: $prop;
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size, $important: false) {
    font-size: $size if($important, !important, null);
    font-size: calculateRem($size) if($important, !important, null);
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@mixin media($num) {
    @media only screen and (max-width: $num) {
        @content;
    }
}

@mixin media-min($num) {
    @media only screen and (min-width: ($num + 1px)) {
        @content;
    }
}
