@font-face {
    font-family: 'Geometria Light';
    src: url('/fonts/Geometria-Light-webfont.eot');
    src: url('/fonts/Geometria-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Geometria-Light-webfont.woff') format('woff'),
         url('/fonts/Geometria-Light-webfont.ttf') format('truetype'),
         url('/fonts/Geometria-Light-webfont.svg#geometria_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  //height: 100%;
}

*, *:before, *:after {
  @extend %bs-border-box;
}

// Prevent iOS text size adjust after orientation change, without disabling user zoom
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: $base-color;
  background: $ench-color;
  font: 300 #{$base-font-size}/1.25 $base-font-family, sans-serif;
  opacity: 0;
  @include transition-full(all 0.4s ease);
}

// Correct 'block' display not defined in IE 8/9.
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
blockquote {
  display: block;
}

[hidden] {
  display: none;
}

// common elements
h1 {
  font-weight: 400;
  @include font-size(52px);
  line-height: 1.2;
  font-family: $heading-font-family, 'Segoe UI', Arial , sans-serif;
  margin: 0 0 40px;

  @include media($screen-sm) {
    @include font-size(36px);
  }
}

h2 {
  font-weight: 400;
  @include font-size(32px);
  line-height: 1.2;
  font-family: $heading-font-family, 'Segoe UI', Arial , sans-serif;
  &.-enlarge {
    @include font-size(42px);

    @include media($screen-sm) {
      @include font-size(28px);
    }
  }
}

h3 {
  font-weight: 300;
  @include font-size(21px);
  line-height: 1.2;
  font-family: $base-font-family, 'Segoe UI', Arial , sans-serif;
}

b, strong {
  font-weight: 700;
}

small {
  display: inline-block;
  font-size: 85%;
  line-height: 1.2;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
  color: #ff0000;
}

sub {
  bottom: -0.25em;
}

hr {
  clear: both;
  display: inline-block;
  width: 100%;
  height: 0;
  margin: 27px 0 24px;
  border: 0;
  border-top: 2px solid #000;
  vertical-align: bottom;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

p, ul, ol, dl, form, fieldset, small {
  margin: 0 0 20px;
  padding: 0;
  @include font-size(16px);
  font-weight:300;
}

p {
  line-height: 1.15em;
}

ul, ol {
  list-style-position: outside;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

dt, dd {
  float: left;
  clear: both;
}

dd {
  clear: none;
  margin-left: 10px;
}

a, a:hover, a:focus {
  text-decoration: none;
}
