#mod {
  .m-text-left {
    text-align: left;
  }

  .m-text-center {
    text-align: center;
  }

  .m-text-right {
    text-align: right;
  }

  .m-margin-t0 {
    margin-top: 0;
  }

  .m-margin-r2 {
    margin-right: 20px;
  }

  .m-margin-r4 {
    margin-right: 40px;
  }

  .m-margin-r5 {
    margin-right: 50px;
  }

  .m-margin-l10 {
    margin-left: 100px;
  }

  .m-height-100p {
    height: 100%;
  }

  .m-d-none {
    display: none;
  }
  .m-o-hidden {
    overflow: hidden;
  }
}
