#mod {
  .m-text-left {
    text-align: left;
  }

  .m-text-center {
    text-align: center;
  }

  .m-text-right {
    text-align: right;
  }

  .m-margin-t0 {
    margin-top: 0;
  }

  .m-margin-t10 {
    margin-top: 100px;
  }

  .m-margin-t4 {
    margin-top: 40px;
  }

  .m-margin-r2 {
    margin-right: 20px;
  }

  .m-margin-r4 {
    margin-right: 40px;
  }

  .m-margin-r5 {
    margin-right: 50px;
  }

  .m-margin-l10 {
    margin-left: 100px;
  }

  .m-height-100p {
    height: 100%;
  }

  .m-d-none {
    display: none;
  }

  .m-d-ib {
    display: inline-block;
  }

  .m-o-hidden {
    overflow: hidden;
  }

  .m-text-np {
    white-space: nowrap;
  }

  @include media($screen-sm) {
    .m-d-none-sm {
      display: none;
    }
    .m-text-center-sm {
      text-align: center;
    }
    .m-margin-l0-sm {
      margin-left: 0;
    }
    .m-margin-b5-sm {
      margin-bottom: 50px;
    }
    .m-padding-b0-sm {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1 !important;
  }

  50% {
    opacity: 0.5 !important;
  }

  100% {
    opacity: 0 !important;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1 !important;
  }
}

@keyframes fadeOutToNone {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    display: none !important;
    opacity: 0;
  }
}

@keyframes fadeInAppear {
  0% {
    opacity: 0;
    display: inline-block !important;
  }

  50% {
    opacity: 0.5;
    display: inline-block !important;
  }

  100% {
    opacity: 1;
    display: inline-block !important;
  }
}

.fade-out-disappear {
  animation: fadeOutToNone 0.5s ease-in-out forwards;
}

.fade-in-appear {
  animation: fadeInAppear 0.5s ease-in-out 0.6s forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out 1 forwards;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out 0.6s forwards;
}
