{
    "env": {
        "browser": true,
        "jquery": true
    },
    "globals": {
        "skrollr": true,
        "casper": true
    },
    "rules": {
        "indent": 2,
        "no-undef": 2
    }
}
