.experts-say {
	background: $brand-primary;
	color: #ffffff;
    padding: ($spacer * 6) 0 ($spacer * 10) 0;

    .experts-section-info {
        width: 650px;
        margin: auto;

        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
    }

	.experts-hired-container {
		padding-left: 30px;
		padding-top: $spacer*2;

		.experts-hired-at {
			opacity: 0.7;
			flex: 1;
			font-size: 14px;
			line-height: 16px;
		}

		img {
			margin-top: $spacer / 2;
            margin-left: -$spacer * 5;
		}
	}

    #expert-resume {
        .popover-content {
            color: $gray-dark;
        }
    }

	.experts-person {
		display: flex;
		flex-direction: row;
	}

	.experts-name {
		font-weight: 300;
		font-size: 42px;
		line-height: 46px;
	}

	.experts-text {
		font-size: 14px;
	}

	.successful-resumes-share {
        border-color: #fff;
    }

    @media (max-width: $screen-sm-max) {
        .experts-say-wrapper {
            display: flex;
            flex-direction: column;

            .top-col {
                order: 2;
            }

            .bottom-col {
                margin-bottom: $spacer * 3;
            }
        }
    }
}

.experts-say-flex {
    display: flex;
    margin-bottom: $spacer*10;
    flex-direction: row;

    @media screen and (max-width: $screen-sm) {
        flex-direction: column;
        margin-bottom: $spacer*4;
    }
}

.experts-say-flex-col {
    display: flex;
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: $spacer*2;

    .embed-responsive {
        width: 100%;
    }

    .experts-say-flex-vcenter {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        position: relative;

        .rom-tag {
            position: absolute;
            top: -20px;
            right: 80px;
        }
    }

    @media screen and (min-width: $screen-sm) {
        .flex-col-spacer {
            display: flex;
            flex: 1;
        }
    }
}
