@import "./carousel.scss";
@import "./experts-say.scss";
@import "./resume-page.scss";
@import "./casey-neistat.scss";

.successful-resumes-header {
    padding: 65px 0;
    min-height: 535px;
    color: white;
    //background: linear-gradient(180deg, #ffffff 0%, #ffffff 50%, $brand-primary 100%);
    background-size: cover;
    background-position: center;

    .btn {
        border: 0;
    }

    .rom-text {
        color: #808080;
        font-size: 21px;
        font-weight: 300;
        line-height: 24px;
    }

    .rom-date {
        color: #b3b3b3;
        font-size: 14px;
        line-height: 16px;
        font-weight: normal;
        margin-top: 4px;
    }

    .rom-person-name a {
        color: #2dc08d;
        font-size: 42px;
        font-weight: 300;
        line-height: 53px;
    }

    .rom-hired-at {
        color: #808080;
        font-size: 14px;
        line-height: 16px;

        img {
            margin-left: -$spacer/2;
        }
    }

    .rom-description {
        color: #333333;
        font-size: 14px;
        line-height: 16px;
    }

    .successful-resumes-header-readmore {
        @media screen and (max-width: $screen-xs) {
            text-align: center;
        }
    }
}

.successful-resumes-header-image-container {
    position: relative;
    display: inline-block;
}

.successful-resumes-header-image {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
}

.successful-resumes-header-image-tag {
    width: 37%;
    position: absolute;
    top: -10px;
    right: -10px;
}

.popular-resumes {
    overflow: hidden;

    .carousel-control.left {
        left: -35px !important;
    }

    .carousel-control.right {
        right: -35px !important;
    }

    .desc-text {
        max-width: 360px;
    }

    @media screen and (max-width: $screen-sm) {
        .experts-say-flex-col {
            text-align: center;
        }

        .desc-text {
            max-width: 100%;
        }

        img {
            max-width: 100% !important;
        }
    }

    background-image: url(/img/homepage/lines-bg.png);
    background-size: cover;

    .popular-resumes-image {
        box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.3);

        max-height: 565px;
    }

    .popular-resumes-name {
        color: #333333;
        font-size:36px;
        font-weight: 300;
        line-height: 48px;
    }

    .popular-resumes-position {
        color: #808080;
        font-size: 14px;
        line-height: 16px;
    }

    .popular-resumes-description {
        color: #333333;
        font-size:$font-size-base;
/*         line-height: 16px; */
    }
}

.rom-text {
    p {
        margin-bottom: $spacer*3;
    }
}

.rom-image-container {
    position: relative;
    max-width: 100%;

    img {
        width: 100%;
        max-width: 530px;
        box-shadow: 0 3px 150px 0 rgba(0, 0, 0, 0.125);
    }

    .back-image {
        position: absolute;
        z-index: -1;
        transform: scale(0.9) translateX(28%);
    }

    .front-image-container {
        display: inline-block;
        position: relative;

        .show-button {
            position: absolute;
            bottom: 16px;
            right: 16px;
            border-radius: 5px;
            padding: $spacer $spacer*3/2;
            background: #363636;
            color: #fff;
        }
    }
}

#view-resume {
    button.close {
        background: white;
        padding: 6px 8px;
        border-radius: 4px;
        opacity: 1;

        i {
            color: #000;
        }
    }
}

.successful-resumes-cta {
     #subscribe-email {
        margin-right: $spacer;
    }

    @media (max-width: $screen-xs-max) {
        #subscribe-email {
            margin-right: 0;
            margin-bottom: $spacer;
        }
    }
}

.step-wrapper {
    max-width: 210px;
}

.step-circle {
    width: 34px;
    height: 34px;
    background-color: #2DC08D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 100%;
    font-weight: bold;
}

