.successful-resume {
	.successful-resume-name {
		min-height: 42px;
		color: #333333;
		font-family: "Geometria Light";
		font-size: 42px;
		font-weight: 300;
		line-height: 53px;
	}

    &.featured-resume {
        .successful-resume-cta {
            margin-top: $spacer * 6;
        }
    }

    .story-cta {
        font-weight: bold;
        text-decoration: underline;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .story-description {
        max-width: 692px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: $spacer * 8;
        font-size: 16px;
        line-height: 19px;
    }

	.successful-resume-tag-container {
		margin-top: $spacer*3;
		margin-left: -$spacer/2;
	}

	.similar-resumes {
		color: #808080;
		font-size: 14px;
		line-height: 16px;
	}

	.successful-resume-cta {
		max-width: 536px;
		margin-top: 96px;
        margin-left: auto;
        margin-right: auto;

        .cta-text {
            color: #808080;
        }

        form {
            margin: auto;
            max-width: 422px;
        }
	}

	@media screen and (max-width: $screen-xs-max) {
		text-align: center;

		.successful-resume-name {
			margin-top: $spacer * 2;
		}

		.successful-resume-cta {
			margin-top: $spacer * 2;
		}

        .successful-resumes-share {
            justify-content: center;

            .share-cta-text {
                margin-top: $spacer;
            }
        }

        .story-description {
            font-size: 14px;
            color: $gray-dark;
            margin-bottom: $spacer * 6;
        }
	}
}

.successful-resumes-carousel-align {
	display: flex;
	justify-content: center;
}

.back-button {
	i {
		font-size: 25px;
	}

	span {
		position: relative;
		top: -6px;
	}
}

.successful-resume-image-container {
	position: relative;

	.back-image {
		position: absolute;
		z-index: 0;
		transform: rotate(5deg);
	}

	.front-image-container {
		display: inline-block;
		position: relative;

		.show-button {
			position: absolute;
			bottom: 16px;
			right: 16px;
			border-radius: 5px;
			padding: $spacer $spacer*3/2;
			background: #363636;
			color: #fff;
		}
	}

	img {
		max-width: 400px;
		width: 100%;
		box-shadow: 0 3px 75px 0 rgba(0, 0, 0, 0.125);
	}
}

.successful-resumes-share {
    border: 1px solid $border-color;
    padding: $spacer * 2;
    border-radius: 5px;
    max-width: 368px;

	.btn {
        width: 40px;
        height: 40px;
		padding: $spacer/2 $spacer*2;
		margin: 0 0 0 $spacer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
            margin: 0;
        }
	}

	i {
        &:before {
            font-size: 21px;
        }
	}

	&.move-top {
		margin-top: $spacer*7;
	}

    @media (max-width: $screen-xs-max) {
        border: none;
        padding: 0;

        &.move-top {
            margin-top: $spacer*4;
        }
    }
}

.successful-resumes-share-condensed {
    .btn {
        padding: $spacer/2 $spacer*2;
        margin: 0 $spacer/2;
    }

    i {
        margin-left: $spacer;
        position: relative;
        top: -1px;
    }

    &.move-top {
        margin-top: $spacer*9;
    }
}

.infographic-wrapper {
    background-color: #EAF8F3;

    .infographic-title {
        p {
            font-size: 16px;
        }
    }

    .infographic {
        overflow-x: hidden;
        text-align: center;
        cursor: grab;
    }

    @media (min-width: $screen-md-min) {
        padding-top: 150px;
        margin-top: -70px;
    }

    @media (max-width: $screen-xs-max) {
        padding-left: $spacer * 2;
        padding-right: $spacer * 2;

        .infographic-title {
            h1 {
                font-size: 27px;
                line-height: 32px;
                padding-top: $spacer * 5;
            }

            p {
                font-size: 14px;
            }  
        }
    }
    
    // Catch iPad resolution also
    @media (max-width: 1024px) {
        .infographic {
            overflow-x: auto;
        }
    }
}

.worksheet-wrapper {
    padding-top: $spacer * 10;

    @media (max-width: $screen-xs-max) {
        text-align: center;
        padding-top: $spacer * 7;
        padding-bottom: $spacer * 9;

        h2 {
            font-size: 27px;
            line-height: 32px;
        }

        img {
            margin-bottom: 40px;
        }

        a {
            margin-top: $spacer * 3;
            display: inline-block;
        }
    }
}
