{{#extend "layout"}}
    {{#content "title"}}
        Page not found.
    {{/content}}

    {{#content "body"}}
        <nav class="navbar navbar-padded navbar-fixed-top">
            <div class="container-fluid">
                <a
                 class="navbar-brand"
                 href="/">
                    {{> enhancv-logo }}
                </a>

                <div class="nav navbar-right">
                    <a
                     class="btn btn-link"
                     href="http://help.enhancv.com">
                        Help
                    </a>
                    <a
                     class="btn btn-default"
                     href="{{links.get_started}}">
                        Login
                    </a>
                </div>

            </div>
        </nav>

        <div class="section -full m-text-center -error menu-open">
            <div class="container">
                <div class="v-base">
                    <div class="v-middle">
                        <h1>Error 404 <br> This is not the page you are looking for.</h1>

                        <a
                         class="btn btn-default"
                         href="/">
                            Homepage
                        </a>

                        <a
                         class="btn btn-default"
                         href="https://app.enhancv.com">
                            Build your resume
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
