{{#extend "layout"}}
  {{#content "title"}}
    Happy april fools
  {{/content}}

  {{#content "description"}}
    This is the official Enhancv april fools day hoax
  {{/content}}

  {{#content "keywords"}}
    april fools, hoax, funny
  {{/content}}

  {{#content "body"}}

    <div class="modal-open april-fools" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img src="/images/april-fools/green-logo.png" class="enhancv-logo">

            <p>
              Or not, not really.<br>
              No career test can help you find<br>
              the perfect job. But a well-made<br>
              resume will take you a long way.<br>
            </p>

            <span class="ps-text">PS: Happy April Fools</span>

            <div>
              <a href="http://app.enhancv.com/" class="btn btn-primary btn-md text-m invert-color">Get the job you deserve!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  {{/content}}

  {{#content "footer"}}
  {{/content}}

{{/extend}}
