{{#extend "layout"}}
    {{#content "title"}}
        Contact Enhancv
    {{/content}}

    {{#content "description"}}
        If you want to get in touch, please, fill in the contact form or send us an email.
    {{/content}}

    {{#content "keywords"}}
        contacts, get in touch, work with us, write to us, contact form, contact Enhancv
    {{/content}}

    {{#content "body"}}
        <div class="section -green -padding-s menu-open m-text-center header-s contacts-header fixed-header-elements">
            {{> shared_header}}
            <div class="container">
                <div class="v-base">
                    <div class="v-middle">
                        <h1 style="margin: 45px 0 55px 0;">Contact us, we are fun.</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="section -white -padding-m contacts-section menu-open">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-sm-6">
                        <h3 class="section-heading">Write us</h3>
                        <form action="">
                            <div>
                                <input class="form-control" type="text" placeholder="Your name">
                            </div>
                            <div>
                                <input class="form-control" type="email" placeholder="Your email">
                            </div>
                            <div>
                                <textarea class="form-control" placeholder="Just write us about whatever concerns you."></textarea>
                            </div>
                            <div>
                                <button class="button">Send message</button>
                            </div>
                        </form>
                    </div> -->
                    <div class="col-sm-6">
                        <h3 class="section-heading">Work with us</h3>
                        <div class="contact-info">
                            <a class="heading" href="mailto:hello@enhancv.com">hello@enhancv.com</a>
                            <div class="small-divider"></div>
                            <div class="dash"></div>
                            <p>For whatever reason :)</p>
                        </div>
                        <div class="contact-info">
                            <a class="heading" href="mailto:invest@enhancv.com">invest@enhancv.com</a>
                            <div class="small-divider"></div>
                            <div class="dash"></div>
                            <p>If you are interested in backing us.</p>
                        </div>
                        <div class="contact-info">
                            <a class="heading" href="mailto:media@enhancv.com">media@enhancv.com</a>
                            <div class="small-divider"></div>
                            <div class="dash"></div>
                            <p>Any extra info if you are writing about us.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 map">
                        <h3 class="section-heading">Where we are</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.4673999704187!2d23.321821615788412!3d42.69382302195022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa856d859b66a3%3A0x4326cddbb7c99f5d!2sTelefonna+palata!5e0!3m2!1sbg!2sbg!4v1456409044216" width="430" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
