{{#extend "layout"}}
    {{#content "title"}}
        Examples of resumes by Enhancv
    {{/content}}

    {{#content "description"}}
        See some great examples of our amazing resumes and see how yours could look like. Try Enhancv and unlock your potential!
    {{/content}}

    {{#content "keywords"}}
        examples of resumes, examples, resume examples, resume inspiration, cv examples, examples of cv, creative resumes, creative CVs
    {{/content}}

    {{#content "body"}}
        <div class="wrap-examples menu-open">
            <div class="section -green -padding-s m-text-center header-s fixed-header-elements examples-header examples-section">
                {{> shared_header}}
                <div class="container">
                    <div class="v-base">
                        <div class="v-middle">
                            <h1 class="header-title">We'll get you hired!<br/> Prove that you are worthy</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section -green -padding-s example examples-section" id="examples-container">
                <div class="container example-section">
                    <div class="section-info">
                        <div class="modal fade" id="lightbox1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon icon-close-2"></i></button>
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="/images/resume-joro-1.png" alt="Example Resume Georgi Ivanov page 1">
                                        <img src="/images/resume-joro-2.png" class="m-margin-t10" alt="Example Resume Georgi Ivanov page 2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="lightbox2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon icon-close-2"></i></button>
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="/images/resume-john.png" alt="Example Resume John">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="lightbox3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon icon-close-2"></i></button>
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="/images/resume-valya-1.png" alt="Example Resume Valya page 1">
                                        <img src="/images/resume-valya-2.png" class="m-margin-t10" alt="Example Resume Valya page 2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="lightbox4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon icon-close-2"></i></button>
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="/images/resume-yasmin-1.png" alt="Example Resume Yasmin page 1">
                                        <img src="/images/resume-yasmin-2.png" class="m-margin-t10" alt="Example Resume Yasmin page 2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 example-col title-bottom">
                                <a data-toggle="modal" data-target="#lightbox1" class="example-image">
                                    <img src="/images/resume-joro-1.png" alt="">
                                    <span class="zoom-in">
                                      <span class="circle">
                                        <i class="fa fa-search"></i>
                                      </span>
                                    </span>
                                </a>

                                <div class="-padding-m person-data">
                                    <h2 class="person-name">Georgi Ivanov</h2>

                                    <p class="person-job-position">Entrepreneur</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 example-col">
                                <div class="-padding-m person-data">
                                    <h2 class="person-name">Jonathan Seagull</h2>

                                    <p class="person-job-position">Digital Marketer</p>
                                </div>
                                <a data-toggle="modal" data-target="#lightbox2" class="example-image">
                                    <img src="/images/resume-john.png" alt="Resume Example John">
                                    <span class="zoom-in">
                                      <span class="circle">
                                        <i class="fa fa-search"></i>
                                      </span>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 example-col title-bottom">
                                <a data-toggle="modal" data-target="#lightbox3" class="example-image">
                                    <img src="/images/resume-valya-1.png" alt="Resume Example Valya">
                                    <span class="zoom-in">
                                      <span class="circle">
                                        <i class="fa fa-search"></i>
                                      </span>
                                    </span>
                                </a>

                                <div class="-padding-m person-data">
                                    <h2 class="person-name">Valentina Milanova</h2>

                                    <p class="person-job-position">Economist consumed by Wanderlust</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 example-col">
                                <div class="-padding-m person-data">
                                    <h2 class="person-name">Yasmin Tezdzhan</h2>

                                    <p class="person-job-position">19-year-old Student</p>
                                </div>
                                <a data-toggle="modal" data-target="#lightbox4" class="example-image">
                                    <img src="/images/resume-yasmin-1.png" alt="Resume Example Yasmin">
                                    <span class="zoom-in">
                                      <span class="circle">
                                        <i class="fa fa-search"></i>
                                      </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
