{{#extend "layout"}}
    {{#content "title"}}
        FAQ
    {{/content}}

    {{#content "description"}}
        Write something
    {{/content}}

    {{#content "keywords"}}
        Enhancv partners, about our partners, partners, our partners
    {{/content}}

    {{#content "body"}}
        <div id="faq" class="content-wrapper">
            <div class="section -green -padding-s menu-open m-text-center header-s terms-header fixed-header-elements">
                {{> shared_header}}
                <div class="helper"></div>
            </div>
            <div class="section -white -padding-m menu-open terms-section" data-navbar-color-primary>
                <div class="container">
                    <h1 class="heading">FAQ</h1>
                    <small class="update-date">Last updated: August 12, 2016</small>
                    <div class="panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="first-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#first-collapse" aria-controls="first-collapse">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#first-collapse" aria-controls="first-collapse">
                                        Account & Other
                                    </a>
                                </h4>
                            </div>
                            <div id="first-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="first-question">
                                <div class="panel-body">
                                    <p id="resume-gone">
                                        <strong>I cannot find my resume. It seems to be gone.</strong>
                                        First, make sure that you are logged into your account. If you see a 'Login' button in the upper-right corner <a href="https://app.enhancv.com" target="_blank">here</a> that means you are logged out of the platform.
                                        <br>
                                        <br>
                                        If the previous time you registered via email and now you login via Facebook/LinkedIn that would result in creating two separate accounts. That also happens if you first joined, for example, via LinkedIn and are logging in with Facebook. Therefore, check if the previous time you didn't login via a different provider.
                                        <br>
                                        <br>
                                        If neither of those cases help, please contact us (preferably through the Chat button in the bottom-right corner) and we'll do our best to resolve the issue ASAP.
                                    </p>
                                    <p id="contact-us">
                                        <strong>How do I get in contact with you?</strong>
                                        The most convenient way to get in touch or ask for help is after you login into the platform from the Chat button in the bottom-right corner. We try to respond as fast as we can, however, sometimes it might take few hours; even if you close your browser we'll send you the response to your email ;)
                                        <br>
                                        <br>
                                        Otherwise, you can write us at <a href="mailto:hello@enhancv.com">hello@enhancv.com</a> for whatever reason any time of the day. Have in mind that we take significantly more time to reply through this email compared to the integrated Chat option.
                                        <br>
                                        <br>
                                        If you are writing about us and want some extra info use: <a href="mailto:media@enhancv.com">media@enhancv.com</a>.
                                    </p>
                                    <p id="account-delete">
                                        <strong>How can I delete my account?</strong>
                                        Go to the settings page <a href="https://app.enhancv.com/settings" target="_blank">here</a>. Scroll down to the bottom of the page and click the 'Delete account' button.
                                    </p>
                                    <p id="resume-examples">
                                      <strong>Where can I find some example resumes?</strong>
                                      You can find some here: <a href="https://enhancv.com/examples.html" target="_blank">Examples</a>.
                                      <br>
                                      <br>
                                      While you are editing your resume there are examples for the current section in the menu on the left. Just click on the image and you'll see plenty of full-sized examples.
                                      You can also check the the complete resume examples under the section 'Get Inspired' again in the left side menu.
                                    </p>
                                    <p id="student-verify">
                                      <strong>I am not able to verify my student email account? How do I use the student plan?</strong>
                                      If your university email doesn't end with .edu then you'll have to write us
                                      and provide your full student email address, so that we can add it to our registers.
                                      After that you can verify it by clicking on the link we send you in an email to that address.
                                    </p>
                                    <p id="mobile-version-msg">
                                      <strong>I am on my desktop computer and I am still seeing the message 'The viewport size is too small or you are on a mobile device'. Why and how do I fix this?</strong>
                                      In most of the cases this means that you have to open the site in fullscreen or expand the window.
                                      The message is shown whenever there isn't enough space available in the window to display the editor properly.
                                      If you have any sidebars from your OS (OSX or Mac OS for example) that are placed vertically they can reduce the available space for the window,
                                      so in these cases we recommend that you place them in a horizontal position if you still see the message appearing.
                                      Our mobile version is coming soon and these problems are only temporary.
                                    </p>
                                    <p id="resume-onboarding-data">
                                      <strong>Is the information I choose at the beginning about my industry and experience level related in any way to the resume template and content I later get?</strong>
                                      No. We ask those question for purely statistical purposes and has no effect over the type of resume template or information that get's initially loaded into it.
                                    </p>
                                    <p id="resume-onboarding-data-2">
                                      <strong>I have experience in more than one industry. How that I specify that in the beginning?</strong>
                                      As we said in the question above, those answers don't change the resume format or platform functionality in any way. Even if you are a lawyer and you pick that your industry is healthcare that won't influence your experience with Enhancv.
                                    </p>
                                    <p id="having-doubts">
                                      <strong>Why should I use your resume rather than stick a 'normal plain resume/CV'? What are the benefits?</strong>
                                      Here are the key advantages, for you, of using our platform:
                                      <br>
                                      <br>
                                      - Enhancv helps you create performance-based resumes. Unlike a generic list with responsibilities, the tangible results tell employers exactly how good you are at what you do.
                                      <br>
                                      - Enhancv gives you valuable tips & examples while writing your resume. Our guidelines summarize the best career advices out there from some of the most influential talent managers, career coaches and entrepreneurs.
                                      <br>
                                      - Enhancv lets you add personal touch by customizing your resume design the way you like it.
                                      <br>
                                      - Enhancv's smart text analyzers instantly discover all mistakes you’ve made and automatically give you suggestions on how to improve your resume (Coming Soon).
                                      <br>
                                      - Enhancv's resume format built with all industry guidelines in mind and is readable by most Applicant Tracking Systems.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="second-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#second-collapse" aria-controls="second-collapse">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#second-collapse" aria-controls="second-collapse">
                                        Payments & Billing
                                    </a>
                                </h4>
                            </div>
                            <div id="second-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="second-question">
                                <div class="panel-body">
                                    <p id="payment-methods">
                                      <strong>How can I pay? What are the available payment options?</strong>
                                      Payments are processed via Braintree. We accept all popular credit and debit cards
                                      (Visa, MasterCard, Maestro, Discover) as well as PayPal. All your credit card info is safely stored (see <a href="https://enhancv.com/privacy.html" target="_blank">Privacy Policy</a>) for subsequent charges.
                                      <br>
                                      <br>
                                      You can see our plans here: <a href="https://app.enhancv.com/plans" target="_blank">Plans</a>. You have to be logged-in first.
                                    </p>
                                    <p id="rejected-card">
                                      <strong>Why is my credit/debit card rejected? (a 'Processor declined' error)</strong>
                                      First, make sure that you've entered the card number, CCV and expiration date correctly. The name and address under billing should be the same as the cardholder because our payment processor does fraud-detection. A mismatch between billing and cardholder name is a frequent reason for a decline.
                                      <br>
                                      <br>
                                      Sometimes transactions are declined for no concrete reason and unfortunately we don't have any information on why that happens. We advise that you try again in a few minutes. If the issue persists, either call your bank or try paying via PayPal.
                                    </p>
                                    <p id="payment-model">
                                      <strong>Is this a one-time payment, or is it recurring?</strong>
                                      ​Our payments are recurring. We offer a monthly subscription and an annual one which gives you 20% OFF. There is a separate plan for students.
                                      <br>
                                      <br>
                                      You can cancel your subscription at any time and you will retain full access until the end of the billing period. You can later resubscribe at any moment you wish.
                                      <br>
                                      <br>
                                      We recommend that you follow our social profiles in <a href="https://www.facebook.com/enhancv/" target="_blank">Facebook</a> and <a href="https://twitter.com/enhancv" target="_blank">Twitter</a>
                                      because we often publish promotional offers there.
                                    </p>
                                    <p id="cancel-subscription">
                                      <strong>How can I cancel my subscription?</strong>
                                      Login and go to this link: <a href="https://app.enhancv.com/settings/billing" target="_blank">Billing</a>.
                                      Then click on 'Suspend subscription'. You will have full access until the end of the billing period.
                                    </p>
                                    <p id="apply-promocode">
                                      <strong>I have a valid promocode. How do I use it?</strong>
                                      You first have to navigate to the <a href="https://app.enhancv.com/plans" target="_blank">Plans</a> page.
                                      Before choosing a plan you have to enter the promocode in the box below the plans and clicking Apply.
                                      You will see the prices change accordingly. Select and plan and enter your billing data.
                                      <br>
                                      <br>
                                      You will be charged the discounted price (or even nothing) depending on the promotion.
                                      After the promotion period expires (usually that is a month) you will be charged the full price unless you have canceled your subscription beforehand!
                                    </p>
                                    <p id="payment-refund">
                                      <strong>Do you issue refunds?</strong>
                                      To get a refund you should contact us and we will investigate the matter and explain the process.
                                    </p>
                                    <p id="payment-invoice">
                                      <strong>I need an invoice for my payment. Where and when can I view or download it?</strong>
                                      When our payment processor notifies us that your transaction is settled, we will send you an email with the invoice. That usually takes about 12 hours.
                                      If you want to download your invoice later you can do it from the <a href="https://app.enhancv.com/settings/billing" target="_blank">Billing page</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="third-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#third-collapse" aria-controls="third-collapse">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#third-collapse" aria-controls="third-collapse">
                                        Resume & Editor
                                    </a>
                                </h4>
                            </div>
                            <div id="third-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="third-question">
                                <div class="panel-body">
                                    <p id="pro-features">
                                      <strong>Which are the pro/paid features that I'm using and how can I remove them?</strong>
                                      ​You can go to the <a href="https://app.enhancv.com/plans" target="_blank">Plans</a> page and click on 'Remove Premium Features'.
                                    </p>
                                    <p id="logo-removal">
                                      <strong>Can I remove your logo from the bottom of the resume page?</strong>
                                      Yes :) Choose the Layout option from the sidebar and switch the 'Remove Logo' option. Have in mind that this is a Pro feature.
                                    </p>
                                    <p id="resume-rearrangement">
                                      <strong>Can I rearrange the sections and the items in them?</strong>
                                      Yes. You can drag the items within a section to reorder them. To move entire sections (e.g. Experience, Education) go to 'Rearrange/Edit' in the sidebar. The platform automatically calculates how to position entries across pages, so sometimes a single section could be spread across multiple pages.
                                    </p>
                                    <p id="toggle-fields">
                                      <strong>How can I hide the date, location or link in a section item?</strong>
                                      Just click the section item you want to change, then on the wheel icon above it. There you'll see all the show/hide options.
                                    </p>
                                    <p id="resume-history">
                                      <strong>Can I revert an unwanted change I made to my resume?</strong>
                                      Yes, you can. We keep a history of the last actions you made.
                                      You can use it by clicking the Undo and Redo buttons which are located in the upper part of the sidebar. Changes made in previous browser sessions cannot be reverted unfortunately.
                                    </p>
                                    <p id="resume-fontsize">
                                      <strong>Can I change the font size of the texts and headings in the resume?</strong>
                                      Unfortunately, we don't support that. We are working on a new condensed layout, however, that will be released soon!
                                    </p>
                                    <p id="resume-resizing">
                                      <strong>Can I resize the different sections and items in them?</strong>
                                      Unfortunately, we don't support that. We are working on a new condensed layout, however, that will be released soon!
                                    </p>
                                    <p id="resume-templates">
                                      <strong>Do you have predefined templates with different styles?</strong>
                                      Not for now, but we give you a complete freedom of how you arrange your sections, which fields are visible, what colors and fonts you choose as well as what icons you put.
                                      Different resume layouts including a condensed variant (one that fits more text on one page) are coming soon.
                                    </p>
                                    <p id="multiple-resumes">
                                      <strong>Can I have multiple resumes in one account?</strong>
                                      Yes you can. For the Free plan you can have 2 different resumes in your dashboard. If you need more than 2 you'll have to use one of our paid plans!
                                    </p>
                                    <p id="resume-export">
                                      <strong>Can I export my resume as a MS Word document or HTML code?</strong>
                                      No. We've picked PDF because it is the only one that guarantees your resume will always look good across devices. It is also a format that everyone accepts!
                                    </p>
                                    <p id="resume-missing-info">
                                      <strong>Why is my resume shortened after choosing the Free plan to download it?</strong>
                                      You were probably using Pro features and in order to download without upgrading you have to hide/remove those. You most definitely clicked on 'Remove Premium Features'.
                                    </p>
                                    <p id="resume-single-date">
                                      <strong>How do I leave a single date and not a period?</strong>
                                      Sure. Just leave the second date (the 'to' date) empty.
                                    </p>
                                    <p id="certificate-images">
                                      <strong>How can I upload an image for each of my certificates?</strong>
                                      We don't have that functionality. It is a little hack, but you can use the Books section for that ;)
                                    </p>
                                    <p id="other-problem">
                                      <strong>I am experiencing other problems. What do I do?</strong>
                                      If you don't have any unsaved changes, try to refresh the page a couple of times.
                                      <br>
                                      <br>
                                      If this doesn't help, please get in touch with us and we'll help ASAP (preferably through the Chat button in the bottom-right corner).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="subscribe" class="section -green -padding-xxl m-text-center -pre-footer">
                <img src="/images/footer-img-03.png" class="media-fimage" alt="">
                <img src="/images/footer-img-02.png" class="media-fimage -right -bottom" alt="">

                <div class="container">
                  <!-- Begin MailChimp Signup Form -->
                  <div id="mc_embed_signup">
                    <form action="//enhancv.us3.list-manage.com/subscribe/post?u=e9f971ca5567251cc71a5e56e&amp;id=25c27d778b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                        <h2 class="m-margin-t0 -enlarge">Get Enhancv News</h2>
                        <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Your email here" required>
                        <span class="notifier">* You can unsubscribe at any time</span>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e9f971ca5567251cc71a5e56e_55ae08484a" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-white btn-lg text-m"></div>
                      </div>
                    </form>
                  </div>
                  <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
