{{#extend "layout"}}
    {{#content "title"}}
        FAQ
    {{/content}}

    {{#content "description"}}
        Write something
    {{/content}}

    {{#content "keywords"}}
        Enhancv partners, about our partners, partners, our partners
    {{/content}}

    {{#content "body"}}
        <div class="content-wrapper">
            <div class="section -green -padding-s menu-open m-text-center header-s terms-header fixed-header-elements">
                {{> shared_header}}
                <div class="helper"></div>
            </div>
            <div class="section -white -padding-m menu-open terms-section" data-navbar-color-primary>
                <div class="container">
                    <h1 class="heading">FAQ</h1>
                    <small class="update-date">Last updated: June 24, 2016</small>
                    <div class="panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="first-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#first-collapse" aria-controls="first-collapse">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="first-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="first-question">
                                <div class="panel-body">
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="second-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#second-collapse" aria-controls="second-collapse">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="second-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="second-question">
                                <div class="panel-body">
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="third-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#third-collapse" aria-controls="third-collapse">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="third-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="third-question">
                                <div class="panel-body">
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="forth-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#forth-collapse" aria-controls="forth-collapse">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="forth-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="forth-question">
                                <div class="panel-body">
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="fifth-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#fifth-collapse" aria-controls="fifth-collapse">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="fifth-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fifth-question">
                                <div class="panel-body">
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="sixth-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#sixth-collapse" aria-controls="sixth-collapse">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="sixth-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sixth-question">
                                <div class="panel-body">
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="seventh-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#seventh-collapse" aria-controls="seventh-collapse">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="seventh-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="seventh-question">
                                <div class="panel-body">
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="eight-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#eight-collapse" aria-controls="eight-collapse">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="eight-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="eight-question">
                                <div class="panel-body">
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="ninth-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#ninth-collapse" aria-controls="ninth-collapse">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="ninth-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ninth-question">
                                <div class="panel-body">
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="tenth-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#tenth-collapse" aria-controls="tenth-collapse">
                                        Collapsible Group Item #1aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                    </a>
                                </h4>
                            </div>
                            <div id="tenth-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="tenth-question">
                                <div class="panel-body">
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                    <p>
                                        <strong>Welcome to Enhancv</strong>
                                        ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                                        <br>
                                        <br>
                                        By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                                    </p>
                                    <p>
                                        <strong>Accounts</strong>
                                        When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private
                                        information, your resumes and billing information are safe.
                                        <br>
                                        <br>
                                        We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="subscribe" class="section -green -padding-xxl m-text-center -pre-footer">
                <img src="/images/footer-img-03.png" class="media-fimage" alt="">
                <img src="/images/footer-img-02.png" class="media-fimage -right -bottom" alt="">

                <div class="container">
                    <h2 class="m-margin-t0 -enlarge">Get Enhancv News</h2>
                    <form action="">
                        <input type="text" class="form-control" placeholder="Your email here">
                        <span class="notifier">* You can unsubscribe at any time</span>
                        <button type="submit" class="btn btn-white btn-lg text-m">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
