{{#extend "layout"}}
    {{#content "title"}}
        FAQ
    {{/content}}

    {{#content "description"}}
        Write something
    {{/content}}

    {{#content "keywords"}}
        Enhancv partners, about our partners, partners, our partners
    {{/content}}

    {{#content "body"}}
        <div id="faq" class="content-wrapper">
            <div class="section -green -padding-s menu-open m-text-center header-s terms-header fixed-header-elements">
                {{> shared_header}}
                <div class="helper"></div>
            </div>
            <div class="section -white -padding-m menu-open terms-section" data-navbar-color-primary>
                <div class="container">
                    <h1 class="heading">FAQ</h1>
                    <small class="update-date">Last updated: June 24, 2016</small>
                    <div class="panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="first-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#first-collapse" aria-controls="first-collapse">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#first-collapse" aria-controls="first-collapse">
                                        Account & Other
                                    </a>
                                </h4>
                            </div>
                            <div id="first-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="first-question">
                                <div class="panel-body">
                                    <p id="resume-gone">
                                        <strong>I am not able to find my resume. It seems to be gone. Why has it disappeared?</strong>
                                        ​There can be various reasons why you can't see your resume at first after opening our platform.
                                        <br>
                                        <br>
                                        The first one can be that you are probably signed out of your profile.
                                        If you see a button labeled 'Login' in the upper right corner of the screen that means you are logged out of the website.
                                        <br>
                                        <br>
                                        Another reason for this could be that you have created more than one different accounts in the platform and that you are currently logged in the wrong one.
                                        Most of the times this is caused by a confusion that if you have an email account by us with a password and use the facebook or linkedin buttons for login you will be logged into that particular account, which is wrong.
                                        The first time you use the facebook or linkedin buttons and give the permissions in the next window a new account will be created for you in our platform, pre-filled with the data we can collect from these social networks.
                                        This is because most of the times the email addresses you are registered with in these social networks are different than the one you use to register an email account with password by us
                                        and simply because most of our users want to have more than one account without registering with a new email address for these profiles.
                                        When you use these social buttons for the second time you will be logged in the corresponding account in our platform.
                                        <br>
                                        <br>
                                        If none of the above cases seems to be your's than probably we are experiencing some technical problem
                                        or maybe there is something else that is wrong with your account and you should contact us so we can check what is wrong and get it fixed.
                                    </p>
                                    <p id="contact-us">
                                        <strong>How do I get in contact with you?</strong>
                                        The recommended way to get support and help from us, if you already have an account,
                                        is to log into it and use the Intercom integration chat we offer by clicking the question mark icon on a black background in the lower right corner of your screen.
                                        <br>
                                        <br>
                                        Otherwise to get in touch with us you can write to us at <a href="mailto:hello@enhancv.com">hello@enhancv.com</a> for whatever reason any time of the day.
                                        <br>
                                        <br>
                                        If you are interested in backing us please use this email address: <a href="mailto:invest@enhancv.com">invest@enhancv.com</a>.
                                        <br>
                                        <br>
                                        If you are writing about us and want some extra info use: <a href="mailto:media@enhancv.com">media@enhancv.com</a>.
                                    </p>
                                    <p id="account-delete">
                                        <strong>How can I delete my account?</strong>
                                        If you want to remove your profile by us,
                                        you have to first log into it from the login popup window then go to this link: <a href="https://app.enhancv.com/settings" target="_blank">My Account</a>.
                                        <br>
                                        <br>
                                        Once you are there and you scroll down to the bottom of the page and you'll see a 'Delete account' button.
                                        After clicking it, you'll have to confirm the delete by writing the word DELETE in the input and clicking the 'Terminate' button and your account will be deleted permanently.
                                    </p>
                                    <p id="resume-examples">
                                      <strong>Where can I find some examples resumes?</strong>
                                      You can find some example resumes and get inspired here: <a href="https://enhancv.com/examples.html" target="_blank">Examples</a>.
                                      <br>
                                      <br>
                                      There are also examples appearing for most of the different sections in our platform in the main left toolbar under the section 'Current Example'.
                                      You can also view the full resume examples under the section 'Get Inspired' in the same toolbox of the editor by clicking on the resume thumbnail image.
                                    </p>
                                    <p id="student-verify">
                                      <strong>I am not able to verify my student email account? How do I use the student plan?</strong>
                                      If your university student email doesn't bare a domain ending in .edu then you have to write to our support
                                      and provide an university email domain that is valid for all students of this university or faculty and we will add it to our registers.
                                      <br>
                                      <br>
                                      Once your university's email domain is added to our records, you can start inviting your fellow students.
                                      When you reach the required registered students count, which you can view from the platform while inviting, the student plan will be unlocked for all people in this university or faculty.
                                      The sooner you reach the count the sooner the plan will be unlocked for all students.
                                    </p>
                                    <p id="mobile-version-msg">
                                      <strong>I am on my desktop computer and I am still seeing the message 'Mobile version is coming soon'. Why and how do I fix this?</strong>
                                      In most of the cases this means that you have to open the site in fullscreen.
                                      This is a message that gets shown when there isn't enough space available in the window to display the editor properly.
                                      <br>
                                      <br>
                                      Your window should not be resized and it should be spanned to full width and height if possible
                                      because the resolution of your computer is not good enough to provide enough space to accommodate the resume editor properly and since we still do not offer a mobile version, for the time being, this is the only option to work with our platform.
                                    </p>
                                    <p id="resume-onboarding-data">
                                      <strong>Is the information I choose in the beginning about my field of work and education related to a resume template and content I will get later?</strong>
                                      No. The information you choose in the onboarding screens is used by us for demographic information and customer analysis purposes only
                                      and for now has no effect over the type of resume template or information that get's initially loaded into it.
                                    </p>
                                    <p id="having-doubts">
                                      <strong>All good just having second thoughts if I should use this or stick to using a normal plain resume/CV. What are the benefits?</strong>
                                      If you are having doubts about using a platform of this sort here are some the key points that you can benefit from by creating a resume with it:
                                      <br>
                                      <br>
                                      - Enhancv helps you create performance-based resumes that unveil the real person behind them by using more expressive sections and visual elements that are easily readable and more comprehensible than just plain text;
                                      <br>
                                      - Enhancv helps you customize your resume to each job you are applying for and triple your interview chances;
                                      <br>
                                      - Enhancv gives you valuable tips & examples. Our guidelines summarize some of the best career advice out there from some of the most influential talent managers, career coaches and entrepreneurs;
                                      <br>
                                      - Enhancv lets you add your personal touch by customizing your resume design the way you like it most;
                                      <br>
                                      - Enhancv's smart text analyzers instantly discover all mistakes you’ve made and automatically give you suggestions how to improve them (Coming Soon);
                                      <br>
                                      - After polishing the content of your resume you can download and save it as a .pdf file which is the preferred resume format by most of the companies out there;
                                      <br>
                                      - Enhancv's resume format is readable by most Applicant Tracking Systems, as it was built upon the most-used guidelines.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="second-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#second-collapse" aria-controls="second-collapse">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#second-collapse" aria-controls="second-collapse">
                                        Payments & Billing
                                    </a>
                                </h4>
                            </div>
                            <div id="second-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="second-question">
                                <div class="panel-body">
                                    <p id="payment-methods">
                                      <strong>How can I pay? What are the available payment options?</strong>
                                      Our payments use Braintree as a gateway payment provider. Through this gateway we accept payments with most of the popular credit and debit cards
                                      (Visa, MasterCard, Maestro, American Express, Discover, JCB, Diner's Club, Carte Blanche, China UnionPay, Laser, Switch, Solo) and payments with PayPal.
                                      We also accept EMV (i.e. chip and pin) and 3D Secure cards for payments.
                                      <br>
                                      <br>
                                      The Enhancv platform complies with latest PCI DSS rules and it is validated through Braintree's partner, Security Metrics.
                                      <br>
                                      <br>
                                      An acceptable decline ratio for credit card payments is about 10%, but this may fluctuate so the recommended payment method by us is PayPal as it has a really good success rate.
                                      <br>
                                      <br>
                                      You can access and see our available payment plans and current promotion offers here: <a href="https://app.enhancv.com/plans" target="_blank">Plans</a>.
                                      You have to be logged into the system to view this page.
                                    </p>
                                    <p id="legacy-payments">
                                      <strong>I paid for a whole year a few months ago and now you have recurring payments. Am I required to pay again?</strong>
                                      ​Since March 2016 we enrolled our recurring monthly and yearly payments.
                                      For all the users that paid for a full year on the previous payment scheme we decided to give 3 months free access.
                                      If you are one of these users, after that period, you are going to be transferred to the Free plan
                                      and if you wish to continue using our pro features you will have to make a subscription with the new payment scheme we have enrolled.
                                    </p>
                                    <p id="payment-model">
                                      <strong>Is this a one-time payment, or is it recurring?</strong>
                                      ​Our payments are recurring. We offer a monthly recurring subscription and an annual one which gives you 20% OFF from every monthly payment for the whole year.
                                      <br>
                                      <br>
                                      You can cancel your subscription at any time and you won't be billed any more. You can later resubscribe at any moment you wish.
                                      If you want to use our paid services for one occasion only we suggest that you make a monthly subscription and cancel it afterwards so you will only get billed for one month.
                                      <br>
                                      <br>
                                      We recommend that you follow our social profiles in <a href="https://www.facebook.com/enhancv/" target="_blank">Facebook</a> and <a href="https://twitter.com/enhancv" target="_blank">Twitter</a>
                                      because we often publish promotional offers and discount promocodes for free access there.
                                    </p>
                                    <p id="cancel-subscription">
                                      <strong>How can I cancel my subscription?</strong>
                                      You first must be logged into your account. You then have to follow this link: <a href="https://app.enhancv.com/settings/billing" target="_blank">Billing</a>.
                                      In this settings section you will find button labeled 'Suspend subscription'.
                                      Click it and confirm the unsubscribe. You will still have access to pro features for the paid period
                                      but afterwards you won't be billed again and you won't be able to download your resume without resubscribing if it contains pro features.
                                    </p>
                                    <p id="apply-promocode">
                                      <strong>I have a valid promocode. How do I use it?</strong>
                                      You first have to navigate to the <a href="https://app.enhancv.com/plans" target="_blank">Plans</a> page.
                                      Before choosing a plan you have to apply the promocode by entering it's value in the promocode input below the plans boxes and clicking Apply.
                                      You should see the plan prices change accordingly afterwards. Now please choose the plan you want and continue by entering a valid payment method.
                                      You won't get charged the full price or you won't be charged at all for the promotional period depending on the promocode discount percentage.
                                      After the promocode period expires you will be charged the full price of the plan unless you have canceled your subscription beforehand!
                                    </p>
                                    <p id="payment-refund">
                                      <strong>How can I get a refund?</strong>
                                      To get a refund you should contact us and we will investigate the matter and explain the process.
                                    </p>
                                    <p id="payment-invoice">
                                      <strong>I need an invoice for my payment. Where and when can I view or download it?</strong>
                                      Some time after a successful payment you will be sent an email containing an invoice pdf file for the payment attached in it.
                                      If you want to download it later you can also go to the  <a href="https://app.enhancv.com/settings/billing" target="_blank">Billing</a> page
                                      and scroll down to it's bottom and click on the download icon in the Receipt column of the Recent Payments History table.
                                      There can be a time period of a 1-2 hours right after the payment is executed when the payment invoice can be unavailable for download in the Billing section but it should be downloadable afterwards.
                                      Invoices won't be available for download for payments or promotions made before we enrolled our recurring payment model.
                                    </p>
                                    <p id="billing-notification">
                                      <strong>Do I get notified before I get billed? When and how will I get a notice?</strong>
                                      Yes. You should receive an email 7 days before we are about to charge you every month unless you have canceled your subscription in that month.
                                      Please also check the Spam folder in your email clients as some messages can end up in it by mistake.
                                    </p>
                                    <p id="payment-error">
                                      <strong>I am seeing a 'Processor declined' error message when I try to pay. What does this mean?</strong>
                                      ​This generic response indicates that your bank is unwilling to accept the transaction.
                                      The reasons vary. You will need to contact your bank for more details.
                                    </p>
                                    <p id="card-rejected">
                                      <strong>For some reason my card keeps getting rejected? What can I do to pay?</strong>
                                      ​An acceptable decline ratio for credit card payments is about 10%, but this may fluctuate
                                      so this means that not all credit and debit card payments succeed and the reasons vary - the card may not be compatible or it may have expired,
                                      there may be insufficient funds in it or your bank may have declined the transaction.
                                      In these cases we recommend that you contact the bank that issued the card to get more information or just use a PayPal account for making the payment.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="third-question">
                                <h4 class="panel-title">
                                    <div class="plus-wrapper" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#third-collapse" aria-controls="third-collapse">
                                        <span class="horizontal"></span>
                                        <span class="vertical"></span>
                                    </div>
                                    <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#third-collapse" aria-controls="third-collapse">
                                        Resume & Editor
                                    </a>
                                </h4>
                            </div>
                            <div id="third-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="third-question">
                                <div class="panel-body">
                                    <p id="pro-features">
                                      <strong>Which are the pro features that I'm using and how can I remove them?</strong>
                                      ​You can go to the <a href="https://app.enhancv.com/plans" target="_blank">Plans</a> page and click on the 'Remove Premium Features' button.
                                      It will open a popup with a list of the premium features used where you can confirm their removal.
                                      If you choose to remove them you can always undo the action immediately afterwards by clicking the Undo button to the left in the resume editor page.
                                    </p>
                                    <p id="logo-removal">
                                      <strong>Can I remove your logo from the bottom of the resume pages?</strong>
                                      Yes. Just choose the Layout menu from the main toolbox to the left in the editor and after that click on the switch named Remove Logo.
                                      This is a pro feature and you will be required to pay to download your resume after using it!
                                    </p>
                                    <p id="resume-rearrangement">
                                      <strong>Can I rearrange the sections and the items in them?</strong>
                                      Yes. You can drag the items in a section to reorder them by clicking and holding your left mouse button near the corners of the item box.
                                      You can use the left menu item 'Rearrange/Edit' to change the section positions or delete sections in the resume.
                                      You can also add different sections from the left toolbox menu when you click the '+New Sections' menu item.
                                    </p>
                                    <p id="toggle-fields">
                                      <strong>How can I hide the date, location or link in a section item?</strong>
                                      Just click the section item you want to change and click on the last icon of a cogwheel from the upper small toolbox above it.
                                      From there you can show/hide different parts of the current section item including date, location and link.
                                    </p>
                                    <p id="resume-history">
                                      <strong>Can I revert an unwanted change I made to my resume and how?</strong>
                                      Yes, you can. We keep a history of the last actions you made.
                                      You can use it by clicking the Undo and Redo buttons which are located in the upper part of the main toolbox to the left in the editor.
                                    </p>
                                    <p id="resume-fontsize">
                                      <strong>Can I change the font size of the texts and headings in the resume?</strong>
                                      We currently do not offer the option to change the font size of the resume text and headings.
                                      You can try to change the font type to a more condensed one from the Fonts section in the left main toolbox. Most of the fonts are considered a paid feature mind you.
                                    </p>
                                    <p id="resume-resizing">
                                      <strong>Can I resize the different sections and items in them?</strong>
                                      For now we do not offer the possibility to resize the sections or their items and the margins between them.
                                      But we are considering making a condensed version of the resume and the possibility to switch from condensed to relaxed version in the near future. So stay tooned.
                                    </p>
                                    <p id="resume-templates">
                                      <strong>Do you have predefined templates with different styles?</strong>
                                      No. For now we do not offer different resume templates for different professions. It is something that will be implemented in the near future.
                                    </p>
                                    <p id="multiple-resumes">
                                      <strong>Can I have multiple resumes in one account?</strong>
                                      Sorry for now you have to create a new profile for a new resume.
                                      But we are currently working on multiple resumes per account and resume duplication with a single click.
                                      This is one of the main reasons why we decided to change our payments to a subscription model.
                                    </p>
                                    <p id="resume-export">
                                      <strong>Can I export my resume as a MS Word document or HTML code?</strong>
                                      No. We provide only export to pdf files for now because it is the expected standard for resumes at this point.
                                    </p>
                                    <p id="resume-missing-info">
                                      <strong>Why is my resume info cut down after choosing the Free plan to download it?</strong>
                                      This happened because you have used paid features in your resume and you have chosen the Free plan.
                                      You must have no pro features in order to download your pdf.
                                      This is why you are offered to remove all the paid features in a popup window that opens after you click on the 'Remove Premium Features' button on the Plans page.
                                      <br>
                                      <br>
                                      After you confirm the remove we strip all paid features for you.
                                      One of the rules for using the Free plan is that you can't have more that 15 section items for the whole resume.
                                      For example one language in the Language section and one passion entry in the Passions section are considered to be two section items.
                                      So we strip the last 15 section items added.
                                      That's why your resume info gets stripped after removing pro features.
                                      <br>
                                      <br>
                                      You can undo the removal action by clicking on the Undo button in the upper part of the main left toolbar,
                                      but only if you haven't made a lot of other changes afterwards because we only keep a limited history of the last changes made to the resume.
                                    </p>
                                    <p id="resume-single-date">
                                      <strong>How do I leave a single date and not a date period in a resume section item?</strong>
                                      Yes, you are able to do that. You just have to leave the 'to' period dropdown controls empty and select values only for the 'from' controls in the date-picker popover toolbox.
                                    </p>
                                    <p id="certificate-images">
                                      <strong>How can I upload an image for each of my certificates?</strong>
                                      If you try to use the certificates section you won't be able to do this for now.
                                      But if you use the books section and rename it's heading to Certificates, then you'll have the possibility to upload images to every entry.
                                    </p>
                                    <p id="gpa-images">
                                      <strong>What does GPA stand for?</strong>
                                      GPA means grade point average. This is the average grade score received for the whole period of study in one educational facility.
                                    </p>
                                    <p id="other-problem">
                                      <strong>I am experiencing problems with my resume and none of the above questions refers to them. What do I do?</strong>
                                      Please try to refresh the page a couple of times. You can press the Ctrl+R key combination a couple of times.
                                      This way you will make sure you are using the latest version of our platform and not cached old copy of the editor.
                                      <br>
                                      <br>
                                      If this doesn't help and you are still having trouble working with the editor,
                                      you can get in touch with our support team by using the Intercom help chat in the editor if you have a profile with us
                                      or by writing us an email explaining the difficulties you are having.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="subscribe" class="section -green -padding-xxl m-text-center -pre-footer">
                <img src="/images/footer-img-03.png" class="media-fimage" alt="">
                <img src="/images/footer-img-02.png" class="media-fimage -right -bottom" alt="">

                <div class="container">
                  <!-- Begin MailChimp Signup Form -->
                  <div id="mc_embed_signup">
                    <form action="//enhancv.us3.list-manage.com/subscribe/post?u=e9f971ca5567251cc71a5e56e&amp;id=55ae08484a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                        <h2 class="m-margin-t0 -enlarge">Get Enhancv News</h2>
                        <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Your email here" required>
                        <span class="notifier">* You can unsubscribe at any time</span>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e9f971ca5567251cc71a5e56e_55ae08484a" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-white btn-lg text-m"></div>
                      </div>
                    </form>
                  </div>
                  <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
