{{#extend "layout"}}
    {{#content "title"}}
        Jobs at Enhancv
    {{/content}}

    {{#content "description"}}
        Do you want to join a motivated and talented team of entrepreneurs and talented product builders? Write to us and we will get in touch if you are a good match for us.
    {{/content}}

    {{#content "keywords"}}
        jobs, careers, job openings, jobs at Enhancv, open positions, hire
    {{/content}}

    {{#content "body"}}
        <div class="content-wrapper">
            <div class="section -green -padding-s m-text-center header-s job-header fixed-header-elements">
                {{> shared_header}}
                <div class="container">
                    <div class="v-base">
                        <div class="v-middle">
                            <h1 style="margin: 33px 0 10px 0;">
                                We will hire you. <br/> Prove that you are worthy
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section -white -padding-m" data-navbar-color-primary>
                <div class="container job-list-section">
                    <div class="section-info">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Why do we exist?</h2>
                            </div>
                            <div class="col-sm-6">
                                <p>We've seen a lot of amazing designers, engineers and young prodigies that are dissatisfied with their current job or job prospects, simply because they aren't able to strongly present themselves.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
