{{#extend "layout"}}
    {{#content "title"}}
        Biz Dev Partners at Enhancv
    {{/content}}

    {{#content "description"}}
        Our partners back us up, anytime, anywhere.
    {{/content}}

    {{#content "keywords"}}
        Enhancv partners, about our partners, partners, our partners
    {{/content}}

    {{#content "body"}}
        <div class="section -green -padding-s menu-open m-text-center header-s partners-header fixed-header-elements">
            {{> shared_header}}
            <div class="container">
                <div class="v-base">
                    <div class="v-middle">
                        <h1 style="margin: 45px 0 55px 0;">They back us up, anytime, anywhere.</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section -white -padding-m menu-open partners-section">
            <div class="container partners-logos">
                <div class="row row-centered">
                    <div class="col-sm-3 col-xs-12 col-centered col-fixed">
                        <a href="http://softuni.bg" class="partner-link"><img style="width: 70%;" src="/images/partners/softuni-logo.png" alt="Software University logo"></a>
                    </div>
                    <div class="col-sm-3 col-xs-12 col-centered col-fixed">
                        <a href="http://esn.org" class="partner-link"><img style="width: 100%;" src="/images/partners/esn-bg-logo.jpg" alt="Erasmus Student Network logo"></a>
                    </div>
                    <div class="col-sm-3 col-xs-12 col-centered col-fixed">
                        <a href="http://aiesec.bg" class="partner-link"><img style="width: 100%;" src="/images/partners/aiesec-logo.png" alt="AIESEC Bulgaria logo"></a>
                    </div>
                    <div class="col-sm-3 col-xs-12 col-centered col-fixed">
                        <a href="https://www.facebook.com/via.juvenis/" class="partner-link"><img src="/images/partners/bya-logo.png" alt="Bulgarian Youth Association logo"></a>
                    </div>
                    <div class="col-sm-3 col-xs-12 col-centered col-fixed">
                        <a href="http://startitsmart.com" class="partner-link"><img src="/images/partners/sis-logo.png" alt="Start It Smart logo"></a>
                    </div>
                    <div class="col-sm-3 col-xs-12 col-centered col-fixed">
                        <a href="http://11.me" class="partner-link"><img style="width: 100%;" src="/images/partners/eleven-logo.png" alt="Eleven Accelerator Venture Fund logo"></a>
                    </div>
                    <div class="col-sm-3 col-xs-12 col-centered col-fixed">
                        <a href="http://betahaus.bg" class="partner-link"><img src="/images/partners/betahaus-logo.png" alt="betahaus sofia coworking space & event venue logo"></a>
                    </div>
                    <div class="col-sm-3 col-xs-12 col-centered col-fixed">
                        <a href="http://www.globalyoungvoices.com/" class="partner-link"><img src="/images/partners/gyv-logo.png" alt="Global Young Voices logo"></a>
                    </div>
                    <div class="col-sm-3 col-xs-12 col-centered col-fixed">
                        <a href="http://www.globunication.com/?utm_source=ECV" class="partner-link"><img src="/images/partners/globunication.png" alt="GlobUnication logo"></a>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
