{{#extend "layout"}}
    {{#content "body"}}
        <div class="whirl no-overlay"
         id="homeLoader"></div>

        <nav class="navbar navbar-padded navbar-fixed-top menu-open navbar-static-sm navbar-click-through"
         data-toggle="toggle-class-over"
         data-class-name="navbar-color-primary"
         data-offset-top="65"
         data-offset-bottom="30"
         data-target="[data-navbar-color-primary]">
            <div class="container-fluid">
                <a class="navbar-brand nav"
                 href="/">
                    {{> enhancv-logo }}
                </a>
                <button class="nav navbar-toggle btn btn-transparent btn-line btn-sm invert-color m-margin-r2">Visit www.enhancv.com</button>
            </div>
        </nav>

        <div class="section -banner -main-full -home -padding-s menu-open predictify-header text-center"
         id="top">
            <div class="container m-height-100p">
                <div class="v-base m-height-100p">
                    <div class="v-middle">
                        <h1>We predictify your future career</h1>
                        <p>Take a 5 min quiz for FREE and know your future. Today!</p>
                        <a href="{{links.get_started}}"
                         class="btn btn-white btn-md text-l">Start here</a>
                    </div>
                </div>
            </div>

            <a href="#features"
             class="go-to-section js-scroll-to"></a>
        </div>

        <div class="section m-text-center -mobile-only -white menu-open">
            <div class="container m-text-center">
                <h1>We predictify your future career</h1>
                <a href="{{links.get_started}}"
                 class="btn btn-primary btn-md text-l">Start here</a>
            </div>
        </div>

        <div class="section -white menu-open as-seen-on"
         data-navbar-color-primary>
            <div class="container m-text-center">
                <div class="row">
                    <div class="col-sm-2">
                        <span style="vertical-align: middle;"
                         class="text-s text-g6 m-margin-r2 m-text-np">As seen on</span>
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/tc-logo.jpg"
                         alt="TC Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/mashable-logo.png"
                         alt="Mashable Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/forbes-logo.jpg"
                         alt="Forbes Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/the-huffingston-post-logo.png"
                         alt="The Huffingston Post Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/mom-logo.png"
                         alt="Your mom blog Logo">
                    </div>
                </div>
            </div>
        </div>

        <div class="section -padding-l predictify-features"
         id="features">
            <div class="container values">
                <h2>Features</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6"> <strong class="value-heading">Advanced AI Algorithms</strong>
                        <p class="value-desc">Through our High-tech back-tested self-learning algorithms, in addition to industry-disrupting big data analytics tools, our Career Test offers 101% accurate results. Using the primary XML sensors, the AI transits the RSS matrix
                            over its neural networks.</p>
                    </div>
                    <div class="col-xs-12 col-sm-6"> <strong class="value-heading">Job & Personality Matching</strong>
                        <p class="value-desc">The Tester has every career that currently exists, including the up-and-coming ones, stored in the database. Through analysing the job descriptions, it builds a VGA matrix, testing the fit between one’s personality and the possible
                            job-offer.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6"> <strong class="value-heading">Personality Quantification</strong>
                        <p class="value-desc">By asking in-depth personality-revealing, algorithm-backed questions, our AI disrupts the AI disrupting industry and quantifies your personality, making it easy to measure up against job-descriptions.</p>
                    </div>
                    <div class="col-xs-12 col-sm-6"> <strong class="value-heading">World Disruption</strong>
                        <p class="value-desc">As the Tester creates a 1:1 matching system between job-seekers and employers, we’re disrupting the economy and making the world a better place.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section -white menu-open as-seen-on"
         data-navbar-color-primary>
            <div class="container m-text-center">
                <div class="row">
                    <div class="col-sm-2">
                        <span style="vertical-align: middle;"
                         class="text-s text-g6 m-margin-r2 m-text-np">Backed by</span>
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/google-ventures-logo.png"
                         alt="Google Ventures Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/microsoft-logo.png"
                         alt="Microsoft Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img src="/images/predictify/apple-logo.png"
                         alt="Apple Logo">
                    </div>
                    <div class="col-sm-2 col-xs-6 col-centered">
                        <img
                         src="/images/predictify/fbi-logo.png"
                         alt="FBI Logo"
                         style="width: 70%">
                    </div>
                </div>
            </div>
        </div>

        <div class="section -dark"
         data-navbar-color-primary>
            <h2 class="testimonial-section-title m-text-center">What do employers say about Enhancv?</h2>

            <div class="v-base">
                <div class="v-middle">

                    <div class="container">

                        <div class="js-slick">
                            <div class="row gutter100">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <div class="testimonial-container">
                                                <img src="/images/predictify/person-4.png"
                                                 alt="">

                                                <div class="testimonial-information">
                                                    <div class="testimonial-information-center">
                                                        <h4>I’m retiring and letting these guys handle the fate of mankind.</h4>
                                                        <span>— Elon Musk</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <div class="testimonial-container">
                                                <img src="/images/predictify/person-3.png"
                                                 alt="">

                                                <div class="testimonial-information">
                                                    <div class="testimonial-information-center">
                                                        <h4>Enhancv has my thiel of approval.</h4>
                                                        <span>— Peter Thiel</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-margin-t10">
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <div class="testimonial-container">
                                                <img src="/images/predictify/person-2.png"
                                                 alt="">

                                                <div class="testimonial-information">
                                                    <div class="testimonial-information-center">
                                                        <h4>This startup is making America great again!</h4>
                                                        <span>— Donald Trump</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonial">
                                            <div class="testimonial-container">
                                                <img src="/images/predictify/person-1.png"
                                                 alt="">

                                                <div class="testimonial-information">
                                                    <div class="testimonial-information-center">
                                                        <h4>These guys put Disruption in Disruption</h4>
                                                        <span>— Xzibit</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "footer"}}
        <footer class="section -footer -dark text-g6 menu-open predictify-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{links.get_started}}"
                         class="btn btn-transparent btn-line btn-sm invert-color m-margin-r2 lets-begin">
                    Visit www.enhancv.com
                </a>
                    </div>
                    <div class="col-sm-4 m-text-center">
                        <span>&copy;2016 Enhancv</span>
                    </div>
                    <div class="col-sm-4 m-text-right">
                        <a
                         class="go-to-top"
                         data-toggle="tooltip"
                         data-placement="left"
                         title="Sorry, the button is not working today. Scroll up manually.">Top <i class="icon icon-arrowup-1"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    {{/content}}
{{/extend}}
