{{#extend "layout"}}
    {{#content "title"}}
        Privacy Policy
    {{/content}}

    {{#content "description"}}
        Write something
    {{/content}}

    {{#content "keywords"}}
        Enhancv partners, about our partners, partners, our partners
    {{/content}}

    {{#content "body"}}
        <div class="section -green -padding-s menu-open m-text-center header-s terms-header fixed-header-elements">
            {{> shared_header}}
            <div class="helper"></div>
        </div>
        <div class="section -white -padding-m menu-open terms-section" data-navbar-color-primary>
            <div class="container">
                <h1 class="heading">Privacy Policy</h1>
                <small class="update-date">Last updated: May 10, 2016</small>
                <p>Text here...</p>
            </div>
        </div>
    {{/content}}
{{/extend}}
