{{#extend "layout"}}
    {{#content "title"}}
        Let's enhance resumes together
    {{/content}}

    {{#content "description"}}
        Please, help your friends get the job they deserve by using this 100% off promocode for a brand new resume
    {{/content}}

    {{#content "keywords"}}
        resume, resume format, enhancv launch
    {{/content}}

    {{#content "image"}}/images/promoOGImage.jpg{{/content}}

    {{#content "body"}}
        <div class="section -banner -full -promocode -padding-s menu-open">
            <div class="row">
                <div class="col-sm-3">
                    <img src="/images/ench_logo.svg" alt="" class="ench-logo">
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-3 m-text-right cta-container">
                </div>
            </div>
            <div class="container m-height-100p">
                <div class="v-base m-height-100p">
                    <div class="v-middle">
                        <h1>You're more than<br> a mediocre resume</h1>
                        <a href="http://app.enhancv.com" class="button">Show who you are</a>
                        <span class="low-op-text">Until Nov 30, 2015</span>
                        <p class="header-desc">
                            Use 100% off promocode<br/>
                            <span>#morethanresume</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
