{{#extend "layout"}}
    {{#content "title"}}
        Terms of Service
    {{/content}}

    {{#content "description"}}
        Write something
    {{/content}}

    {{#content "keywords"}}
        Enhancv partners, about our partners, partners, our partners
    {{/content}}

    {{#content "body"}}
        <div class="section -green -padding-s menu-open m-text-center header-s terms-header fixed-header-elements">
            {{> shared_header}}
            <div class="helper"></div>
        </div>
        <div class="section -white -padding-m menu-open terms-section" data-navbar-color-primary>
            <div class="container">
                <h1 class="heading">Terms of Service</h1>
                <small class="update-date">Last updated: April 14, 2016</small>
                <p>
                    <strong>Welcome to Enhancv</strong>
                    ​Thanks for using our platform and trusting us with your career goals. This website and platform ("Services") are provided by Enhancv Ltd. ("us", "we", or "our").
                    <br><br>
                    By using Enhancv, you are agreeing to the following terms. Please read them carefully and contact us if you have any questions.
                </p>
                <p>
                    <strong>Accounts</strong>
                    When you create an account on Enhancv, you are fully responsible for maintaining its security and any activities that occur under your account. Please, use a "strong" password (or authenticate via a third-party) to ensure that your private information, your resumes and billing information are safe.
                    <br><br>
                    We cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
                </p>
                <p>
                    <strong>Fees, Payments and Refunds</strong>
                    Enhancv reserves the right to require payment or subscription fees for any of our Services. For monthly subscription plans, you will be billed in advance. The prices may be changed at any time, upon thirty (30) day prior notice to you, which may be sent by email or posted on the website. Your use of the Services following such notification constitutes your acceptance of any new or increased charges. Any monthly fees paid hereunder are non-refundable and non-cancelable. Annually-billed fees are eligible for a partial pro-rated refund.
                    <br><br>
                    Downgrading your plan may cause the loss of features, or capacity of your Account. Enhancv does not accept any liability for such loss.
                </p>
                <p>
                    <strong>Trials</strong>
                    Any trial promotion or reduced pricing (promocode) must be used within the specified time. You must cancel your account before the end of the trial period to avoid being charged a subscription fee. We reserve the right to limit you to one free trial or promocode and to prohibit the combining of free trials, promocodes, and other offers. All pomocode-reduced fees are non-refundable and non-cancelable.
                </p>
                <p>
                    <strong>Termination</strong>
                    Enhancv, in its sole discretion, has the right to terminate your account for any reason at any time. Such termination of the Services will result in the deactivation or deletion of your account and the forfeiture and relinquishment of all content in your account.
                    <br><br>
                    If you wish to terminate your account, you may do so through the Settings page.
                </p>
                <p>
                    <strong>Privacy</strong>
                    Your personal information and content is governed by our <a href="/privacy.html">Privacy Policy</a>. By using Enhancv, you agree to our <a href="/privacy.html">Privacy Policy</a>.
                </p>
                <p>
                    <strong>Limited Warranties and Liability</strong>
                    Enhancv does not make any warranty about the reliability of the Services and does not guarantee the security of user data despite best efforts. The Service is provided “AS IS” and you agree to not hold us responsible nor to seek indemnification for any damages that may arise as a result of the loss of use, data, or profits connected to the performance of the Services or failure in such performance.
                </p>
                <p>
                    <strong>Governing Law</strong>
                    These Terms shall be governed and construed in accordance with the laws of Bulgaria, without regard to its conflict of law provisions.
                    <br><br>
                    Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
                </p>
                <p>
                    <strong>Changes</strong>
                    We reserve the right to modify these terms at any time. If a revision is material, we will try to provide at least 15 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion. By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
                </p>
            </div>
        </div>
    {{/content}}
{{/extend}}
