{{> header data=meta_data.about }}

<body id="mod">

  {{> navigation}}

  <div class="section -green -full -padding-s menu-open m-text-center header-s">
      <div class="row">
        <div class="col-sm-3">
          <img src="/images/ench_logo.svg" alt="">
        </div>
        <div class="col-sm-3 m-text-right cta-container">
          <ul class="nav -right">
            <li><a href="#">Login</a></li>
            <a href="#" class="fa fa-bars menu-hamb js-open-menu"></a>
           </ul>
        </div>
      </div>
    <div class="container">
      <div class="v-base">
        <div class="v-middle">
          <h1 style="margin: 33px 0 10px 0;">Enhancv brings you resumes that are all <br> about you</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m menu-open">
    <div class="container about-section">
      <div class="row">
        <h2>We've had users from over <span class="underlined">1880</span> cities around the globe</h2>
        <img src="images/world.png" class="img-responsive" alt="World map">
        <p>And 81% of them landed an interview at at least one of their top 3 company choices</p>
      </div>
    </div>
  </div>

  <div class="section -green -padding-l m-text-center mission">
    <div class="container">
      <h1 class="green-section-heading">Our mission is to help talented people believe in themselves and unleash their full potential</h1>
    </div>
  </div>

  <div class="section -white -padding-m why-we-exist">
    <div class="container about-exists-section">
      <div class="row">
        <h2>Why do we exist?</h2>
        <p class="enhancv-exists-info">We've seen a lot of amazing designers, engineers and young prodigies that are dissatisfied with their current job or job prospects, simply because they aren't able to strongly present themselves. You need to show your dream employer that you are a perfect match - by skill-set, motivation and most importantly personality. Enhancv is here to give the power back to you and help you tell the world who you really are.</p>
      </div>
    </div>
  </div>

  <div class="section -green -padding-l" id="values">
    <div class="container values">
      <h2>Values</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Ingenuity</strong>
          <p class="value-desc">We put al lot of thought into everything, so that it's actually different, innovative and cool. Often our initial ideas sound silly, but we have the guts to try and later stand by our work.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Constantly learning</strong>
          <p class="value-desc">We recognize our weaknesses and are committed to self-improvement. We ask for feedback, but are even more interested in what others can teach or show us.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Sounds like you</strong>
          <p class="value-desc">We don't speak the corporate language, neither do we send long releases. We believe that being yourself is your biggest weapon, hence we encourage our users to remain themselves in their resumes.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">A company of friends</strong>
          <p class="value-desc">We have fun while working often hang out together, drive buggies and go to the seaside. Although sometimes the Atlantics separates us, we are always there for one another!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m">
    <div class="container members-section">
      <div class="row">
        <div class="col-sm-4 col-xs-6 member-wrapper">
          <div class="member-photo" style="background-image: url('http://enhancv.com/images/faces/joro.png')"></div>
          <p class="member-name">Georgi Ivanov</p>
          <p class="member-job-title">CEO</p>
          <div class="member-details">
            <p>Despite the startups I’ve founded/co-founded, I’ve won numerous contests without knowing anything on the subject matter just because I’ve managed to gather the right people.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6 member-wrapper">
          <div class="member-photo" style="background-image: url('http://enhancv.com/images/faces/joro.png')"></div>
          <p class="member-name">Georgi Ivanov</p>
          <p class="member-job-title">CEO</p>
          <div class="member-details">
            <p>Despite the startups I’ve founded/co-founded, I’ve won numerous contests without knowing anything on the subject matter just because I’ve managed to gather the right people.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6 member-wrapper">
          <div class="member-photo" style="background-image: url('http://enhancv.com/images/faces/joro.png')"></div>
          <p class="member-name">Georgi Ivanov</p>
          <p class="member-job-title">CEO</p>
          <div class="member-details">
            <p>Despite the startups I’ve founded/co-founded, I’ve won numerous contests without knowing anything on the subject matter just because I’ve managed to gather the right people.</p>
          </div>
        </div>
      <!-- </div>
      <div class="row"> -->
        <div class="col-sm-4 col-xs-6 member-wrapper">
          <div class="member-photo" style="background-image: url('http://enhancv.com/images/faces/joro.png')"></div>
          <p class="member-name">Georgi Ivanov</p>
          <p class="member-job-title">CEO</p>
          <div class="member-details">
            <p>Despite the startups I’ve founded/co-founded, I’ve won numerous contests without knowing anything on the subject matter just because I’ve managed to gather the right people.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6 member-wrapper">
          <div class="member-photo" style="background-image: url('http://enhancv.com/images/faces/joro.png')"></div>
          <p class="member-name">Georgi Ivanov</p>
          <p class="member-job-title">CEO</p>
          <div class="member-details">
            <p>Despite the startups I’ve founded/co-founded, I’ve won numerous contests without knowing anything on the subject matter just because I’ve managed to gather the right people.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6 member-wrapper">
          <div class="member-photo" style="background-image: url('http://enhancv.com/images/faces/joro.png')"></div>
          <p class="member-name">Georgi Ivanov</p>
          <p class="member-job-title">CEO</p>
          <div class="member-details">
            <p>Despite the startups I’ve founded/co-founded, I’ve won numerous contests without knowing anything on the subject matter just because I’ve managed to gather the right people.</p>
          </div>
        </div>
      <!-- </div>
      <div class="row"> -->
        <div class="col-sm-4 col-xs-6 member-wrapper">
          <div class="member-photo" style="background-image: url('http://enhancv.com/images/faces/joro.png')"></div>
          <p class="member-name">Georgi Ivanov</p>
          <p class="member-job-title">CEO</p>
          <div class="member-details">
            <p>Despite the startups I’ve founded/co-founded, I’ve won numerous contests without knowing anything on the subject matter just because I’ve managed to gather the right people.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6 member-wrapper">
          <div class="member-photo" style="background-image: url('http://enhancv.com/images/faces/joro.png')"></div>
          <p class="member-name">Georgi Ivanov</p>
          <p class="member-job-title">CEO</p>
          <div class="member-details">
            <p>Despite the startups I’ve founded/co-founded, I’ve won numerous contests without knowing anything on the subject matter just because I’ve managed to gather the right people.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section -green -padding-l m-text-center">
    <div class="container join-our-team-section">
      <h1 class="green-section-heading">Come join our team, we are fun!</h1>
      <button class="button -white open-job-positions">View open job positions</button>
    </div>
  </div>

{{> footer}}
</body>
</html>
