{{> header data=meta_data.about }}

<body id="mod">

  {{> navigation}}

  <div class="section -green -padding-s menu-open m-text-center header-s about-header">
      <div class="row">
        <div class="col-sm-3">
          <img src="/images/ench_logo.svg" alt="">
        </div>
        <div class="col-sm-3 m-text-right cta-container">
          <ul class="nav -right">
            <a href="#" class="fa fa-bars menu-hamb js-open-menu"></a>
           </ul>
        </div>
      </div>
    <div class="container">
      <div class="v-base">
        <div class="v-middle">
          <h1 style="margin: 33px 0 10px 0;">Enhancv brings you resumes that are all <br> about you</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m menu-open">
    <div class="container about-section">
      <div class="row">
        <h2>We've had users from over <span class="underlined">1880</span> cities around the globe</h2>
        <img src="images/world.png" class="img-responsive" alt="World map">
        <p>And 81% of them landed an interview at at least one of their top 3 company choices</p>
      </div>
    </div>
  </div>

  <div class="section -green -padding-l m-text-center mission">
    <div class="container">
      <h1 class="green-section-heading">Our mission is to help talented people believe in themselves and unleash their full potential</h1>
    </div>
  </div>

  <div class="section -white -padding-m why-we-exist">
    <div class="container about-exists-section">
      <div class="row">
        <h2>Why do we exist?</h2>
        <p class="enhancv-exists-info">We've seen a lot of amazing designers, engineers and young prodigies that are dissatisfied with their current job or job prospects, simply because they aren't able to strongly present themselves. You need to show your dream employer that you are a perfect match - by skill-set, motivation and most importantly personality. Enhancv is here to give the power back to you and help you tell the world who you really are.</p>
      </div>
    </div>
  </div>

  <div class="section -green -padding-l" id="values">
    <div class="container values">
      <h2>Our values</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">A company of friends</strong>
          <p class="value-desc">We have fun while working, often hang out together and go to the seaside. Although sometimes the Atlantic separates us, we are always there for one another.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Constantly learning</strong>
          <p class="value-desc">We recognize our weaknesses and are committed to self-improvement. We ask for feedback, but are even more interested in what others can teach or show us.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">No to mediocrity</strong>
          <p class="value-desc">Although we are young, we do things amazingly. If we don’t do well at something, we admit the fact and find a way to make it shine.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Sound like you</strong>
          <p class="value-desc">We don’t speak the corporate language, neither do we send long press releases. We believe that being yourself is the biggest weapon you possess so we encourage our users to remain true and real when creating their resume.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Mistakes are overrated</strong>
          <p class="value-desc">Instead of only focusing on what isn’t working in order to fix it, we focus on what is working well, so that we emphasize on that and make it even better on the way to making it the best.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Ingenuity</strong>
          <p class="value-desc">We put a lot of thought into every- thing, so that it’s actually different, innovative and cool. Often our initial ideas sound silly, but we have the guts to try and later stand by our work.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Live it or leave it</strong>
          <p class="value-desc">We are proud Enhancers of planet Earth. We love what we do and we do what we love.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">User problems are a crisis</strong>
          <p class="value-desc">We understand why user problems are a crisis, so you will never hear us saying “Sorry for the inconve- nience”. Our mission is to help people, so it is a privilege to talk to them and solve the issue.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m">
    <div class="container members-section">
      <div class="row">
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-1.png')"></div>
          <p class="member-name">Volen Vulkov</p>
          <p class="member-job-title">Chief Harmonizer</p>
          <div class="member-details">
            <p>Junior entrepreneur, strong Bulgaria believer and Resume Disruptor. Techie, but not by any measure and Liverpool supporter. Energetic ex-erasmus striving for harmony and executing the impossible.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-2.png')"></div>
          <p class="member-name">Georgi Ivanov</p>
          <p class="member-job-title">Chief Enhancer</p>
          <div class="member-details">
            <p>Senior Social Engineer and Entrepreneur, always seeing opportunities, rather than problems. Overflowed with undying belief that everyone has a hidden genius inside. Executing commander and marketer who makes it hard for people not to follow him.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-3.png')"></div>
          <p class="member-name">Dimitar Vouldjeff</p>
          <p class="member-job-title">Chief Innovator</p>
          <div class="member-details">
            <p>Tech enthusiast, explorer and travel fan. Achiever by nature, adrenalin seeker by spirit.</p>
          </div>
        </div>
       </div>
      <div class="row"> 
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-4.png')"></div>
          <p class="member-name">Viktor Kirilov</p>
          <p class="member-job-title">Tech Enhancer</p>
          <div class="member-details">
            <p>Student cleverly disguised as a successful award-winning developer. Nightlife code poet adopted for world-changing causes.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-5.png')"></div>
          <p class="member-name">Kaloyan Toshev</p>
          <p class="member-job-title">Art & UX Enhancer</p>
          <div class="member-details">
            <p>Design wizard reshaping complex process in simple and world-class design. Drawing girls in work and free time. Featured in various print and digital publications by visualizing beyond the bounds of possibility.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-nick.png')"></div>
          <p class="member-name">Nick Greene</p>
          <p class="member-job-title">Growth Enhancer</p>
          <div class="member-details">
            <p>Certified storyteller, job hunting enhancer, digital marketer and a coffee enthusiast. He will always find a way to shortcut any process and hack whatever stands on his way.</p>
          </div>
        </div>
       </div>
      <div class="row"> 
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-oleg.png')"></div>
          <p class="member-name">Oleg Kabakchiev</p>
          <p class="member-job-title">Growth Enhancer</p>
          <div class="member-details">
            <p>Analogue human using his digital abilities to disrupt the social media marketing as we know it. Co-founder of several startups and a bar co-owner; political sociology enthusiast at Sofia University determined to change the system we live in.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-alex.png')"></div>
          <p class="member-name">Alex Nikolova</p>
          <p class="member-job-title">Growth Enhancer</p>
          <div class="member-details">
            <p>Music adherent with tech marketing experience and UX knowledge; co-founder of Eventyard and a Forbes Bulgaria ’30 Under 30’. CIM graduate who “lives” marketing; online addict, digital nomad wannabe and a "jaff jaff" Wilma who thinks 15 minutes forward.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-krasi.png')"></div>
          <p class="member-name">Krasimir Stoyanov</p>
          <p class="member-job-title">Code Enhancer</p>
          <div class="member-details">
            <p>A 16-year-old prodigy, combining design and front-end skills, volunteering in different causes and a great team-player, who will never leave you on your own. Extremely diligent, life-time learner, with the intention to become a front-end grand master.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-sasho.png')"></div>
          <p class="member-name">Alexander Ginovski</p>
          <p class="member-job-title">Code Enhancer </p>
          <div class="member-details">
            <p>Young software engineer, artistic person by nature and a magician heart. A guitar player, striving to learn whenever he cans, interested in politics and dreaming to change the world we live in and make it a better place for all of us.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-6.png')"></div>
          <p class="member-name">Velina Getova</p>
          <p class="member-job-title">Career Advisor</p>
          <div class="member-details">
            <p>Organisational and social psychologist, holistic coach, truly passionate about health and wellness. Enhancv's secret weapon, that’s on a mission to help people discover their natural talents and unleash their full potential doing the things they love.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-8.png')"></div>
          <p class="member-name">Ivaylo Hristov</p>
          <p class="member-job-title">Growth Advisor</p>
          <div class="member-details">
            <p>Entrepreneur and active member of the Sofia startup community with strong interest in lean startups, bootstrapping and growth hacking. Ex-Microsoftee & Komfo co-founder now looking for the next big thing. Whenever you get stuck or depressed, just call him and everything’s gonna be fine.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 member-wrapper">
          <div class="member-photo" style="background-image: url('/images/about/team-member-yasmin.png')"></div>
          <p class="member-name">Yasmin</p>
          <p class="member-job-title">Official Enhancv Mascot</p>
          <div class="member-details">
            <p>A free and happy girl with a constant desire for adventures. Believes in the power of women, justice and randomness. Loves writing, editing, creating. Aspired to be an entrepreneur and a dj. Can't live without raspberries, cocktails and yoga and is totally in love with the Internet and the seaside. The official mascot of the company!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white fit-here-section">
    <div class="you-fit-here">
      <a href="#">You fit here :)</a>
    </div>
    <img src="/images/about/about-join.jpg" alt="" />
  </div>

  <div class="section -green -padding-l m-text-center">
    <div class="container join-our-team-section">
      <h1 class="green-section-heading">Come join our team, we are fun!</h1>
      <a href="mailto:work@enhancv.com" class="button -white open-job-positions">Apply at work@enhancv.com</a>
    </div>
  </div>

{{> footer}}
</body>
</html>
