{{> header data=meta_data.bizdev }}

<body id="mod">

  {{> yandex-counter}}

  {{> navigation}}

  <div class="section -green -padding-s menu-open m-text-center header-s bizdev-header fixed-header-elements">
    {{> shared_header}}
    <div class="container">
      <div class="v-base">
        <div class="v-middle">
          <h1 style="margin: 33px 0 10px 0;">Enhancv Biz Dev Partner Program</h1>
          <a href="#apply" class="button">Apply now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m why-we-exist menu-open bizdev-section">
    <div class="container about-exists-section">
      <div class="row">
        <h2>What does it mean to be our Biz Dev Partner?</h2>
        <p class="enhancv-exists-info">As an Enhancv Biz Dev Partner, your job will be to make buisness development in your city and help as many people as possible enhance their career using our platform. As our local business developer you will experience what is like to manage and grow your own startup. You will spot and create partnership opportunities on campus and around your city and get access to your own user dashboard, where you could track the results from your marketing campaigns, analyze them, segment different types of users and gather data-driven insights on how to improve Enhancv, so that it's more useful and engaging for its users.</p>
      </div>
    </div>
  </div>

  <div class="section -green -padding-l bizdev-section" id="values">
    <div class="container values">
      <h2>What we offer? (Benefits of the program)</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Hands-on Experience</strong>
          <p class="value-desc">We believe that the best way to learn new things is simply by doing them, so as our Biz Dev Partner you' ll have the opportunity to add a lot of real-world biz dev, marketing sales and leadership experience to your resume. You' ll learn the most important aspects of turning an early-stage startup into a successful company. (see below what exactly you'll learn)</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Collaborate with Amazing Teammates</strong>
          <p class="value-desc">Work directly with the co-founders of a global seed-stage startup that's disrupting a booming industry. Collaborate with Enhancv's passionate team of talented movers and shakers that love breaking the rules</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Complete Freedom</strong>
          <p class="value-desc">Our on-campus internship offers flexible work hours that you could easily fit into your schedule. It's up to you whether you'll work 10 or 40 hours per week</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Competitive Salary*</strong>
          <p class="value-desc">Earn up to 50% commissions per each sale made in your city. Close local partnerships and increase your revenue even more! Your compensation is 100% performance based</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m menu-open bizdev-section">
    <div class="container values list">
      <h2>You will learn</h2>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to manage and grow a seed-stage startup</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to set up funnels</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>KPIs, other important startup metrics and how to measuer them</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>The foundations of "customer development"</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to interview customer interviews the right way</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Which are the lean principles and how to apply them in your everyday work</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to create and manage successful online and offline marketing campaigns</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to identify and close partnerships</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to expand a partnership network</span></p>
        </div>
      </div>
      <div class="row">
        <div class="bonus">
          <div class="col-xs-12 col-sm-1">
            <span class="bonus-heading">Bonus</span>
          </div>
          <div class="col-xs-12 col-sm-10">
            <span class="bonus-content">Despite the business stuff, you'll definitely master the skill of creating a kick-ass CV and selling yourself to ANY company you would like to work for... literally ANY! ;)</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section -green -padding-l bizdev-section" id="values">
    <div class="container values list">
      <h2>The Perfect Candidate</h2>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Resonates with Enhancv's vision</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Passionate about growing his/her own startup</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Natural promoter</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Results driven</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Social and well-connected on campus</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Speaks English fluently</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Is still a student (B.A. or M.A.)</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to identify and close partnerships</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m menu-open bizdev-section">
    <div class="container values list">
      <h2>The following will be considered advantages</h2>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Major in Business, Marketing or Communication</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Previous Biz Dev experience</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Member of different student organizations</span></p>
        </div>
      </div>
    </div>
  </div>

  <div id="apply" class="section -green -padding-l m-text-center bizdev-section">
    <div class="container join-our-team-section">
      <h1 class="green-section-heading">You think you have what it takes?<br>
      <span class="sub-heading">Please send us your CV and your motivation why you want to work with us at:</span>
      </h1>
      <a href="mailto:work@enhancv.com" class="button -white open-job-positions">Apply now</a>
      <br>
      <small class="additional-info">*The best Biz Dev Partners will be offered a full-time job and even equity stakes!</small>
    </div>
  </div>

{{> footer}}
</body>
</html>
