{{> header data=meta_data.contacts }}

<body id="mod">

  {{> navigation}}

  <div class="section -green -padding-s menu-open m-text-center header-s contacts-header fixed-header-elements">
    {{> shared_header}}
    <div class="container">
      <div class="v-base">
        <div class="v-middle">
          <h1 style="margin: 45px 0 55px 0;">Contact us, we are fun.</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m contacts-section menu-open">
    <div class="container">
      <div class="row">
        <!-- <div class="col-sm-6">
          <h3 class="section-heading">Write us</h3>
          <form action="">
            <div>
              <input class="form-control" type="text" placeholder="Your name">
            </div>
            <div>
              <input class="form-control" type="email" placeholder="Your email">
            </div>
            <div>
              <textarea class="form-control" placeholder="Just write us about whatever concerns you."></textarea>
            </div>
            <div>
              <button class="button">Send message</button>
            </div>
          </form>
        </div> -->
        <div class="col-sm-6">
          <h3 class="section-heading">Work with us</h3>
          <div class="contact-info">
            <a class="heading" href="mailto:hello@enhancv.com">hello@enhancv.com</a>
            <div class="small-divider"></div>
            <div class="dash"></div>
            <p>For whatever reason :)</p>
          </div>
          <div class="contact-info">
            <a class="heading" href="mailto:invest@enhancv.com">invest@enhancv.com</a>
            <div class="small-divider"></div>
            <div class="dash"></div>
            <p>If you are interested in backing us.</p>
          </div>
          <div class="contact-info">
            <a class="heading" href="mailto:media@enhancv.com">media@enhancv.com</a>
            <div class="small-divider"></div>
            <div class="dash"></div>
            <p>Any extra info if you are writing about us.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{{> footer}}

</body>
</html>
