{{> header}}

<body id="mod">

  {{> navigation}}

  <div class="section -green -full -padding-s menu-open m-text-center header-s">
      <div class="row">
        <div class="col-sm-3">
          <img src="/images/ench_logo.svg" alt="">
        </div>
        <div class="col-sm-3 m-text-right cta-container">
          <a href="#" class="menu-hamb js-open-menu"><span>Toggle menu</span></a>
        </div>
      </div>
    <div class="container">
      <div class="v-base">
        <div class="v-middle">
          <h1>We will hire you.<br/> Prove that you are worthy</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section -green -padding-s example menu-open">
    <div class="container example-section">
      <div class="section-info">
        <div class="row">
          <div class="lightbox hide"></div>
          <div id="lightbox" class="inner-lightbox hide">
            <img src="/images/resume-example.png" alt="Resume Example">
            <img src="/images/resume-example.png" alt="Resume Example">
          </div>
          
          <div class="col-xs-12 col-sm-6 example-col title-bottom">
            <a href="#lightbox" class="example-image">
              <img src="/images/resume-example.png" alt="Resume Example">
              <span class="zoom-in">
                <span class="circle">
                  <i class="fa fa-search"></i>
                </span>
              </span>
            </a>
            <div class="-padding-m person-data">
              <h2 class="person-name">Todor Petrov</h2>
              <p class="person-job-position">Designer</p>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-6 example-col">
            <div class="-padding-m person-data">
              <h2 class="person-name">Todor Petrov</h2>
              <p class="person-job-position">Designer</p>
            </div>
            <a href="#lightbox" class="example-image">
              <img src="/images/resume-example.png" alt="Resume Example">
              <span class="zoom-in">
                <span class="circle">
                  <i class="fa fa-search"></i>
                </span>
              </span>
            </a>
          </div>
          
          <div class="col-xs-12 col-sm-6 example-col title-bottom">
            <a href="#lightbox" class="example-image">
              <img src="/images/resume-example.png" alt="Resume Example">
              <span class="zoom-in">
                <span class="circle">
                  <i class="fa fa-search"></i>
                </span>
              </span>
            </a>
            <div class="-padding-m person-data">
              <h2 class="person-name">Todor Petrov</h2>
              <p class="person-job-position">Designer</p>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-6 example-col">
            <div class="-padding-m person-data">
              <h2 class="person-name">Todor Petrov</h2>
              <p class="person-job-position">Designer</p>
            </div>
            <a href="#lightbox" class="example-image">
              <img src="/images/resume-example.png" alt="Resume Example">
              <span class="zoom-in">
                <span class="circle">
                  <i class="fa fa-search"></i>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{{> footer}}

<script>
  'user strict';
  $(document).ready(function () {
    function movePersonData(method) {
      var $titleBottom = $('.title-bottom'),
        $titleBottomPersonData = $('.title-bottom .person-data'),
        personHtml = $titleBottomPersonData.html(),
        divPersonData = '<div class="-padding-m person-data">' + personHtml + '</div>';
      
      $titleBottomPersonData.remove();
      if (method == "append") {
        $titleBottom.append(divPersonData);
      }
      else if (method == "prepend") {
        $titleBottom.prepend(divPersonData);
      }
    }
    
    $(window).resize(function () {
      var $windowWidth = $(window).width();
      if ($windowWidth <= 768) {
        movePersonData('prepend');
      }
      else {
        movePersonData('append');
      }
    });
  });
</script>

<script>
  $(document).ready(function () {
    var lightbox = $('.lightbox'),
      innerLightbox = $('.inner-lightbox');
    
    function removeClassHide() {
      lightbox.removeClass('hide');
      lightbox.addClass('show');
      lightbox.css('opacity', '0.7');
      
      innerLightbox.removeClass('hide');
      innerLightbox.addClass('show');
      innerLightbox.css('opacity', '1');
    }
    
    function removeClassShow() {
      lightbox.removeClass('show');
      lightbox.addClass('hide');
      lightbox.css('opacity', '0');
      
      innerLightbox.removeClass('show');
      innerLightbox.addClass('hide');
      innerLightbox.css('opacity', '0');
    }
    
    $('a.example-image').click(function () {
      if (lightbox.hasClass('hide') && innerLightbox.hasClass('hide')) {
        removeClassHide();
        $(innerLightbox).click(function () {
          removeClassShow();
        });
        
        $(lightbox).click(function () {
          removeClassShow();
        });
      }
      else {
        removeClassShow();
        $(document).click(function () {
          removeClassHide();
        });
        
        $(lightbox).click(function () {
          removeClassHide();
        });
      }
    });
  });
</script>

<!-- SMOOTH SCROLL -->
<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>
</body>
</html>
