{{> header data=meta_data.examples }}

<body id="mod">

  {{> navigation}}

  <div class="section -green -padding-s menu-open m-text-center header-s">
    {{> shared_header}}
    <div class="container">
      <div class="v-base">
        <div class="v-middle">
          <h1 class="header-title">We'll get you hired!<br/> Prove that you are worthy</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section -green -padding-s example menu-open">
    <div class="container example-section">
      <div class="section-info">
        <div class="lightbox hide"></div>
        <div id="lightbox1" class="inner-lightbox hide">
          <img src="/images/resume-joro-1.png" alt="Example Resume Georgi Ivanov page 1">
          <img src="/images/resume-joro-2.png" alt="Example Resume Georgi Ivanov page 2">
        </div>
        <div id="lightbox2" class="inner-lightbox hide">
          <img src="/images/resume-john.png" alt="Example Resume John">
        </div>
        <div id="lightbox3" class="inner-lightbox hide">
          <img src="/images/resume-valya-1.png" alt="Example Resume Valya page 1">
          <img src="/images/resume-valya-2.png" alt="Example Resume Valya page 2">
        </div>
        <div id="lightbox4" class="inner-lightbox hide">
          <img src="/images/resume-yasmin-1.png" alt="Example Resume Yasmin page 1">
          <img src="/images/resume-yasmin-2.png" alt="Example Resume Yasmin page 2">
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 example-col title-bottom">
            <a href="#lightbox1 " class="example-image">
              <img src="/images/resume-joro-1.png" alt="">
              <span class="zoom-in">
                <span class="circle">
                  <i class="fa fa-search"></i>
                </span>
              </span>
            </a>
            <div class="-padding-m person-data">
              <h2 class="person-name">Georgi Ivanov</h2>
              <p class="person-job-position">Entrepreneur</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 example-col">
            <div class="-padding-m person-data">
              <h2 class="person-name">Jonathan Seagull</h2>
              <p class="person-job-position">Digital Marketer</p>
            </div>
            <a href="#lightbox2" class="example-image">
              <img src="/images/resume-john.png" alt="Resume Example John">
              <span class="zoom-in">
                <span class="circle">
                  <i class="fa fa-search"></i>
                </span>
              </span>
            </a>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 col-sm-6 example-col title-bottom">
            <a href="#lightbox3" class="example-image">
              <img src="/images/resume-valya-1.png" alt="Resume Example Valya">
              <span class="zoom-in">
                <span class="circle">
                  <i class="fa fa-search"></i>
                </span>
              </span>
            </a>
            <div class="-padding-m person-data">
              <h2 class="person-name">Valentina Milanova</h2>
              <p class="person-job-position">Student</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 example-col">
            <div class="-padding-m person-data">
              <h2 class="person-name">Yasmin Tezdzhan</h2>
              <p class="person-job-position">19-year-old Student</p>
            </div>
            <a href="#lightbox4" class="example-image">
              <img src="/images/resume-yasmin-1.png" alt="Resume Example Yasmin">
              <span class="zoom-in">
                <span class="circle">
                  <i class="fa fa-search"></i>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{{> footer}}
</body>
</html>
