{{> header data=meta_data.examples }}

<body id="mod">

  {{> navigation}}

  <div class="section -green -padding-s menu-open m-text-center header-s">
    {{> shared_header}}
    <div class="container">
      <div class="v-base">
        <div class="v-middle">
          <h1>We will hire you.<br/> Prove that you are worthy</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section -green -padding-s example menu-open">
    <div class="container example-section">
      <div class="section-info">
        <div class="row">
          <div class="lightbox hide"></div>
          <div id="lightbox" class="inner-lightbox hide">
            <img src="/images/resume-example.png" alt="Resume Example">
            <img src="/images/resume-example.png" alt="Resume Example">
          </div>
          
          <div class="col-xs-12 col-sm-6 example-col title-bottom">
            <a href="#lightbox" class="example-image">
              <img src="/images/resume-example.png" alt="Resume Example">
              <span class="zoom-in">
                <span class="circle">
                  <i class="fa fa-search"></i>
                </span>
              </span>
            </a>
            <div class="-padding-m person-data">
              <h2 class="person-name">Todor Petrov</h2>
              <p class="person-job-position">Designer</p>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-6 example-col">
            <div class="-padding-m person-data">
              <h2 class="person-name">Todor Petrov</h2>
              <p class="person-job-position">Designer</p>
            </div>
            <a href="#lightbox" class="example-image">
              <img src="/images/resume-example.png" alt="Resume Example">
              <span class="zoom-in">
                <span class="circle">
                  <i class="fa fa-search"></i>
                </span>
              </span>
            </a>
          </div>
          
          <div class="col-xs-12 col-sm-6 example-col title-bottom">
            <a href="#lightbox" class="example-image">
              <img src="/images/resume-example.png" alt="Resume Example">
              <span class="zoom-in">
                <span class="circle">
                  <i class="fa fa-search"></i>
                </span>
              </span>
            </a>
            <div class="-padding-m person-data">
              <h2 class="person-name">Todor Petrov</h2>
              <p class="person-job-position">Designer</p>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-6 example-col">
            <div class="-padding-m person-data">
              <h2 class="person-name">Todor Petrov</h2>
              <p class="person-job-position">Designer</p>
            </div>
            <a href="#lightbox" class="example-image">
              <img src="/images/resume-example.png" alt="Resume Example">
              <span class="zoom-in">
                <span class="circle">
                  <i class="fa fa-search"></i>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{{> footer}}
</body>
</html>
