{{> header data=meta_data.growthEnhancer }}

<body id="mod">

  {{> navigation}}

  <div class="section -green -padding-s menu-open m-text-center header-s growth-enhancer-header fixed-header-elements">
    {{> shared_header}}

    <div class="container m-height-100p">
      <div class="v-base m-height-100p">
        <div class="v-middle">
          <h1>Houston, we need a Growth Enhancer...</h1>
          <p>Enhancv is looking for Digital Marketing Enhancer who is going to make people on the moon craft stand-outing resumes</p>
        </div>
      </div>
    </div>

    <a href="#about-text" class="go-to-section js-scroll-to"></a>
  </div>

  <div id="about-text" class="section -white -padding-s menu-open growth-enhancer-section growth-enhancer-about">
    <div class="container about-section">
      <div class="row">
        <h2>Bla volen dai text</h2>
        <p>Are you tired of seeing the same-old, traditional black and white resume? The one that summarizes your entire persona into a one-page list of work experiences? <br><br> Do you have friends who can’t represent themselves? Are they literally wasting their talent by working on boring projects and for mediocre companies, that they don’t even like? <br><br> <strong>Then you’re at the right place.</strong></p>
      </div>
    </div>
  </div>

  <div id="about-text" class="section -white -padding-s menu-open growth-enhancer-section growth-enhancer-resume">
    <div class="container about-section">
      <div class="row">
        <h2>How are we changing that?</h2>
        <p>Our mission is to help talented people believe in themselves and unleash their full potential. We are doing this by creating a new format, something that not only effectively describes your skills and achievements, but also shows the person behind the resume.</p>
      </div>
      <div class="row resume-section -table">
        <div class="col-sm-12 col-lg-6">
          <img src="/images/growth-enhancer/resume.png" alt="Resume">
        </div>
        <div class="col-sm-12 col-lg-6">
          <div class="-table">
            <div class="-table-cell">
              <div class="-circle">
                <p>1</p>
              </div>
            </div>
            <div class="-content">
              <p class="heading">Performance-based</p>
              <p class="desc">Unlike the traditional resume, we are not focused on the responsibilities you’ve had. Rather, on the results you’ve driven and the things you’ve accomplished.</p>
            </div>
          </div>

          <div class="-table">
            <div class="-table-cell">
              <div class="-circle">
                <p>2</p>
              </div>
            </div>
            <div class="-content">
              <p class="heading">Human Centric</p>
              <p class="desc">One of the things recruiters care the most is whether you’re a good fit for the company culture. Our resumes go deep into your personal life and reveal facts about the real person behind.</p>
            </div>
          </div>

          <div class="-table">
            <div class="-table-cell">
              <div class="-circle">
                <p>3</p>
              </div>
            </div>
            <div class="-content">
              <p class="heading">Job-Specific</p>
              <p class="desc">We think that the right way to apply for jobs is by carefully selecting 2-3 companies and then putting all your efforts into personalizing your resume to each company you are applying for.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section -green -padding-l bizdev-section carrousel-wrapper" id="values">
    <div>
      <h2>Enhancv Values</h2>
      <div class="row carrousel">
        <div class="content">
          <a class="control left-arrow">
            <img class="arrow left" src="/images/growth-enhancer/left-arrow.png" alt="">
          </a>
          <a class="control right-arrow">
            <img class="arrow right" src="/images/growth-enhancer/right-arrow.png" alt="">
          </a>
          <div class="pages-wrapper container values">
            <div id="page1">
              <div class="col-xs-12 col-sm-6">
                <strong class="value-heading">A company of friends</strong>
                <p class="value-desc">We have fun while working, often hang out together and go to the seaside. Although sometimes the Atlantic separates us, we are always there for one another.</p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <strong class="value-heading">Constant learning</strong>
                <p class="value-desc">We recognize our weaknesses and are committed to self-improvement. We ask for feedback, but are even more interested in what others can teach or show us.</p>
              </div>
            </div>
            <div id="page2" style="display: none">
              <div class="col-xs-12 col-sm-6">
                <strong class="value-heading">No to mediocrity</strong>
                <p class="value-desc">Although we are young, we do things amazingly. If we don’t do well at something, we admit the fact and find a way to make it shine.</p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <strong class="value-heading">Be Yourself</strong>
                <p class="value-desc">We don’t speak the corporate language, neither do we send long press releases. We believe that being yourself is the biggest weapon you possess so we encourage our users to remain true and real when creating their resume.</p>
              </div>
            </div>
            <div id="page3" style="display: none">
              <div class="col-xs-12 col-sm-6">
                <strong class="value-heading">Mistakes are overrated</strong>
                <p class="value-desc">Instead of only focusing on what isn’t working in order to fix it, we focus on what is working well, so that we emphasize on that and make it even better on the way to making it the best.</p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <strong class="value-heading">Ingenuity</strong>
                <p class="value-desc">We put a lot of thought into everything, so that it’s actually different, innovative and cool. Often our initial ideas sound silly, but we have the guts to try and later stand by our work.</p>
              </div>
            </div>
            <div id="page4" style="display: none">
              <div class="col-xs-12 col-sm-6">
                <strong class="value-heading">Live it or leave it</strong>
                <p class="value-desc">We are proud Enhancers of planet Earth. We love what we do and we do what we love.</p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <strong class="value-heading">User problems are a crisis</strong>
                <p class="value-desc">We understand why user problems are a crisis, so you will never hear us saying “Sorry for the inconvenience”. Our mission is to help people, so it is a privilege to talk to them and solve the issue.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="controls circles">
          <a class="circle-control active" data-page="1"></a>
          <a class="circle-control" data-page="2"></a>
          <a class="circle-control" data-page="3"></a>
          <a class="circle-control" data-page="4"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m menu-open growth-enhancer-section">
    <div class="container">
      <h2>A day in our office</h2>
      <div class="row">
        <img src="/images/growth-enhancer/pie-chart.svg" alt="Pie Chart">
      </div>
    </div>
  </div>

  <div class="section -green -padding-l bizdev-section why-join-us" id="values">
    <div class="container values list">
      <h2>Why join Enhancv?</h2>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>No traditional corporate hierarchies</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Everyone around you is deeply involved and ready to help &amp; empower you</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Your own way to remove barriers</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Seeing the impact that you are making on a daily basis</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>There’s so much to do and so much to learn</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white menu-open growth-enhancer-section images">
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <img src="/images/growth-enhancer/image-1.jpg" alt="Image 1">
        <div class="col-md-4 col-xs-12">
          <img src="/images/growth-enhancer/image-3.jpg" alt="Image 5">
        </div>
        <div class="col-md-8 col-xs-12">
          <img src="/images/growth-enhancer/image-4.jpg" alt="Image 4">
        </div>
      </div>
      <div class="col-md-5 col-xs-12">
        <img src="/images/growth-enhancer/image-2.jpg" alt="Image 2">
        <img src="/images/growth-enhancer/image-5.jpg" alt="Image 3">
      </div>
    </div>
  </div>

  <div class="section -white menu-open -padding-m join-the-force-values">
    <div class="container values">
      <div class="row">
        <div class="col-xs-12 col-sm-6 left-side">
          <div class="title-row">
            <strong class="value-heading">Your Strengths</strong>
          </div>
          <div>
            <strong class="value-heading">Polished Writing skills</strong>
            <p class="value-desc">you create easy-to-read content, going deeply into details about problem you are trying to solve. You are not writing for the content, you are writing for the audience</p>
          </div>
          <div>
            <strong class="value-heading">Networking & Distributing</strong>
            <p class="value-desc">you are a good-to-know guy, a trend-setter in your network. You’re not afraid to reach far out from your comfort zone, making connections with different top-of-the-line news medias.</p>
          </div>
          <div>
            <strong class="value-heading">Super Detail Oriented</strong>
            <p class="value-desc">you know that details are the difference between a “plan D” product and the I-can’t-live-without-that product</p>
          </div>
          <div>
            <strong class="value-heading">You are different from the others</strong>
            <p class="value-desc">You’re the odd one out - not conforming to the typical job descriptions. Rather, thinking, doing, and adapting to different tasks and environments.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 right-side">
          <div class="title-row">
            <strong class="value-heading">Your Marketing Skills</strong>
          </div>
          <div>
            <strong class="value-heading">Content Creation & Distribution </strong>
            <p class="value-desc">You write, post and distribute one piece of content in English per week. You find blogs to guest-post on and establish friendly relations with them. You teach the audience and the audience teaches you back.</p>
          </div>
          <div>
            <strong class="value-heading">Search Engine Optimization</strong>
            <p class="value-desc">You know how to optimize content, research long-tail keywords, and turns that #25 to #1.</p>
          </div>
          <div>
            <strong class="value-heading">Marketing Automation</strong>
            <p class="value-desc">You know how to shortcut already established process of the marketing pipeline, which bring value and save you a lot of time. You’re kind of a marketing-IT-ninja.</p>
          </div>
          <div>
            <strong class="value-heading">Marketing Campaigns & Experiments</strong>
            <p class="value-desc">You’ve organized and executed successful marketing campaigns and experiments, with metrics to back them up. The more outside the box, the better.</p>
          </div>
          <div>
            <strong class="value-heading">Analytics & Performance Tracking</strong>
            <p class="value-desc">You can keep track of the campaigns and experiments you’ve performed, and make improvements based on that.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section -green -padding-l growth-enhancer-section" id="values">
    <div class="container values">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="value-heading">Some good-to-know Technologies</h2>
          <p class="value-desc">Wordpress&#8195;/&#8195;Photoshop&#8195;/&#8195;Illustrator</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="value-heading">A world-class toolchains you are going to work with</h2>
          <p class="value-desc">Slack&#8195;/&#8195;Intercom&#8195;/&#8195;Jira&#8195;/&#8195;Confluence&#8195;/&#8195;Trello&#8195;/&#8195;Google Docs&#8195;/&#8195;MixPanel&#8195;/&#8195;Unbounce</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="value-heading">You’re an avid follower of these guys</h2>
          <p class="value-desc">Neil Patel&#8195;/&#8195;Sean Ellis&#8195;/&#8195;Rand Fishkin&#8195;/&#8195;Brian Dean&#8195;/&#8195;Paul Graham&#8195;/&#8195;David Heinemeier Hansson</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section -green -padding-s starwars-form" id="values">
  <div class="container values">
    <h2>Join us and Apply</h2>
    <div class="row" id="frm">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <form action="http://static.enhancv.com/send-mail/index.php" enctype="multipart/form-data" method="post">
          <div>
            <input class="form-control" type="text" name="fullname" placeholder="Your name">
          </div>
          <div>
            <input class="form-control" type="email" name="email" placeholder="Your email">
          </div>
          <div>
            <textarea class="form-control" placeholder="Tell us one thing that you are most proud of? Why exactly this?" name="most-proud"></textarea>
          </div>
          <div>
            <textarea class="form-control" placeholder="Give us a link(s) to your previous Force-Creations" name="force-creations"></textarea>
          </div>
          <div>
          <span class="filename">No file selected</span>
            <div class="file-upload button">
              <p>Attach resume</p>
              <input type="file" class="upload" placeholder="Your name" name="resume-upload">
            </div>
          </div>
          <div>
            <button type="submit" class="button">Apply</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{> footer}}
</body>
</html>
