{{> header data=meta_data.bizdev }}

<body id="mod">

  {{> navigation}}

  <div class="section -green -padding-s menu-open m-text-center header-s growth-enhancer-header fixed-header-elements">
    {{> shared_header}}

    <div class="container m-height-100p">
      <div class="v-base m-height-100p">
        <div class="v-middle">
          <h1>Houston, we need a Growth Enhancer...</h1>
          <p>Enhancv is looking for Digital Marketing Enhancer who is going to make people on the moon craft stand-outing resumes</p>
        </div>
      </div>
    </div>

    <a href="#about-text" class="go-to-section js-scroll-to"></a>
  </div>

  <div id="about-text" class="section -white -padding-s menu-open growth-enhancer-section growth-enhancer-about">
    <div class="container about-section">
      <div class="row">
        <h2>Bla volen dai text</h2>
        <p>Are you tired of seeing the same-old, traditional black and white resume? The one that summarizes your entire persona into a one-page list of work experiences? <br><br> Do you have friends who can’t represent themselves? Are they literally wasting their talent by working on boring projects and for mediocre companies, that they don’t even like? <br><br> <strong>Then you’re at the right place.</strong></p>
      </div>
    </div>
  </div>

  <div id="about-text" class="section -white -padding-s menu-open growth-enhancer-section growth-enhancer-resume">
    <div class="container about-section">
      <div class="row">
        <h2>How are we changing that?</h2>
        <p>Our mission is to help talented people believe in themselves and unleash their full potential. We are doing this by creating a new format, something that not only effectively describes your skills and achievements, but also shows the person behind the resume.</p>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <img src="/images/growth-enhancer/resume.jpg" alt="Resume">
        </div>
      </div>
    </div>
  </div>

  <div class="section -green -padding-l bizdev-section" id="values">
    <div class="container values">
      <h2>What we offer? (Benefits of the program)</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Hands-on Experience</strong>
          <p class="value-desc">We believe that the best way to learn new things is simply by doing them, so as our Biz Dev Partner you' ll have the opportunity to add a lot of real-world biz dev, marketing sales and leadership experience to your resume. You' ll learn the most important aspects of turning an early-stage startup into a successful company. (see below what exactly you'll learn)</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Collaborate with Amazing Teammates</strong>
          <p class="value-desc">Work directly with the co-founders of a global seed-stage startup that's disrupting a booming industry. Collaborate with Enhancv's passionate team of talented movers and shakers that love breaking the rules</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Complete Freedom</strong>
          <p class="value-desc">Our on-campus internship offers flexible work hours that you could easily fit into your schedule. It's up to you whether you'll work 10 or 40 hours per week</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Competitive Salary*</strong>
          <p class="value-desc">Earn up to 50% commissions per each sale made in your city. Close local partnerships and increase your revenue even more! Your compensation is 100% performance based</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m menu-open bizdev-section">
    <div class="container values list">
      <h2>A day in our office</h2>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to manage and grow a seed-stage startup</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to set up funnels</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>KPIs, other important startup metrics and how to measuer them</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>The foundations of "customer development"</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to interview customer interviews the right way</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Which are the lean principles and how to apply them in your everyday work</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to create and manage successful online and offline marketing campaigns</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to identify and close partnerships</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>How to expand a partnership network</span></p>
        </div>
      </div>
      <div class="row">
        <div class="bonus">
          <div class="col-xs-12 col-sm-1">
            <span class="bonus-heading">Bonus</span>
          </div>
          <div class="col-xs-12 col-sm-10">
            <span class="bonus-content">Despite the business stuff, you'll definitely master the skill of creating a kick-ass CV and selling yourself to ANY company you would like to work for... literally ANY! ;)</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section -green -padding-s bizdev-section" id="values">
    <div class="container values list">
      <h2>Why join Enhancv?</h2>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>No traditional corporate hierarchies</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Everyone around you is deeply involved and ready to help &amp; empower you</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Your own way to remove barriers</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Seeing the impact that you are making on a daily basis</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>There’s so much to do and so much to learn</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m menu-open bizdev-section">
    <div class="container values list">
      <h2>The following will be considered advantages</h2>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Major in Business, Marketing or Communication</span></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Previous Biz Dev experience</span></p>
        </div>
      </div>
      <div class="row list-item">
        <div class="col-xs-12 col-sm-6">
          <p class="value-heading bullet"><span>Member of different student organizations</span></p>
        </div>
      </div>
    </div>
  </div>

  <div id="apply" class="section -green -padding-l m-text-center bizdev-section">
    <div class="container join-our-team-section">
      <h1 class="green-section-heading">You think you have what it takes?<br>
      <span class="sub-heading">Please send us your CV and your motivation why you want to work with us at:</span>
      </h1>
      <a href="mailto:work@enhancv.com" class="button -white open-job-positions">Apply now</a>
      <br>
      <small class="additional-info">*The best Biz Dev Partners will be offered a full-time job and even equity stakes!</small>
    </div>
  </div>

{{> footer}}
</body>
</html>
