{{> header}}

<body id="mod">

  {{> navigation}}

  <div class="section -banner -full -home -padding-s menu-open">

      <div class="row">
        <div class="col-sm-3">

          <img src="/images/ench_logo.svg" alt="" class="ench-logo">

        </div>
        <div class="col-sm-6">

          <ul class="nav -center">
            <li><a href="#">Tour</a></li>
            <li><a href="#">Example</a></li>
            <li><a href="#">Blog</a></li>
          </ul>

        </div>
        <div class="col-sm-3 m-text-right cta-container">
          <a href="#" class="menu-hamb js-open-menu"><span>Toggle menu</span></a>
          <a href="#" class="button -small -trans button-cta">Let’s Begin</a>
        </div>
      </div>

    <div class="container m-height-100p">
      <div class="v-base m-height-100p">
        <div class="v-middle">
          <h1>The better<br> resume builder</h1>
          <a href="#" class="button m-margin-r4">Let’s Begin</a>
          Learn more
        </div>
      </div>
    </div>

    <a href="#steps-container" class="fa fa-angle-down go-to-section js-scroll-to"></a>

  </div>

  <div class="section -white menu-open">
    <div class="media-list">
      <div class="media-pretitle text-s text-g6">As soon on</div>
      <img src="/images/logos.png" alt="">
    </div>
  </div>

<!-- steps -->
<div id="steps-container" class="section -green -o-hidden steps-container">
  <div class="section -full">
    <div class="container">


        <div class="v-base step-image is-fixed" data-top="opacity: 1; position: fixed;" data-350-top="opacity: 0; ">
          <div class="v-middle">
          <img src="/images/1.png" alt="" >
          </div>
        </div>

        <div id="step-one" class="v-base step-screen">
          <div class="v-middle">
            <div class="steps-circles">
              <a href="#step-one" class="current js-scroll-to">1</a>
            </div>

            <h2>Is this how your resume
            looks now. Yeah we know.</h2>
            <p>Do you really expect to be hired with a
            resume like that?</p>

          </div>
        </div>

    </div>
  </div>

  <div class="section -full">
    <div class="container">


        <div class="v-base step-image is-fixed" data-250-top="opacity: 1; position: fixed;" data-350-top=" opacity: 0;">
          <div class="v-middle">
          <img src="/images/2.png" alt="" >
          </div>
        </div>

        <div id="step-two" class="v-base step-screen">
          <div class="v-middle">
            <div class="steps-circles">
              <a href="#step-two" class="current js-scroll-to">2</a>
              <a href="#step-one" class="js-scroll-to">1</a>
            </div>

            <h2>Looks better with our
            design, right?</h2>
            <p>Do you really expect to be hired with a
            resume like that?</p>

          </div>
        </div>

    </div>
  </div>

  <div class="section -full">
    <div class="container">


        <div class="v-base step-image is-fixed" data-250-top="opacity: 1; position: fixed;" data-350-top=" opacity: 0;">
          <div class="v-middle">
          <img src="/images/3.png" alt="" class="m-margin-l10">
          </div>
        </div>

        <div id="step-three" class="v-base step-screen">
          <div class="v-middle">
            <div class="steps-circles">
              <a href="#step-three" class="current js-scroll-to">3</a>
              <a href="#step-two" class="js-scroll-to">2</a>
              <a href="#step-one" class="js-scroll-to">1</a>
            </div>

            <h2>We help you customize
            it for your next job!</h2>
            <p>Do you really expect to be hired with a
            resume like that?</p>
            <a href="#" class="button -trans">Coming soon</a>

          </div>
        </div>

    </div>
  </div>

</div>


  <div class="section -white -padding-m">

    <div class="live-editing-image">
      <img src="/images/laptop.png" alt="">
    </div>

    <div class="container">

      <div class="live-editing">
        <h2 class="-enlarge">Live Editing</h2>
        <p>Do you really expect to be hired with a resume like that?</p>
      </div>

    </div>
  </div>

  <div class="section -dark -full -padding-s">

    <div class="container">

       <div class="v-base -h50">
          <div class="v-bottom">

            <div class="row">

              <div class="col-md-4 col-sm-6 feature">

                <i class="fa fa-slack fa-3x"></i>

                <h3>Live editing</h3>

                <p class="text-g9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ut! Minima voluptatem minus, iste deserunt temporibus vero rem illo, aperiam, culpa doloribus quaerat placeat quasi ipsa veritatis dolorem nesciunt optio est, repudiandae distinctio esse quidem natus saepe quos.</p>

              </div>
              <div class="col-md-4 col-sm-6">

                <i class="fa fa-steam fa-3x"></i>

                <h3>Various sections</h3>

                <p class="text-g9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ut! Minima voluptatem minus, iste deserunt temporibus vero rem illo, aperiam, culpa doloribus quaerat placeat quasi ipsa veritatis dolorem nesciunt optio est.</p>

              </div>
              <div class="col-md-4 col-sm-6">

                <i class="fa fa-gg fa-3x"></i>

                <h3>Beautiful Design Template</h3>

                <p class="text-g9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ut! Minima voluptatem minus, iste deserunt temporibus vero rem illo, aperiam, culpa doloribus quaerat placeat quasi ipsa veritatis dolorem nesciunt optio est, repudiandae distinctio esse quidem natus saepe quos. Lorem ipsum dolor sit amet, consectetur.</p>

              </div>

            </div>

          </div>
      </div>


            <div class="row">

              <div class="col-md-4 col-sm-6 feature">

                <i class="fa fa-pied-piper-alt fa-3x"></i>

                <h3>24 / 7 Services</h3>

                <p class="text-g9">Cumque cupiditate ipsum molestias nisi et est eaque harum facilis atque. Id non, neque earum aliquam blanditiis officia, ullam! Inventore natus ab nemo ipsam soluta, consectetur.</p>

              </div>
              <div class="col-md-4 col-sm-6">

                <i class="fa fa-apple fa-3x"></i>

                <h3>Customizable Options</h3>

                <p class="text-g9">Facilis error vel modi eligendi quibusdam. Perspiciatis deserunt nobis ipsa veritatis, officiis dolorum esse quisquam repellendus odit obcaecati fugit corrupti, culpa, repellat consequatur voluptate sint qui expedita.</p>

              </div>
              <div class="col-md-4 col-sm-6">

                <i class="fa fa-file-pdf-o fa-3x"></i>

                <h3>Export as .PDF</h3>

                <p class="text-g9">This is how you resume looks right now. Right? Well it doesn’t have to be like that. We can change that.This is how you resume looks right now. Right?</p>

              </div>

            </div>

    </div>

  </div>

  <div class="section -white -full">
    <h2 class="testimonial-section-title m-text-center">What employers say about it?</h2>

    <div class="v-base">
      <div class="v-middle">


          <div class="container">

          <div class="js-slick">
            <div class="row gutter100">
              <div class="col-sm-6">

                <div class="testimonial">
                  <img src="http://lorempixel.com/160/160/people/" alt="">
                  <h3>Jack Doe</h3>
                  <span>HR Director at Telerik</span>
                  <p class="text-l">The design was awesome, but the real value was hidden in the numerous tips and examples that were provided!</p>
                </div>

              </div>


              <div class="col-sm-6">

                <div class="testimonial">
                  <img src="http://lorempixel.com/160/160/cats/" alt="">
                  <h3>Grumpy Cat</h3>
                  <span>HR at Visteon</span>
                  <p class="text-l">I have applied for my first job with this new resume and the company called me on the very next day!</p>
                </div>

              </div>

            </div>

            <div class="row gutter100">
              <div class="col-sm-6">

                <div class="testimonial">
                  <img src="http://lorempixel.com/160/160/people/" alt="">
                  <h3>Jack Doe2</h3>
                  <span>HR Director at Telerik</span>
                  <p class="text-l">The design was awesome, but the real value was hidden in the numerous tips and examples that were provided!</p>
                </div>

              </div>


              <div class="col-sm-6">

                <div class="testimonial">
                  <img src="http://lorempixel.com/160/160/cats/" alt="">
                  <h3>Grumpy Cat3</h3>
                  <span>HR at Visteon</span>
                  <p class="text-l">I have applied for my first job with this new resume and the company called me on the very next day!</p>
                </div>

              </div>

            </div>


          </div>
    </div>


      </div>
    </div>

    <a href="#" class="testimonial-nav-left fa fa-angle-left js-prev"></a>
    <a href="#" class="testimonial-nav-right fa fa-angle-right js-next"></a>

  </div>

  <div class="section -green -padding-l m-text-center">
    <div class="container -cta">

      <h2>Are you still sure you are at the right job for you?</h2>

      <a href="#" class="button -white">Let’s Begin</a>

    </div>
  </div>

{{> footer}}

</body>
</html>
