{{> header}}

<body id="mod">

  <!-- {{> navigation}} -->

  <div class="section -green -full -padding-s menu-open m-text-center header-s">
      <div class="row">
        <div class="col-sm-3">
          <img src="/images/ench_logo.svg" alt="">
        </div>
        <div class="col-sm-3 m-text-right cta-container">
          <ul class="nav -right">
            <li><a href="#">Login</a></li>
            <a href="#" class="fa fa-bars menu-hamb js-open-menu"></a>
           </ul>
        </div>
      </div>
    <div class="container">
      <div class="v-base">
        <div class="v-middle">
          <h1 style="margin: 33px 0 10px 0;">We will hire you.<br/> Prove that you are worthy</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m">
    <div class="container job">
      <div class="job-header">
        <div class="row">
          <div class="col-sm-7">
            <h2>Senior Java Developer</h2>
          </div>
          <div class="col-sm-5">
            <h3><a href="#" class="back-link"><i class="fa fa-angle-left back-arrow"></i>Back to Jobs</a></h3>
          </div>
        </div>
      </div>
      <div class="job-content">
        <div class="row">
        <div class="col-sm-7 left-content">
          <div class="job-left-wrapper">
          <div class="job-image">

          </div>
          <div class="job-text">
            <!-- Here the html will be written for paragraphs -->
            <p>
              You are a sales-oriented professional with an appetite for business development and the ability to deliver impact. You have a history of developing deep collaborative relationships with senior-level clients to become their premier trusted business partner. You also have a passion for strategic analysis and planning, and are able to conduct some of the most advanced analytical and strategic work within Google’s sales organization</P>
<p>Armed with a deep knowledge of Google's products, market trends, client opportunities and macro industry knowledge, you will work alongside Google’s industry teams in Large Customer Sales (LCS), Customer Solutions teams and regional and global agency business leaders in identifying growth opportunities, building compelling brand and performance solutions for partners, managing day-to-day relationships with key agency stakeholders, and taking the lead on joint business plan development. You will be responsible for developing the long term strategy to grow and transform the agency business across the media and creative agency landscape.</p>
<p>You will be exposed to the full portfolio of Google’s products (including Search, YouTube, Display, Mobile and Platforms), across all industry verticals represented by agencies, and work closely with Google’s local sales teams.
            </p>
          </div>
          <div class="qualifications">
            <h3>Preferred qualifications</h3>
            <p>• MBA degree.</p>
            <p>• Strong team management experience, along with strong project management, interpersonal and organizational skills.</p>
            <p>• Data-driven and highly analytical, with the ability to translate data and trends into powerful strategies and compelling business outcomes.</p>
            <p>• Proven track record of strong business acumen and development, and of working with and/or for major media/creative agencies.</p>
            </p>
            <h3>Minimum qualifications</h3>
            <p>• BA/BS degree or equivalent practical experience.</p>
            <p>• Experience in sales, business development and/or client/agency business management.</p>
          </div>
        </div>
        </div>
        <div class="col-sm-5 right-content">
          <div class="job-info">
            <p class="job-info-type">Department</p>
            <p class="job-info-value">Product Development</p>
          </div>
          <div class="job-info">
            <p class="job-info-type">Job type</p>
            <p class="job-info-value">Full-Time</p>
          </div>
          <div class="job-info">
            <p class="job-info-type">Last updated</p>
            <p class="job-info-value">Jul 06, 2015</p>
          </div>
          <div class="job-info">
            <p class="job-info-type">Location</p>
            <p class="job-info-value">Enhancv office, Betahaus, Sofia</p>
          </div>
          <button class="button">Apply for the job</button>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-12 border-col">
          <div class="border-divider"></div>
        </div>
      </div>

      <div class="apply-form">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="apply-for-job">Apply for this job position</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <div class="tell-me">
              <p>1. What's your proudest achievement?</p>
              <textarea placeholder="It can be a personal project or something you’ve worked on professionally. Just a short paragraph is fine, but I’d love to know why you’re proud of it." class="form-control"></textarea>
            </div>
            <div class="tell-me">
              <p>2. Tell me about a technical book or article you read recently.</p>
              <textarea placeholder="Why you like it, and why I should read it." class="form-control"></textarea>
            </div>
            <div class="tell-me">
              <p>3. Tell me about one feature of Enhancv you really like, and why.</p>
              <textarea placeholder="" class="form-control"></textarea>
            </div>
            <div class="tell-me">
              <button type="submit" class="button">Send your applications</button>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="right">
              <div class="tell-me">
                <p>Your information</p>
                <input type="text" class="form-control" placeholder="Your name">
                <input type="text" class="form-control" placeholder="Your email">
              </div>
              <div class="tell-me">
                <p>Upload your resume</p>
                <div class="file-upload button">
                  <p>Choose file</p>
                  <input type="file" class="upload" placeholder="Your name">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{{> footer}}
</body>
</html>
