{{> header data=meta_data.jobs }}

<body id="mod">

  {{> navigation}}

  <div class="section -green -padding-s menu-open m-text-center header-s job-header fixed-header-elements">
    {{> shared_header}}
    <div class="container">
      <div class="v-base">
        <div class="v-middle">
          <h1 style="margin: 33px 0 10px 0;">We will hire you.<br/> Prove that you are worthy</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m menu-open">
    <div class="container job-list-section">
      <div class="section-info">
        <div class="row">
          <div class="col-sm-6">
            <h2>Why do we exist?</h2>
          </div>
          <div class="col-sm-6">
            <p>We've seen a lot of amazing designers, engineers and young prodigies that are dissatisfied with their current job or job prospects, simply because they aren't able to strongly present themselves.</p>
          </div>
        </div>
      </div>
      <a href="join-the-force.html">
      <div class="job-list">
        <div class="row job">
          <div class="col-sm-7 col-xs-6 job-title">
            <p>Front-End Jedi Master</p>
          </div>
          <div class="col-sm-3 col-xs-4 job-category">
            <p>Product Development</p>
          </div>
          <div class="col-sm-2 col-xs-2 job-work-time">
            <p>Full-Time</p>
          </div>
        </div>
        </a>
        <a href="growth-enhancer.html">
        <div class="row job">
          <div class="col-sm-7 col-xs-6 job-title">
            <p>Digital Marketing Enhancer</p>
          </div>
          <div class="col-sm-3 col-xs-4 job-category">
            <p>Marketing</p>
          </div>
          <div class="col-sm-2 col-xs-2 job-work-time">
            <p>Full-Time</p>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>

{{> footer}}
</body>
</html>
