{{> header data=meta_data.jobs }}

<body id="mod">

  {{> navigation}}

  <div class="section -green -padding-s menu-open -main-full header-s starwars-header fixed-header-elements">
    {{> shared_header}}
    <div class="container">
      <div class="v-base">
        <div class="v-middle wrapper">
          <h1 class="blue-header-title">In a galaxy far far away...</h1>
          <p class="header-text">
            On a small, relatively unknown planet known as Bulgaria, a young startup called Enhancv was mobilizing its forces. It’s goal was to help young Jedi showcase their skills and personalities in holographic papers. To do that, however, they would need the help of a Front-End Jedi Master.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section -green -padding-s join-the-force-values" id="values">
    <div class="container values">
      <h2>Perfect Jedi Profile</h2>
      <div class="row title-row">
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Force Powers</strong>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Personal Principles</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Force Web Styling</strong>
          <p class="value-desc">Build beautiful interfaces with HTML and CSS - take a PSD and turn it into a working website</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Detail Sense</strong>
          <p class="value-desc">You are great at noticing small but important things that people who don’t own the force might not notice.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Force Interactivity</strong>
          <p class="value-desc">Develop rich client applications using Javascript and ReactJS (or other similar framework)</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Live it or Leave it</strong>
          <p class="value-desc">You are a Jedi Master because you like the Code Force you use it early in the mornings and late in the evenings. You can’t live without it and it is your past, present and future</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Master Mind</strong>
          <p class="value-desc">Design and implement server-side REST apps with Node.js using algorithms and data structures</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Different &amp; Powerful</strong>
          <p class="value-desc">You’re the odd one out - not matching to the typical Jedi Master job descriptions. Rather, thinking, doing, and adapting to different tasks and environments. </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <strong class="value-heading">Weapon Proficiency</strong>
          <p class="value-desc">Over 5 years of combat experience, using Grunt & Continuous integration and doing end-to-end testing.</p>
        </div>
      </div>
    </div>
  </div>
    <div class="section -green -padding-s becoming-part" id="values">
    <div class="container values">
      <h2>Becoming Part of the Enhancv Order</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="/images/starwars/monument25.svg" class="becoming-part-icon"/>
          <span class="value-desc">No traditional Republic hierarchies</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <img src="/images/starwars/bug6.svg" class="becoming-part-icon"/>
          <span class="value-desc">Your own way to solve problems and fight against the Siths</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <img src="/images/starwars/crown28.svg" class="becoming-part-icon"/>
          <span class="value-desc">There’s so much to do and so much to learn in order to Master the Force</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <img src="/images/starwars/gold6.svg" class="becoming-part-icon"/>
          <span class="value-desc">Competitive Remuneration Package including a holiday in distant parts of the Galaxy and even a stake in the Order</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <img src="/images/starwars/circle39.svg" class="becoming-part-icon"/>
          <span class="value-desc">Everyone around you is deeply involved and ready to help and empower you</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <img src="/images/starwars/heart36.svg" class="becoming-part-icon"/>
          <span class="value-desc">Seе the impact of your contributions on a daily basis</span>
        </div>
      </div>
    </div>
  </div>

  <div class="section -green -padding-s starwars-form" id="values">
  <div class="container values">
    <h2>Join the Force</h2>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <form action="">
          <div>
            <input class="form-control" type="text" placeholder="Your name">
          </div>
          <div>
            <input class="form-control" type="email" placeholder="Your email">
          </div>
          <div>
            <textarea class="form-control" placeholder="Tell us one thing that you are most proud of? Why exactly this?"></textarea>
          </div>
          <div>
            <textarea class="form-control" placeholder="Give us a link(s) to your previous Force-Creations"></textarea>
          </div>
          <div>
          <span class="filename">No file selected</span>
            <div class="file-upload button">
              <p>Attach resume</p>
              <input type="file" class="upload" placeholder="Your name">
            </div>
          </div>
          <div>
            <button type="submit" class="button">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{{> footer}}

</body>
</html>
