

// Temporarily

/////////////////////////////////////////////
///////////////// Colors ////////////////////
////////////////////////////////////////////

$sr_main-color:                     #384347;
$sr_secondary-color:                #65696D;

///////////////// Buttons //////////////////

// Default Botton
$sr_button_green:                   #2DC08D;
$sr_button_green_hover:             #96DFC6;
$sr_button_green_pressed:           #7DC6AD;
$sr_button_green_unavailable:       #B1B3B5;

// Smalll Button
$sr_button_green:                   #8C7CDB;
$sr_button_green_hover:             #C5BDED;
$sr_button_green_pressed:           #ACA4D4;
$sr_button_green_unavailabe:        #B1B3B5;

////////////////////////////////////////////
////////////////////////////////////////////
