<a class="nav-login-button button line back-button" href="/">Homepage</a>
<a class="nav-login-button button line back-button" href="http://app.enhancv.com">Build your resume</a>
</div>
</div>
</div>
</div>
{{> footer}}
</body>
</html>