<footer class="section -footer text-g6">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="#" class="button -small -trans m-margin-r2">Let's Begin</a>
        It's free
      </div>
      <div class="col-sm-4 m-text-center">
        <div class="social">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-google"></a>
        </div>
      </div>
      <div class="col-sm-4 m-text-right">
        <img src="/images/ench_logo.svg" alt="" class="logo">
      </div>
    </div>
  </div>
</footer>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
<script src="/js/combined.min.js"></script>