<div class="menu">
  <a href="#" class="button -small -trans -grey">Let's Begin</a>
  <a href="#" class="fa fa-times menu-close js-close-menu"></a>

  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Tour</a></li>
    <li><a href="#">The Problem</a></li>
    <li><a href="#">The Science</a></li>
    <li><a href="#">Examples</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">F.A.Q</a></li>
    <li><a href="#">About us</a></li>
  </ul>

  <ul class="-secondary">
    <li><a href="#">Partners</a></li>
    <li><a href="#">For Companies</a></li>
    <li><a href="#">For Universities</a></li>
    <li><a href="#">Contacts</a></li>
  </ul>

  <div class="social -small -left">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-google"></a>
  </div>
</div>