<div class="row" style="padding-left: 25px;">
  <div class="col-sm-3" style="text-align: left;">
    <a href="/">
    	<img src="/images/ench_logo.svg" alt="Enhancv logo">
    </a>
  </div>
  <div class="col-sm-3 m-text-right cta-container">
    <ul class="nav -right">
      <li><a href="#">Login</a></li>
      <a href="#" class="fa fa-bars menu-hamb js-open-menu"></a>
    </ul>
  </div>
</div>