<div class="row" style="padding-left: 25px;">
  <div class="col-sm-3" style="text-align: left;">
    <a href="/">
    	<img src="/images/ench_logo.svg" alt="Enhancv logo" class="ench-logo">
    </a>
  </div>
  <div class="col-sm-3 m-text-right cta-container">
      <a class="nav-login-button" href="#">Login</a>
      <a href="#" class="menu-hamb js-open-menu"><span class="green-hamburger">Toggle menu</span></a>
  </div>
</div>
