<nav
 class="navbar navbar-padded navbar-static-sm navbar-fixed-top menu-open"
 data-toggle="toggle-class-over"
 data-class-name="navbar-color-primary"
 data-offset-top="65"
 data-offset-bottom="30"
 data-target="[data-navbar-color-primary]">
    <div class="container-fluid">
        <a
         class="navbar-brand"
         href="/">
            {{> enhancv-logo }}
        </a>

        <button
         type="button"
         class="navbar-toggle js-open-menu">
            <span class="sr-only">Toggle menu</span>
            <span class="icon-bar icon-bar-up"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar icon-bar-down"></span>
        </button>
    </div>
</nav>
