.dots {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;

    li {
        position: absolute;
        transform: translate(-50%, -50%);

        .btn {
            outline: none !important;
        }
    }
}

.btn-dot {
    padding: 0;
    border: 0;
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.5);

    &:hover, &:active, &:focus {
        color: white;
    }

    i {
        pointer-events: none;
        font-size: 26px;
        line-height: 10px;
        display: inline-block;
        margin-top: -3px;
        margin-left: -3px;
    }
}
