$radio-button-size: 14px;

.radio-button-group {
	position: relative;
}

.radio-button {
	width: $radio-button-size;
	height: $radio-button-size;
	border-radius: ($radio-button-size / 2);
	border: 2px solid $brand-primary;
	display: inline-block;
	position: relative;
	cursor: pointer;

	&.checked:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border-radius: ($radio-button-size / 2);
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: #00c091;
		border: 2px solid #fff;
	}
}

.radio-button-label {
	cursor: pointer;
	position: relative;
	top: -1px;
}
