//
// Tooltips
// --------------------------------------------------


// Base class
.tooltip {
  position: absolute;
  z-index: $zindex-tooltip;
  display: block;
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text;
  font-size: $font-size-small;

  @include opacity(0);

  &.in     { @include opacity($tooltip-opacity); }
  &.top    { margin-top:  -3px; padding: 5px 0; }
  &.right  { margin-left:  3px; padding: 0 1px; }
  &.bottom { margin-top:   3px; padding: 5px 0; }
  &.left   { margin-left: -3px; padding: 0 1px; }
}

// Wrapper for the tooltip content
.tooltip-inner {
  max-width: $tooltip-max-width;
  padding: 8px 8px;
  color: $tooltip-color;
  text-align: center;
  background-color: $tooltip-bg;
  border-radius: $border-radius-base;
}

// Arrows
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip > .tooltip-arrow {
  &,
  &:after {
    position: absolute;
    display: block;
    width: $tooltip-arrow-width;
    height: $tooltip-arrow-width;
  }
}
.tooltip > .tooltip-arrow:after {
  content: url(/img/curvy-arrow.svg);
}

.tooltip {
  &.top > .tooltip-arrow {
    left: 50%;
    margin-left: -$tooltip-arrow-width/2 - 2px;
    bottom: -$tooltip-arrow-width + 18px;
  }
  &.right > .tooltip-arrow {
    top: 50%;
    left: -$tooltip-arrow-width + 14px;
    margin-top: -$tooltip-arrow-width/2 - 2px;
    transform: rotate(90deg);
  }
  &.bottom > .tooltip-arrow {
    left: 50%;
    margin-left: -$tooltip-arrow-width/2 + 3px;
    top: -$tooltip-arrow-width/2 + 5px;
    transform: rotate(180deg);
  }

  &.left > .tooltip-arrow {
    top: 50%;
    right: -$popover-arrow-width/2 + 2px;
    margin-top: -$popover-arrow-width/2 + 2px;
    transform: rotate(-90deg);
  }
}

