{{> header data=meta_data.designer }}

<body id="mod">

  {{> navigation}}

  <div class="section -green -padding-s menu-open m-text-center header-s job-header fixed-header-elements">
    {{> shared_header}}
    <div class="container">
      <div class="v-base">
        <div class="v-middle">
          <h1 style="margin: 33px 0 10px 0;">We will hire you.<br/> Prove that you are worthy</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section -white -padding-m menu-open">
    <div class="container job">
      <div class="job-title-header">
        <div class="row">
          <div class="col-sm-7">
            <h2>Part-time Graphic Designer</h2>
          </div>
          <div class="col-sm-5">
            <h3><a href="/jobs.html" class="back-link"><i class="fa fa-angle-left back-arrow"></i>Back to Jobs</a></h3>
          </div>
        </div>
      </div>
      <div class="job-content">
        <div class="row">
        <div class="col-sm-7 left-content">
          <div class="job-left-wrapper">
          <div class="job-image">
            <img src="/images/job/graphic-designer/image.jpg" alt="" />
          </div>
          <div class="job-text">
            <p>Do you love crafting a world-class design and learn new patterns and concepts? Do you relish creating innovative products and overly successful marketing campaigns? Do you want to see your work featured on some of the best international medias out there?</p>
<p>You might be the one we're looking for..</p>
<p>We are a venture-backed Bulgarian company and we’re aiming to disrupt the traditional job application industry. You know Europass CVs, right? Well our goal is to create a much better format for applying for jobs, something that reflects the applicant's' real skills and capabilities.</p>
<p>Now we are looking for a <strong>part-time graphic designer</strong>, possible a recent grad, who will help our growth team with stunning visual designs. Someone who will provide a creative perspective to the marketing department, crafting digital advertising materials following his own and company vision.</p>
          </div>
          <div class="qualifications">
            <h3>If this is you, than you need the following skills:</h3>
            <p>• Extensive expertise with Photoshop &amp; Illustrator</p>
            <p>• 5+ successful projects or portfolio that can impress us</p>
            <p>• Noticing the smaller things. Details make up the bigger picture</p>
            <h3>It’s a plus if:</h3>
            <p>• You have a good command of English</p>
            <p>• You love to paint and have a desire to develop UI/UX skills</p>
            <p>• You love to help people</p>
            <h3>We are not seeking for:</h3>
            <p>• People who are just looking for some random job</p>
            <p>• People who are “normal” and don’t strive for the impossible</p>
            <h3>We don’t really care about:</h3>
            <p>• Your years of work experience</p>
            <p>• Your GPA in school / university</p>
          </div>
        </div>
        </div>
        <div class="col-sm-5 right-content">
          <div class="job-info">
            <p class="job-info-type">Department</p>
            <p class="job-info-value">Design</p>
          </div>
          <div class="job-info">
            <p class="job-info-type">Job type</p>
            <p class="job-info-value">Part-Time</p>
          </div>
          <div class="job-info">
            <p class="job-info-type">Last updated</p>
            <p class="job-info-value">Feb 01, 2016</p>
          </div>
          <div class="job-info">
            <p class="job-info-type">Location</p>
            <p class="job-info-value">Enhancv headquarters, Betahaus, Sofia</p>
          </div>
          <button class="button apply-btn">Apply for the job</button>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-12 border-col">
          <div class="border-divider"></div>
        </div>
      </div>

      <div class="apply-form graphic-designer-form">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="apply-for-job">Join Enhancv</h2>
          </div>
        </div>
        <form action="http://static.enhancv.com/send-mail/index.php" enctype="multipart/form-data" method="post" id="frm">
        <div class="row">
          <input type="hidden" name="job" value="graphic-designer">
          <div class="col-sm-7">
            <div class="tell-me">
              <p>1. Tell us what is that one thing you’re most proud of. Why?</p>
              <textarea placeholder="It can be a personal project or something you’ve worked on professionally. Just a short paragraph is fine, but I’d love to know why you’re proud of it." class="form-control" name="most-proud"></textarea>
            </div>
            <div class="tell-me">
              <p>2. Give us a couple of links or to your previous work (or portfolio) and tell us about the results you’ve driven.</p>
              <textarea placeholder="" class="form-control" name="work"></textarea>
            </div>
            <div class="tell-me">
              <button type="submit" class="button">Send your applications</button>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="right">
              <div class="tell-me">
                <p>Your information</p>
                <input type="text" class="form-control" placeholder="Your name" name="fullname">
                <input type="email" class="form-control" placeholder="Your email" name="email">
              </div>
              <div class="tell-me">
                <p>Upload your resume</p>
                <div class="file-upload button">
                  <p>Choose file</p>
                  <input type="file" class="upload" placeholder="Your name" name="resume-upload">
                </div>
                <br><br>
                <span class="filename">No file selected</span>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>

{{> footer}}
</body>
</html>
