.as-seen {
    padding-top: 80px;
    padding-bottom: 80px;

    > h4 {
        -webkit-font-smoothing: initial;
        -moz-osx-font-smoothing: initial;
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        line-height: 24px;
        color: #333;
    }

    .as-seen-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        & > * {
            flex: 0 0 auto;
            display: inline-block;
            margin-left: 30px;

            img {
                vertical-align: middle;
                display: inline-block;
            }

            @media screen and (max-width: $screen-xs-max) {
                transform: scale(0.8);
            }
        }
    }
}
