.companies {
    padding-top: 100px;
    padding-bottom: 100px;
}

.companies-item {
    height: 70px;
    line-height: 70px;

    img {
        vertical-align: middle;
        display: inline-block;
    }
}
