.dating-footer {
    padding: 130px 0;

    .h1 {
        color: #fff;
    }

    p {
        opacity: 0.4;
        font-family: Roboto;
        font-size: 14px;
        text-align: center;
        line-height: 16px;
        color: #FFF;
    }
}
