.footer {
    background-color: #fff;
    color: #65696d;
    border-top: 2px solid rgba(151, 151, 151, 0.06);
    /*
    color: $gray-dark;
    */
    .footer-title {
        font-weight: bold;
        margin-top: 16px;
        margin-bottom: 30px;
    }

    .list-unstyled li {
        margin-bottom: $spacer * 1;

        .footer-arrow-link {
            color: $brand-primary;
            font-weight: bold;
        }
    }

    .list-unstyled li a {
        font-size: 15px;
        color: #65696d;
    }

    .links-container {
        margin-top: $spacer * 8;
        margin-bottom: $spacer * 9;
    }

    .social-link {
        margin-right: 16px;
    }

    .copyright {
        margin-top: 4px;
        font-size: 13px;
    }

    .made-with-love {
        text-align: right;
    }

    .footer-logo {
        width: 26px;
        height: 13px;
        margin-top: 8px;
        margin-left: 16px;
    }

    .rights {
        width: 262px;
    }

    @media (max-width: $screen-xs-max) {
        .links-container {
            margin-top: 0;
            margin-bottom: $spacer * 3;
        }

        .list-unstyled {
            margin-top: 10px;
        }
    }
}
