.tweets-container {
    > .h1 {
        margin-bottom: 40px;
        font-family: Roboto;
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        line-height: 24px;
        color: #333;
        -webkit-font-smoothing: initial;
        -moz-osx-font-smoothing: initial;
    }

    .twitter-tweet {
        display: block;

        @media (max-width: $screen-sm-max) {
            float: none !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}
