.tweets-container, .tweets-timeline-container {
    > .h1 {
        margin-bottom: 40px;
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        line-height: 24px;
        color: #333;
        -webkit-font-smoothing: initial;
        -moz-osx-font-smoothing: initial;
    }

    .twitter-tweet {
        display: block;

        @media (max-width: $screen-sm-max) {
            float: none !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}

.tweets-timeline-container {

    > .h1 {
        color: #B3B3B3;
    }

    .timeline-inner {
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        padding: 0 18px;
        display: block;
        margin: 0 auto;
        max-width: 515px;
    }
}
