.discover-header {
    padding: 65px 0;
    min-height: 535px;
    color: white;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 50%, $brand-primary 100%);
    background-size: cover;
    background-position: center;

    .rom-text {
        color: #808080;
        font-size: 21px;
        font-weight: 300;
        line-height: 24px;
    }

    .rom-date {
        color: #b3b3b3;
        font-size: 14px;
        line-height: 16px;
        font-weight: normal;
        margin-top: 4px;
    }

    .rom-person-name {
        color: #2dc08d;
        font-family: "Geometria Light";
        font-size: 42px;
        font-weight: 300;
        line-height: 53px;
    }

    .rom-hired-at {
        color: #808080;
        font-family: Roboto;
        font-size: 14px;
        line-height: 16px;
    }

    .rom-description {
        color: #333333;
        font-family: Roboto;
        font-size: 14px;
        line-height: 16px;
    }

    .discover-header-readmore {
        @media screen and (max-width: $screen-xs) {
            text-align: center;
        }
    }
}

.discover-header-image-container {
    position: relative;
    display: inline-block;
}

.discover-header-image {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
}

.discover-header-image-tag {
    width: 137px;
    position: absolute;
    top: -10px;
    right: -35px;
}

.discover-resumes-list {
    margin-bottom: $spacer*8;

    .carousel-inner .item {
        text-align: center;
    }

    .resume-container {
        padding: 0px $spacer*2;
        display: inline-block;

        &:hover {
            .resume-image {
                border: 1px solid #2dc08d;
            }

            .resume-name {
                color: #2dc08d;
            }
        }
    }

    .resume-image {
        display: inline-block;
        height: 340px;
        width: 240px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
        border: 1px transparent solid;
    }

    .resume-name {
        font-size: 16px;
        display: block;
    }
}

.resume-tag {
    display: inline-block;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    padding: 5px 8px;

    color: #333333;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    margin: $spacer/2;
}

.experts-say {
    background: $brand-primary;
    color: #ffffff;

    .experts-picture {
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }

    .experts-hired-container {
        padding-left: 30px;
        padding-top: $spacer*2;

        .experts-hired-at {
            opacity: 0.7;
            flex: 1;
            font-size: 14px;
            line-height: 16px;
        }

        img {
            margin-top: 4px;
        }
    }

    .experts-person {
        display: flex;
        flex-direction: row;
    }

    .experts-name {
        font-weight: 300;
        font-size: 42px;
        line-height: 46px;
        font-family: "Geometria Light";
    }

    .experts-text {
        font-size: 14px;
    }

    .feedback-container {
        width: 100%;
        max-width: 350px;
        padding: $spacer*2 $spacer*2;
        border-radius: 5px;
        border: 1px solid #ffffff;
        font-size: 16px;
        margin-top: 85px;

        @media screen and (max-width: $screen-sm) {
            margin: 0 auto;
            margin-top: 20px;
        }

        .btn {
            width: 100%;
        }
    }
}

.experts-say-flex {
    display: flex;
    margin-bottom: $spacer*10;
    flex-direction: row;

    @media screen and (max-width: $screen-sm) {
        flex-direction: column;
        margin-bottom: $spacer*4;
    }
}

.experts-say-flex-col {
    display: flex;
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: $spacer*2;

    .embed-responsive {
        width: 100%;
    }

    .experts-say-flex-vcenter {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.popular-resumes {
    background-image: url(/img/homepage/lines-bg.png);
    background-size: cover;

    .popular-resumes-image {
        box-shadow: 0 3px 60px 0 rgba(0, 0, 0, 0.3);
    }

    .popular-resumes-name {
        color: #333333;
        font-size: 27px;
        font-weight: 300;
        line-height: 36px;
    }

    .popular-resumes-position {
        color: #808080;
        font-size: 14px;
        line-height: 16px;
    }

    .popular-resumes-description {
        color: #333333;
        font-size: 14px;
        line-height: 16px;
    }
}
