.experienced {
    .header {
        background-image: url(/img/landing-pages/experienced/header.jpg);
        height: 680px;
        max-height: calc(100vh - 60px);

        @media screen and (max-width: $screen-xs-max) {
            background-image: url(/img/landing-pages/experienced/header-mobile.jpg);
            background-position-x: 75%;
        }
    }

    .steps {
        .step {
            &:nth-child(2n) {
                background: #f5f5f5;
            }
        }
    }

    .call-to-action {
        background:
         linear-gradient(180deg, rgba($brand-primary,0.8) 0%, $brand-primary 100%),
         url(/img/landing-pages/experienced/footer.jpg);
        background:
         linear-gradient(180deg, rgba($brand-primary,0.8) 0%, $brand-primary 100%),
         -webkit-image-set( url(/img/landing-pages/experienced/footer.jpg) 1x, url(/img/landing-pages/experienced/footer.jpg) 2x);
        background:
         linear-gradient(180deg, rgba($brand-primary,0.8) 0%, $brand-primary 100%),
         image-set( url(/img/landing-pages/experienced/footer.jpg) 1x, url(/img/landing-pages/experienced/footer.jpg) 2x);
        background-size: cover;
        background-position: center;
    }
}

