.experienced {
    .header {
        background-image: url(/img/landing-pages/experienced/header.jpg);
        height: 680px;

        @media screen and (max-width: $screen-xs-max) {
            background-image: url(/img/landing-pages/experienced/header-mobile.jpg);
            background-position-x: 75%;
        }
    }

    .steps {
        .step {
            &:nth-child(2n) {
                background: #f5f5f5;
            }
        }
    }
}

