.job {
    padding-top: 56px;
    padding-bottom: 56px;

    h2 {
        margin-bottom: 24px;
        font-size: 42px;
    }

    .secondary-text {
        color: #808080;
    }

    .content {
        a {
            text-decoration: underline;
        }

        margin-top: 32px;

        & > * {
            font-size: 16px;
            line-height: 19px;
        }

        p {
            margin: 0 0 20px !important;
        }

        ul {
            padding-left: 20px;

            li {
                margin-top: 5px;
            }
        }
    }

    .job-text {
        margin-bottom: 32px;
    }

    .application-form {
        background-color: #e6e6e6;
        margin-top: 32px;
        margin-bottom: 32px;
        padding: 64px 96px;
        border-radius: 5px;

        label {
            font-weight: normal;
        }

        .form-group {
            margin-bottom: 24px;
        }

        .apply-button {
            text-align: right;
        }

        @media (max-width: $screen-xs-max) {
            padding: 40px 20px;
            border-radius: 0;

            .apply-button {
                text-align: left;
                margin-top: 16px;
            }
        }
    }

    .go-back {
        font-size: 16px;
        line-height: 19px;
        margin-top: 56px;

        i {
            font-size: 24px;

            &:before {
                font-size: 20px;
            }
        }
    }

    @media (min-width: $screen-sm-max) {
        .job-subtitle {
            margin-left: 60px;
        }
    }
}

.modal-body {
    padding: 32px;
    p {
        font-size: 21px;
        line-height: 24px;
        font-weight: 300;
    }
}

.green-block {
    background-color: $brand-primary;
    color: #fff;
    padding-top: 108px;
    padding-bottom: 108px;
}
