.landing-homepage {
    .btn {
        font-weight: 300;
    }

    .header {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 650px;
        position: relative;

        .gradient-overlay {
            background: rgba(255,255,255,0);
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.59) 40%,rgba(255,255,255,1) 68%,rgba(255,255,255,1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.59) 40%,rgba(255,255,255,1) 68%,rgba(255,255,255,1) 100%);
            height: 70%;
            width: 100%;
            position: absolute;
            bottom: 0;
        }

        .solid-overlay {
            background: rgb(255,255,255);
            height: 45%;
            width: 100%;
            position: absolute;
            bottom: 0;
        }

        .header-content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            p {
                color: $gray-light;
            }
        }
    }

    .steps {
        #landing-tips {
            position: relative;
        }

        .shadowed-image {
           box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.15);
           -moz-box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.15);
           -webkit-box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.15);
        }

        .popover, .popover-title {
            background: $brand-primary;
            color: #fff;
        }

        .popover > .arrow:after {
          content: url(/img/curvy-arrow-green.svg);
        }

        .step {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: nowrap;
            padding-left: 40px;
            padding-right: 40px;

            &.padding-step {
                padding-top: 140px;
                padding-bottom: 140px;
            }

            .inner-step {
                flex: 0 1 auto;

                &.overflow-container {
                    position: relative;
                    top: 100px;
                }

                &.overflow-container-top {
                    position: relative;
                    top: -100px;
                }

                .inner-text {
                    width: 360px;
                    margin: 0 auto;
                }
            }

            @media (max-width: $screen-xs-max) {
                flex-direction: column;
                padding-top: 80px !important;
                padding-bottom: 80px !important;

                &:nth-child(2n) {
                    .inner-step:first-child {
                        order: 2;
                    }

                    .inner-step:last-child {
                        order: 1
                    }
                }

                .inner-step {
                    &.overflow-container {
                        top: 0;
                    }

                    &.overflow-container-top {
                        top: 0;
                    }

                    .inner-text {
                        margin-bottom: 35px;
                        padding-left: 40px;
                        padding-right: 40px;
                    }
                }
            }
        }
    }

    .use-cases {
        margin-bottom: 45px;

        hr {
            border-top: 1px solid #2DC08D;
            width: 25px;
        }
    }

    .call-to-action {
        padding-top: 225px;
        padding-bottom: 225px;
        color: #fff;
    }

    .btn-lg {
        padding-left: 40px;
        padding-right: 40px;
    }

    .dots li {
        z-index: 999;
    }
}
