.plans {
    .panel {
        position: relative;
    }
    .panel-badge {
        position: absolute;
        top: 0px;
        right: 30px;
        transform: translateY(-50%);
        filter: drop-shadow( 2px 2px 6px rgba(0,0,0,0.3));
    }
    .panel-price {
        margin: 10px -10px;

        .panel-body,
        .panel-footer {
            padding: 15px 20px;
        }
    }

    .panel-price-best {
        border-width: 2px;
        position: relative;
        z-index: 1;

        .panel-footer {
            background-color: #CEF2EA;
        }

        .panel-body,
        .panel-footer {
            padding: 25px 20px;
        }
    }
    .panel-price-promo {
        .panel-footer {
            background-color: #FCE2CE;
        }
    }

    .plan-details {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }

    @media (min-width: $screen-sm-min) {
        .panel-price-best {
            margin: 0 -22px;
        }
    }

    @media (min-width: $screen-md-min) {
        .panel-price .panel-body,
        .panel-price .panel-footer {
            padding: 30px 40px;
        }
        .panel-price-best .panel-body {
            padding: 40px 40px;
        }

        .panel-footer {
            margin-top: -24px;
        }

        .panel-price-best .panel-footer {
            margin-top: -35px;
        }
        .plan-details {
            margin-left: 40px;
            margin-right: 40px;
            max-width: auto;
        }
    }

    .plan-price {
        height: 160px;
        vertical-align: middle;

        .price-row {
            position: relative;
            top: 30px;
            font-size: 40px;
            letter-spacing: -1px;
            font-weight: 100;
            vertical-align: middle;
            font-smoothing: antialiased;

            small {
                vertical-align: 7px;
                font-size: 20px;
            }
        }

        .plan-price-text {
            height: 90px;
        }
    }
    .plan-text {
        min-height: 37px;
        line-height: 52px;
        text-align: center;
    }

    .btn-underlined {
        background: #fff;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
        font-weight: 400;
        margin-left: 15px;
        margin-right: 15px;
        outline: none !important;

        &.active {
            box-shadow: none;
            border-bottom: 1px solid $brand-primary;
        }
        &:hover {
            background-color: #fff;
        }
        &:active {
            box-shadow: none;
        }
    }

}
