.privacy-policy {
    ul {
        li {
            margin-bottom: $spacer / 2;
        }
    }

    .sub-title {
        font-size: 18px;
        color: $gray-light;
        margin-bottom: $spacer;
    }
}
