.rom-text {
	p {
		margin-bottom: $spacer*3;
	}
}

.rom-image-container {
	position: relative;
	max-width: 100%;

	img {
		width: 100%;
		max-width: 530px;
		box-shadow: 0 3px 150px 0 rgba(0, 0, 0, 0.125);
	}

	.back-image {
		position: absolute;
		z-index: -1;
		transform: scale(0.9) translateX(28%);
	}

	.front-image-container {
		display: inline-block;
		position: relative;

		.show-button {
			position: absolute;
			bottom: 16px;
			right: 16px;
			border-radius: 5px;
			padding: $spacer $spacer*3/2;
			background: #363636;
			color: #fff;
		}
	}
}

.successful-resumes-share {
	.btn {
		padding: $spacer/2 $spacer*2;
		margin: 0 $spacer/2;
	}
}
