.students {
   .header {
        background-image: url(/img/landing-pages/students/header.jpg);
        height: 800px;

        .header-content {
            position: absolute;
            bottom: 50px;
            left: 0;
            right: 0;
            max-width: 500px;
            margin: 0 auto;
        }

        .solid-overlay {
            height: 300px;
        }
    }

    .steps {
        .step {
            &:nth-child(2n + 1) {
                background: #f5f5f5;
            }
        }
    }
}

