.text-page {
    p {
        margin-bottom: 40px;
    }
    h4 {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 15px;
        margin-top: 0;
    }
}

.text-page-menu {
    li {
        font-family: $headings-font-family;
        font-size: 18px;
        margin-bottom: 20px;

        a {
            color: $text-color;
        }
    }

    li.active a {
        color: $brand-primary;
    }
}
