.unusual {
   .header {
        background-image: url(/img/landing-pages/unusual/header.jpg);
        height: 720px;
        max-height: 100vh;

        .header-content {
            position: absolute;
            top: 80px;
            left: 0;
            right: 0;
            color: #fff;

            p {
                color: #fff;
            }
        }
    }

    .steps {
        .step {
            flex-wrap: wrap;

            &:nth-child(2n) {
                background: #f5f5f5;
            }

            &.examples-step {
                h3 {
                    flex: 0 0 100%;
                }

                .inner-step {
                    flex: 0 0 230px;
                }
            }
        }
    }

    .call-to-action {
        background:
         linear-gradient(180deg, rgba($brand-primary,0.8) 0%, $brand-primary 100%),
         url(/img/landing-pages/unusual/footer.jpg);
        background:
         linear-gradient(180deg, rgba($brand-primary,0.8) 0%, $brand-primary 100%),
         -webkit-image-set( url(/img/landing-pages/unusual/footer.jpg) 1x, url(/img/landing-pages/unusual/footer.jpg) 2x);
        background:
         linear-gradient(180deg, rgba($brand-primary,0.8) 0%, $brand-primary 100%),
         image-set( url(/img/landing-pages/unusual/footer.jpg) 1x, url(/img/landing-pages/unusual/footer.jpg) 2x);
        background-size: cover;
        background-position: center;
    }
}

