<div class="container as-seen text-center">
    <h4 class="text-center bottom-lg">As seen by over 1 million of people on</h4>
    <div class="row as-seen-container">
        <a href="https://www.buzzfeed.com/juliareinstein/dating-resume?bffbnews&utm_term=.jgQBP8VKQ#.jxNm09nXN" target="_blank" class="bottom-lg">
            <img
             src="/img/as-seen/BuzzFeed.png"
             srcset="/img/as-seen/BuzzFeed.png 1x, /img/as-seen/BuzzFeed@2x.png 2x"
             width="137"
             height="25"
             alt="BuzzFeed Logo"
             class="img-responsive">
        </a>
        <a href="https://au.be.yahoo.com/lifestyle/sex-and-relationships/a/34721085/guy-writes-adorable-dating-resume-yahoo7-be/" target="_blank" class="bottom-lg">
            <img
             src="/img/as-seen/yahoo.png"
             srcset="/img/as-seen/yahoo.png 1x, /img/as-seen/yahoo@2x.png 2x"
             width="117"
             height="29"
             alt="Yahoo logo"
             class="img-responsive">
        </a>
        <a href="http://www.boredpanda.com/dating-resume-joey-adams/" target="_blank" class="bottom-lg">
            <img
             src="/img/as-seen/boredpanda.png"
             srcset="/img/as-seen/boredpanda.png 1x, /img/as-seen/boredpanda@2x.png 2x"
             width="207"
             height="48"
             alt="Bored Panda Logo"
             class="img-responsive">
        </a>
        <a href="http://abcnews.go.com/GMA/video/joe-manganiello-sofia-vergara-dating-resume-46243476?utm_source=dlvr.it&utm_medium=twitter" target="_blank" class="bottom-lg">
            <img
             src="/img/as-seen/taxi.png"
             srcset="/img/as-seen/taxi.png 1x, /img/as-seen/taxi@2x.png 2x"
             width="74"
             height="33"
             alt="Taxi Logo"
             class="img-responsive">
        </a>
        <a href="http://abcnews.go.com/GMA/video/joe-manganiello-sofia-vergara-dating-resume-46243476?utm_source=dlvr.it&utm_medium=twitter" target="_blank" class="bottom-lg">
            <img
             src="/img/as-seen/abc.png"
             srcset="/img/as-seen/abc.png 1x, /img/as-seen/abc@2x.png 2x"
             width="46"
             height="46"
             alt="Abc Logo"
             class="img-responsive">
        </a>
        <a href="http://mashable.com/2017/03/20/dating-resume/#nZHVljyKgmqC" target="_blank" class="bottom-lg">
            <img
             src="/img/as-seen/mashable.svg"
             width="140"
             alt="Mashable"
             class="img-responsive">
        </a>
    </div>
</div>
