<div class="container as-seen text-center">
    <h6 class="text-center bottom-lg">As seen by over 1 million people on</h6>
    <div class="row as-seen-container">
        <a href="https://www.buzzfeed.com/juliareinstein/dating-resume" target="_blank" class="bottom-md">
            <img
             src="/img/as-seen/BuzzFeed.png"
             srcset="/img/as-seen/BuzzFeed.png 1x, /img/as-seen/BuzzFeed@2x.png 2x"
             width="137"
             height="25"
             alt="BuzzFeed Logo"
             class="img-responsive">
        </a>

        <a href="http://mashable.com/2017/03/20/dating-resume/#nZHVljyKgmqC" target="_blank" class="bottom-md">
            <img
             src="/img/as-seen/mashable-new.svg"
             width="140"
             alt="Mashable"
             class="img-responsive">
        </a>

        <a href="http://www.boredpanda.com/dating-resume-joey-adams/" target="_blank" class="bottom-md">
            <img
             src="/img/as-seen/boredpanda.png"
             srcset="/img/as-seen/boredpanda.png 1x, /img/as-seen/boredpanda@2x.png 2x"
             width="207"
             height="48"
             alt="Bored Panda Logo"
             class="img-responsive">
        </a>

        <a href="http://abcnews.go.com/GMA/video/joe-manganiello-sofia-vergara-dating-resume-46243476" target="_blank" class="bottom-md">
            <img
             src="/img/as-seen/abc.png"
             srcset="/img/as-seen/abc.png 1x, /img/as-seen/abc@2x.png 2x"
             width="46"
             height="46"
             alt="Abc Logo"
             class="img-responsive">
        </a>
    </div>

    <div class="row as-seen-container">
        <a href="https://au.be.yahoo.com/lifestyle/sex-and-relationships/a/34721085/guy-writes-adorable-dating-resume-yahoo7-be/" target="_blank" class="bottom-md">
            <img
             src="/img/as-seen/yahoo.png"
             srcset="/img/as-seen/yahoo.png 1x, /img/as-seen/yahoo@2x.png 2x"
             width="117"
             height="29"
             alt="Yahoo logo"
             class="img-responsive">
        </a>

        <a href="http://elitedaily.com/social-news/guys-dating-resume-to-get-girlfriend/1831285/" target="_blank" class="bottom-md">
            <img
             src="/img/as-seen/elitedaily.png"
             srcset="/img/as-seen/elitedaily.png 1x, /img/as-seen/elitedaily@2x.png 2x"
             width="110"
             height="65"
             alt="Elite Daily logo"
             class="img-responsive">
        </a>

        <a href="http://www.cosmopolitan.com/sex-love/a9158283/joe-adams-viral-facebook-dating-resume/" target="_blank" class="bottom-md">
            <img
             src="/img/as-seen/cosmopolitan.png"
             srcset="/img/as-seen/cosmopolitan.png 1x, /img/as-seen/cosmopolitan@2x.png 2x"
             width="133"
             height="25"
             alt="Cosmopolitan logo"
             class="img-responsive">
        </a>

        <a href="http://www.fox2detroit.com/news/local-news/242911395-story" target="_blank" class="bottom-md">
            <img
             src="/img/as-seen/fox2.png"
             srcset="/img/as-seen/fox2.png 1x, /img/as-seen/fox2@2x.png 2x"
             width="40"
             height="56"
             alt="Fox 2 Detroit logo"
             class="img-responsive">
        </a>

        <a href="http://www.dailymail.co.uk/femail/article-4332622/College-student-goes-viral-brilliant-DATING-resume.html" target="_blank" class="bottom-md">
            <img
             src="/img/as-seen/dailymail.png"
             srcset="/img/as-seen/dailymail.png 1x, /img/as-seen/dailymail@2x.png 2x"
             width="203"
             height="42"
             alt="Daily Mail logo"
             class="img-responsive">
        </a>

        <a href="http://designtaxi.com/news/391711/Guy-Creatively-Drafts-Up-A-Dating-R-sum-That-ll-Tickle-Your-Funny-Bone/" target="_blank" class="bottom-md">
            <img
             src="/img/as-seen/taxi.png"
             srcset="/img/as-seen/taxi.png 1x, /img/as-seen/taxi@2x.png 2x"
             width="74"
             height="33"
             alt="Taxi Logo"
             class="img-responsive">
        </a>
    </div>
</div>
