<div class="row">
    <div class="col-sm-4 col-xs-12">
        <img
         width="36"
         height="36"
         src="/img/career/icons/rocket.svg"
         alt="circled cross">
        <p class="text-muted top-sm">
            A culture of learning and personal growth: <br/> in-house coaching, a Five-Minute Journal, and <br/> a book library to boost your spirit.
        </p>
    </div>
    <div class="col-sm-4 col-xs-12">
        <img
         width="36"
         height="36"
         src="/img/career/icons/people.svg"
         alt="pdf file icon">
        <p class="text-muted top-sm">
            Unforgettable company-wide events when we work and celebrate together – an Annual Retreat and two Powerweeks.
        </p>
    </div>
    <div class="col-sm-4 col-xs-12">
        <img
         width="36"
         height="36"
         src="/img/career/icons/bike.svg"
         alt="happy face">
        <p class="text-muted top-sm">
            Health matters to us, so each team member has their own budget for sports.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-xs-12 top-md">
        <img
         width="36"
         height="36"
         src="/img/career/icons/globe.svg"
         alt="brush">
        <p class="text-muted top-sm">
            25 days per year to work remotely from anywhere you want.
        </p>
    </div>
    <div class="col-sm-4 col-xs-12 top-md">
        <img
         width="36"
         height="36"
         src="/img/career/icons/battery.svg"
         alt="smiling laptop">
        <p class="text-muted top-sm">
            Two extra days off – for your birthday and mental health – or 22 days of holiday in total.
        </p>
    </div>
    <div class="col-sm-4 col-xs-12 top-md">
        <img
         width="36"
         height="36"
         src="/img/career/icons/smile.svg"
         alt="hr heart">
        <p class="text-muted top-sm">
            Even when an ocean separates us, we are always there for one another.
        </p>
    </div>
</div>
