<div class="container companies text-center">
    <h6 class="text-center bottom-lg">Featured companies who recently hired applicants with our resumes</h6>
    <div class="row">
        <div class="col-lg-2 col-sm-3 col-xs-5 col-xs-offset-1 col-sm-offset-0 col-lg-offset-2 companies-item bottom-lg">
            <img
             src="/img/companies/spotify.png"
             srcset="/img/companies/spotify.png 1x, /img/companies/spotify@2x.png 2x"
             width="166"
             height="50"
             alt="Spotify"
             class="img-responsive">
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-5 companies-item bottom-lg">
            <img
             src="/img/companies/progress.png"
             srcset="/img/companies/progress.png 1x, /img/companies/progress@2x.png 2x"
             width="188"
             height="45"
             alt="Progress"
             class="img-responsive">
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-5 col-xs-offset-1 col-sm-offset-0 companies-item bottom-lg">
            <img
             src="/img/companies/hp.png"
             srcset="/img/companies/hp.png 1x, /img/companies/hp@2x.png 2x"
             width="150"
             height="63"
             alt="Hewlett Packard Enterprise"
             class="img-responsive">
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-5 companies-item bottom-lg">
            <img
             src="/img/companies/moo.png"
             srcset="/img/companies/moo.png 1x, /img/companies/moo@2x.png 2x"
             width="118"
             height="44"
             alt="Hewlett Packard Enterprise"
             class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-4 col-lg-2 col-sm-3 col-sm-offset-3 col-xs-offset-1 col-xs-5 companies-item">
            <img
             src="/img/companies/the-economist.png"
             srcset="/img/companies/the-economist.png 1x, /img/companies/the-economist@2x.png 2x"
             width="149"
             height="68"
             alt="The Economist"
             class="img-responsive">
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-5 companies-item">
            <img
             src="/img/companies/ova-science.png"
             srcset="/img/companies/ova-science.png 1x, /img/companies/ova-science@2x.png 2x"
             width="170"
             height="62"
             alt="Ova Science"
             class="img-responsive">
        </div>
    </div>
</div>
