<div class="discover-resumes-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center top-md">View more of our top resumes</h1>
                <div
                 class="carousel slide top-md hidden-sm hidden-md hidden-lg"
                 id="resume"
                 data-ride="carousel"
                 data-switch-toggle="#features-texts"
                 data-indicators="#features-indicators,#features-dots"
                 data-interval="false">

                    <div class="carousel-inner">
                        <div class="item active item-bg">
                            {{>resume-container}}
                        </div>
                    </div>

                    <a
                     class="left carousel-control"
                     href="#resume"
                     data-track="event"
                     data-category="Homepage"
                     data-action="Click New Features"
                     data-label="Arrow"
                     data-slide="prev">
                        <i class="icon-angle-left"></i>
                    </a>

                    <a
                     class="right carousel-control"
                     href="#resume"
                     data-track="event"
                     data-category="Homepage"
                     data-action="Click New Features"
                     data-label="Arrow"
                     data-slide="next">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>