<a
 href="#{{ id }}"
 data-toggle="modal"
 data-track="event"
 data-category="Examples"
 data-action="Click Example Resume"
 data-label="{{ name }}"
 class="btn btn-example">
    <img
     class="img-responsive"
     width="1240"
     height="1755"
     src="/img/examples/{{ thumb }}"
     alt="John rogers resume">
    <i class="icon-search-plus"></i>
</a>

<h3 class="h4 top-sm text-center bottom-md">
    {{ name }}
</h3>

<div
 id="{{ id }}"
 tabindex="-1"
 class="modal fade">
    <div class="modal-dialog modal-lg modal-example">
        <div class="modal-content">
            <div class="modal-body">
                <button
                 type="button"
                 data-dismiss="modal"
                 class="close close-example">
                    <i class="icon-times"></i>
                </button>

                <img
                 width="1240"
                 height="1755"
                 class="img-responsive"
                 src="/img/examples/{{ page1 }}"
                 alt="{{ name }} resume page 1">

                {{#if page2 }}
                    <img
                     width="1240"
                     height="1755"
                     class="img-responsive top-md"
                     src="/img/examples/{{ page2 }}"
                     alt="{{ name }} resume page 2">
                {{/if }}
            </div>
        </div>
    </div>
</div>
