<div class="successful-resumes-resumes-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center top-sm">
                    View more of our famous resumes
                </h2>

                <div class="hidden resumes-hidden-wrapper">
                    {{>resume-container
                        link="marissa-mayer.html"
                        name="Marissa Mayer"
                        prefix="famous/"
                        tags="CEO, Product Engineer"
                        frontImage="marissa-mayer-resume.jpg"
                        companyLogo="yahoo-logo.png"
                    }}
                    {{>resume-container
                        link="mark-zuckerberg.html"
                        name="Mark Zuckerberg"
                        prefix="famous/"
                        tags="CEO, Founder, Geek"
                        frontImage="mark-zuckerberg-resume.jpg"
                        companyLogo="facebook-logo.png"
                    }}
                    {{>resume-container
                        link="travis-kalanick.html"
                        name="Travis Kalanick"
                        prefix="famous/"
                        tags="CEO, Entrepreneur"
                        frontImage="travis-kalanick-resume.jpg"
                        companyLogo="uber-logo.png"
                    }}
                    {{>resume-container
                        link="barack-obama.html"
                        name="Barack Obama"
                        prefix="famous/"
                        tags="Politics, President"
                        frontImage="barack-obama-resume.jpg"
                    }}
                    {{>resume-container
                        name="Elon Musk"
                        link="elon-musk.html"
                        prefix="famous/"
                        tags="CEO, Investor"
                        frontImage="elon-musk-resume-1.jpg"
                        companyLogo="tesla-logo.png"
                    }}
                    {{>resume-container
                        name="Sheryl Sandberg"
                        link="sheryl-sandberg.html"
                        prefix="famous/"
                        tags="COO, Founder"
                        frontImage="sheryl-sandberg-resume-1.jpg"
                    }}
                    {{>resume-container
                        name="Hillary Clinton"
                        link="hillary-clinton.html"
                        prefix="famous/"
                        tags="Politician, Author"
                        frontImage="hillary-clinton-resume-1.jpg"
                    }}
                    {{>resume-container
                        name="Angela Merkel"
                        link="angela-merkel.html"
                        prefix="famous/"
                        tags="Politician, Chemist"
                        frontImage="angela-merkel-resume-1.jpg"
                    }}
                    {{>resume-container
                        name="Steve Jobs"
                        link="steve-jobs.html"
                        prefix="famous/"
                        tags="Entrepreneur, CEO"
                        frontImage="steve-jobs-resume.jpg"
                        isStory=true
                    }}
                    {{>resume-container
                        name="Casey Neistat"
                        link="casey-neistat.html"
                        prefix="famous/"
                        tags="Filmmaker, Career Change"
                        frontImage="casey-neistat-resume.jpg"
                    }}
                </div>

                <!-- AUTO SIZING IN See js/successful-resumes-carousel -->
                <div id="resume" class="carousel-inner successful-resumes-carousel-items">
                </div>
                <!-- AUTO SIZING IN See js/successful-resumes-carousel -->

            </div>
        </div>
    </div>
</div>
