<div class="footer">
    <div class="container">
        <div class="row text-center-xs">
            <div class="col-md-2 col-md-push-5 col-md-offset-1 col-sm-4">
                <h3 class="text-large no-margin">Products</h3>
                <ul class="list-unstyled top-md bottom-lg">
                    <li><a href="{{ urls.builder }}">Get started</a></li>
                    <li><a href="/examples.html">Examples</a></li>
                    <li><a href="/pricing.html">Pricing</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-md-push-5 col-sm-4">
                <h3 class="text-large no-margin">Resources</h3>
                <ul class="list-unstyled top-md bottom-lg">
                    <li>
                        <a
                         href="{{ urls.blog }}/tag/popular-resumes/"
                         target="_blank">
                            Popular Resumes
                        </a>
                    </li>
                    <li>
                        <a
                         href="{{ urls.blog }}/tag/career-hacks/"
                         target="_blank">
                            Career Hacks
                        </a>
                    </li>
                    <li>
                        <a
                         href="{{ urls.blog }}/tag/company-culture/"
                         target="_blank">
                            Culture Blog
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-md-push-5 col-sm-4">
                <h3 class="text-large no-margin">Company</h3>
                <ul class="list-unstyled top-md bottom-lg">
                    <li>
                        <a
                         href="/about.html">
                            About us
                        </a>
                    </li>
                    <li>
                        <a
                         href="/terms.html">
                            Terms &amp; Privacy
                        </a>
                    </li>
                    <li>
                        <a
                         href="{{ urls.faq }}"
                         target="_blank">
                            FAQ
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 col-md-pull-7 col-sm-12">
                <a href="/">
                    <img
                     width="143"
                     height="22"
                     src="/img/logo-with-text.svg"
                     alt="Enhancv Logo">
                </a>

                <p class="top-md bottom-lg footer-about-text">
                    Enhancv helps you create a memorable resume or CV that shows who you are both as a person and as a professional.
                </p>
            </div>
        </div>
        <div class="visible-xs text-center bottom-md">
            <a
             href="{{ urls.facebook }}"
             target="_blank"
             class="btn btn-facebook btn-icon-lg">
                <i class="icon-facebook"></i>
            </a>
            <a
             href="{{ urls.twitter }}"
             target="_blank"
             class="btn btn-twitter btn-icon-lg left-xs">
                <i class="icon-twitter"></i>
            </a>
            <a
             href="{{ urls.instagram }}"
             target="_blank"
             class="btn btn-instagram btn-icon-lg left-xs">
                <i class="icon-instagram"></i>
            </a>
        </div>
        <div class="row">
            <div class="hidden-xs col-md-2 col-md-push-5 col-md-offset-1 col-sm-4">
                <a
                 href="{{ urls.facebook }}"
                 target="_blank"
                 class="btn btn-facebook btn-block bottom-xs">
                    <i class="icon-facebook pull-right"></i>
                    Facebook
                </a>
            </div>
            <div class="hidden-xs col-md-2 col-md-push-5 col-sm-4">
                <a
                 href="{{ urls.twitter }}"
                 target="_blank"
                 class="btn btn-twitter btn-block bottom-xs">
                    <i class="icon-twitter pull-right"></i>
                    Twitter
                </a>
            </div>
            <div class="hidden-xs col-md-2 col-md-push-5 col-sm-4">
                <a
                 href="{{ urls.instagram }}"
                 target="_blank"
                 class="btn btn-instagram btn-block bottom-xs">
                    <i class="icon-instagram pull-right"></i>
                    Instagram
                </a>
            </div>

            <div class="col-md-5 col-md-pull-7 col-sm-12">
                <p class="copyright top-xs text-center-xs">
                    © Enhancv 2016. All rights reserved.<br>
                    Made with love by those who care.
                </p>
            </div>
        </div>
    </div>
</div>
