<div class="footer footer-compact">
    <div class="container">
        <div class="row text-center-xs">
            <div class="col-md-5 col-md-offset-1 col-sm-12">
                <a href="/">
                    <img
                     width="143"
                     height="22"
                     src="/img/logo-with-text-white.svg"
                     alt="Enhancv Logo"
                     class="top-xs">
                </a>
            </div>
            <div class="hidden-xs col-md-2 col-sm-4">
                <a
                 href="{{ urls.facebook }}"
                 target="_blank"
                 class="btn btn-facebook btn-block">
                    <i class="icon-25-free-facebook pull-right"></i>
                    Facebook
                </a>
            </div>
            <div class="hidden-xs col-md-2 col-sm-4">
                <a
                 href="{{ urls.twitter }}"
                 target="_blank"
                 class="btn btn-twitter btn-block">
                    <i class="icon-29-twitter pull-right"></i>
                    Twitter
                </a>
            </div>
            <div class="hidden-xs col-md-2 col-sm-4">
                <a
                 href="{{ urls.instagram }}"
                 target="_blank"
                 class="btn btn-instagram btn-block">
                    <i class="icon-28-instagram pull-right"></i>
                    Instagram
                </a>
            </div>
        </div>
        <div class="visible-xs text-center top-md bottom-xs">
            <a
             href="{{ urls.facebook }}"
             target="_blank"
             class="btn btn-facebook btn-icon-lg">
                <i class="icon-25-free-facebook"></i>
            </a>
            <a
             href="{{ urls.twitter }}"
             target="_blank"
             class="btn btn-twitter btn-icon-lg left-xs">
                <i class="icon-29-twitter"></i>
            </a>
            <a
             href="{{ urls.instagram }}"
             target="_blank"
             class="btn btn-instagram btn-icon-lg left-xs">
                <i class="icon-28-instagram"></i>
            </a>
        </div>
    </div>
</div>
