<div class="footer">
    <div class="container">
        <div class="Grid footer-container m-top-8 m-bottom-3">
            <div class="Grid links-container full-width"> 
            <div class="Grid-cell--sm-3 Grid-cell--md-3 Grid-cell--xs-6">
                <div class="footer-title m-top-2 m-bottom-4">Get started</div>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://app.enhancv.com/" class="footer-arrow-link">
                            Create Resume &nbsp;&rarr;
                        </a>
                    </li>
                    <li>
                        <a href="/pricing.html">
                            Pricing
                        </a>
                    </li>
                    <li>
                        <a
                         href="/enhancv-button.html"
                         target="_blank">
                            For Companies
                        </a>
                    </li>
                    <li>
                        <a
                         href="/terms.html">
                            Legal
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Grid-cell--sm-3 Grid-cell--md-3 Grid-cell--xs-6 f-mobile-padding">
                <div class="footer-title m-top-2 m-bottom-4">Goodies</div>
                <ul class="list-unstyled">
                    <li>
                        <a
                         href="{{ urls.faq }}"
                         target="_blank">
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a
                         href="http://careerstack.io/"
                         target="_blank">
                            Resources
                        </a>
                    </li>
                    <li>
                        <a href="/successful-resumes.html">
                            Successful Resumes
                        </a>
                    </li>
                    <li>
                        <a href="https://blog.enhancv.com/">
                            Blog
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Grid-cell--sm-3 Grid-cell--md-3 Grid-cell--xs-6">
                <div class="footer-title m-top-2 m-bottom-4">About us</div>
                <ul class="list-unstyled">
                    <li>
                        <a
                         href="/about.html"
                         target="_blank">
                            Company
                        </a>
                    </li>
                    <li>
                        <a href="/careers.html">
                            Careers
                        </a>
                    </li>
                    <li>
                        <a
                         href="https://enhancv.statuspage.io/">
                            Status Page
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Grid-cell--sm-3 Grid-cell--md-3 Grid-cell--xs-6 hidden-xs">
                <div class="footer-title m-top-2 m-bottom-4">From the blog</div>
                <ul class="list-unstyled homepage-blog-latest-short">
                    <li class="articles-short">
                        Loading..
                    </li>
                    <li>
                        <a class="footer-arrow-link" href="https://blog.enhancv.com/">
                            Read more &nbsp;&rarr;
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Grid-cell--xs-6 hidden-sm hidden-md hidden-lg">
                <div class="Grid social-links-container">
                    <div class="Grid-cell--sm-4">
                        <a href="{{ urls.facebook }}" class="social-link"><img src="/img/new-homepage/icons/FB@2x.png"/></a>
                    </div>
                    <div class="Grid-cell--sm-4">
                        <a href="{{ urls.instagram }}" class="social-link"><img src="/img/new-homepage/icons/Instagram@2x.png"/></a>
                    </div>
                    <div class="Grid-cell--sm-4">
                        <a href="{{ urls.twitter }}" class="social-link"><img src="/img/new-homepage/icons/Twitter@2x.png"/></a>
                    </div>
                </div>
            </div>
        </div>
            <div class="Grid Grid--spaceBetween m-bottom-2 m-top-9 full-width footer-end">
                <hr class="hidden-sm hidden-md hidden-lg full-width">
                <div class="Grid-cell Grid-cell--auto text-center-xs  hidden-xs footer-rights">
                    <p class="copyright">&copy; 2018. All rights reserved.</p>
                </div>
                <div class="Grid-cell Grid-cell--auto hidden-xs">
                    <div class="Grid Grid--justifyCenter">
                        <div class="Grid-cell--sm-4">
                            <a href="{{ urls.facebook }}" class="social-link"><img src="/img/new-homepage/icons/FB@2x.png"/></a>
                        </div>
                        <div class="Grid-cell--sm-4">
                            <a href="{{ urls.instagram }}" class="social-link"><img src="/img/new-homepage/icons/Instagram@2x.png"/>
                            </a>
                        </div>
                        <div class="Grid-cell--sm-4">
                            <a href="{{ urls.twitter }}" class="social-link"><img src="/img/new-homepage/icons/Twitter@2x.png"/></a>
                        </div>
                    </div>
                </div>
                <div class="Grid-cell Grid-cell--auto text-center-xs">
                    <div class="Grid Grid--justifyCenter made-with-love">
                        <img class="footer-logo hidden-sm hidden-md hidden-lg m-top-1 m-right-1 m-left-no" src="/img/new-homepage/icons/logo-ecv@2x.png"/>
                        <p class="copyright">Made with love by people who care.</p>
                        <img class="footer-logo hidden-xs m-top-1 m-left-2" src="/img/new-homepage/icons/logo-ecv@2x.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
