<div class="footer">
    <div class="container">
        <div class="row text-center-xs">
            <div class="col-md-2 col-md-push-5 col-md-offset-1 col-sm-4">
                <h3 class="text-large no-margin">Products</h3>
                <ul class="list-unstyled top-md bottom-lg">
                    <li><a href="{{ urls.builder }}">Get started</a></li>
                    <li><a href="/examples">Examples</a></li>
                    <li><a href="/the-science">The Science</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-md-push-5 col-sm-4">
                <h3 class="text-large no-margin">Resources</h3>
                <ul class="list-unstyled top-md bottom-lg">
                    <li><a href="/examples">Popular Resumes</a></li>
                    <li><a href="/career-hacks">Career Hacks</a></li>
                    <li><a href="{{ urls.blog }}">Culture Blog</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-md-push-5 col-sm-4">
                <h3 class="text-large no-margin">Company</h3>
                <ul class="list-unstyled top-md bottom-lg">
                    <li><a href="/about">About us</a></li>
                    <li><a href="/careers">Careers</a></li>
                    <li><a href="/terms">Terms &amp; Privacy</a></li>
                    <li><a href="{{ urls.faq }}">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-5 col-md-pull-7 col-sm-12">
                <a href="/">
                    <img src="/img/logo-with-text.svg" alt="Enhancv Logo">
                </a>

                <p class="top-md bottom-lg footer-about-text">
                    Presumi is a collection of superpowers for jobs: create and optimise trackable resume, find jobs, manage your applications and work with others.
                </p>
            </div>
        </div>
        <div class="visible-xs text-center bottom-md">
            <a
             href="{{ urls.facebook }}"
             class="btn btn-facebook btn-icon-lg">
                <i class="icon-facebook"></i>
            </a>
            <a
             href="{{ urls.twitter }}"
             class="btn btn-twitter btn-icon-lg left-xs">
                <i class="icon-twitter"></i>
            </a>
            <a
             href="{{ urls.instagram }}"
             class="btn btn-instagram btn-icon-lg left-xs">
                <i class="icon-instagram"></i>
            </a>
        </div>
        <div class="row">
            <div class="hidden-xs col-md-2 col-md-push-5 col-md-offset-1 col-sm-4">
                <a
                 href="{{ urls.facebook }}"
                 class="btn btn-facebook btn-block bottom-xs">
                    Facebook
                    <i class="icon-facebook pull-right"></i>
                </a>
            </div>
            <div class="hidden-xs col-md-2 col-md-push-5 col-sm-4">
                <a
                 href="{{ urls.twitter }}"
                 class="btn btn-twitter btn-block bottom-xs">
                    Twitter
                    <i class="icon-twitter pull-right"></i>
                </a>
            </div>
            <div class="hidden-xs col-md-2 col-md-push-5 col-sm-4">
                <a
                 href="{{ urls.instagram }}"
                 class="btn btn-instagram btn-block bottom-xs">
                    Instagram
                    <i class="icon-instagram pull-right"></i>
                </a>
            </div>

            <div class="col-md-5 col-md-pull-7 col-sm-12">
                <p class="copyright top-xs text-center-xs">
                    © Enhancv 2016. All rights reserved.<br>
                    Made with love by Some Bulgarian Design Studio
                </p>
            </div>
        </div>
    </div>
</div>
