<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8QM55B"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="navigation-spacer"></div>

<nav class="navbar navbar-default navbar-sticky navbar-static-top">
    <div class="navbar-spacing">
        <div class="navbar-header">
            <button
             type="button"
             data-toggle="navbar"
             class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <div class="navbar-mobile-hidden">
                    <span class="icon-bar first"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar last"></span>
                </div>
                <div class="close navbar-mobile-visible">
                    &times;
                </div>
            </button>
            <a
             href="/">
                <img
                 class="hidden-xs navbar-logo"
                 src="/img/logo.svg"
                 alt="Enhancv Logo">
                <img
                 class="visible-xs navbar-logo"
                 src="/img/logo.svg"
                 alt="Enhancv Logo">
            </a>

            <div class="navbar-center">
                <ul class="list-unstyled navbar-mobile-menu navbar-mobile-visible bottom-md">
                    {{#if isAiesec}}
                        <li {{#if isPricing }} class="active" {{/if}}>
                            <a href="/pricing.html">Pricing</a>
                        </li>
                        <li {{#if isAbout }} class="active" {{/if}}>
                            <a href="/about.html">About</a>
                        </li>
                    {{else}}
                        <li {{#if isHomepage }} class="active" {{/if}}>
                            <a href="/">Homepage</a>
                        </li>
                        <li {{#if isSuccessfulResumes }} class="active" {{/if}}>
                            <a href="/successful-resumes.html">Successful Resumes</a>
                        </li>
                        <li {{#if isPricing }} class="active" {{/if}}>
                            <a href="/pricing.html">Pricing</a>
                        </li>
                        <li>
                            <a href="{{ urls.blog }}" target="_blank">Blog</a>
                        </li>
                    {{/if}}
                </ul>
                <div class="bottom-xs navbar-mobile-visible">
                    <a
                     href="{{ urls.builder }}/login"
                     data-track="event"
                     data-category="Homepage"
                     data-action="Click Signup"
                     data-label="Sign In"
                     class="visible-xs btn btn-default btn-sign-in">
                        Sign In
                    </a>
                </div>
                <a
                 href="{{ urls.builder }}"
                 data-track="event"
                 data-category="Homepage"
                 data-action="Click Signup"
                 data-label="Sign Up"
                 class="visible-xs btn btn-primary navbar-mobile-visible-sticky">
                    Sign Up
                </a>
            </div>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                {{#if isAiesec}}
                    <li {{#if isPricing }} class="active" {{/if}}>
                        <a href="/pricing.html">Pricing</a>
                    </li>
                    <li {{#if isAbout }} class="active" {{/if}}>
                        <a href="/about.html">About</a>
                    </li>
                {{else}}
                    <li {{#if isSuccessfulResumes }} class="active" {{/if}}>
                        <a href="/successful-resumes.html">Successful Resumes</a>
                    </li>
                    <li {{#if isPricing }} class="active" {{/if}}>
                        <a href="/pricing.html">Pricing</a>
                    </li>
                {{/if}}

                <li>
                    <a
                     data-track="event"
                     data-category="Homepage"
                     data-action="Click Login"
                     href="https://app.enhancv.com/login">
                        Sign In
                    </a>
                </li>
                <li>
                    <button
                     onclick="window.location='{{ urls.builder }}';"
                     data-track="event"
                     data-category="Homepage"
                     data-action="Click Signup"
                     data-label="Sign Up"
                     class="btn btn-primary navbar-btn m-left-1 m-right-1">
                        Get Started
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
