<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8QM55B"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar navbar-default navbar-sticky navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button
             type="button"
             data-toggle="navbar"
             class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <div class="navbar-mobile-hidden">
                    <span class="icon-bar first"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar last"></span>
                </div>
                <div class="close navbar-mobile-visible">
                    &times;
                </div>
            </button>
            <a
             class="navbar-brand"
             href="/">
                <img
                 class="hidden-xs"
                 src="/img/logo-with-text.svg"
                 width="143"
                 height="22"
                 alt="Enhancv Logo">
                <img
                 class="visible-xs"
                 src="/img/logo.svg"
                 width="46"
                 height="22"
                 alt="Enhancv Logo">
            </a>

            <div class="navbar-center">
                <ul class="list-unstyled navbar-mobile-menu navbar-mobile-visible bottom-md">
                    {{#if isAiesec}}
                        <li {{#if isPricing }} class="active" {{/if}}>
                            <a href="/pricing.html">Pricing</a>
                        </li>
                        <li {{#if isAbout }} class="active" {{/if}}>
                            <a href="/about.html">About</a>
                        </li>
                    {{else}}
                        <li {{#if isHomepage }} class="active" {{/if}}>
                            <a href="/">Homepage</a>
                        </li>
                        <li {{#if isPricing }} class="active" {{/if}}>
                            <a href="/pricing.html">Pricing</a>
                        </li>
                        <li {{#if isAbout }} class="active" {{/if}}>
                            <a href="/about.html">About</a>
                        </li>
                        <li {{#if isExamples }} class="active" {{/if}}>
                            <a href="/examples.html">Examples</a>
                        </li>
                        <li>
                            <a href="{{ urls.blog }}" target="_blank">Blog</a>
                        </li>
                    {{/if}}
                </ul>
                <div class="bottom-xs navbar-mobile-visible">
                    <a
                     href="{{ urls.builder }}/login"
                     data-track="event"
                     data-category="Homepage"
                     data-action="Click Signup"
                     data-label="Sign In"
                     class="visible-xs btn btn-default btn-sign-in">
                        Sign In
                    </a>
                </div>
                <a
                 href="{{ urls.builder }}/login"
                 data-track="event"
                 data-category="Homepage"
                 data-action="Click Signup"
                 data-label="Sign Up"
                 class="visible-xs btn btn-primary navbar-mobile-visible-sticky">
                    Sign Up
                </a>
            </div>
        </div>

        <div class="collapse navbar-collapse">

            <a
             href="{{ urls.builder }}/login"
             data-track="event"
             data-category="Homepage"
             data-action="Click Signup"
             data-label="Sign Up"
             class="btn btn-primary navbar-btn navbar-right left-xs">
                Sign Up
            </a>
            <a
             href="{{ urls.builder }}/login"
             data-track="event"
             data-category="Homepage"
             data-action="Click Signup"
             data-label="Sign In"
             class="btn btn-default navbar-btn navbar-right left-xs btn-sign-in">
                Sign In
            </a>

            <ul class="nav navbar-nav navbar-right">
                {{#if isAiesec}}
                    <li {{#if isPricing }} class="active" {{/if}}>
                        <a href="/pricing.html">Pricing</a>
                    </li>
                    <li {{#if isAbout }} class="active" {{/if}}>
                        <a href="/about.html">About</a>
                    </li>
                {{else}}
                    <li {{#if isHomepage }} class="active" {{/if}}>
                        <a href="/">Homepage</a>
                    </li>
                    <li {{#if isPricing }} class="active" {{/if}}>
                        <a href="/pricing.html">Pricing</a>
                    </li>
                    <li {{#if isAbout }} class="active" {{/if}}>
                        <a href="/about.html">About</a>
                    </li>
                    <li {{#if isExamples }} class="active" {{/if}}>
                        <a href="/examples.html">Examples</a>
                    </li>
                    <li>
                        <a href="{{ urls.blog }}" target="_blank">Blog</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
