<div class="Grid">
    <div class="Grid Grid--alignCenter Grid-cell--xs-12 Grid-cell--sm-3 text-center Grid-cell--sm-offset-1 Grid-cell--lg-offset-1">
        <img class="testimonial-image m-bottom-2" src="/img/new-homepage/testimonials/img@2x.png" />
    </div>
    <div class="Grid Grid--alignCenter Grid-cell--xs-12 Grid-cell--sm-6 Grid-cell--sm-offset-1 Grid-cell--lg-offset-1">
        <div class="m-left-1 text-center-xs">
            <h1 class="m-top-no hidden-xs">
                “A recruiter at a top 5 investment bank in London told me my CV was a breath of fresh air and invited me to my first interview in a bulge bank”
            </h1>
            <h2 class="m-top-no hidden-sm hidden-md hidden-lg">
                “A recruiter at a top 5 investment bank in London told me my CV was a breath of fresh air and invited me to my first interview in a bulge bank”
            </h2>
            <p class="text-muted m-top-2">
                Edward Kennedy — Alumni from University College Dublin
            </p>
        </div>
    </div>
</div>