<div class="member center-block bottom-md">

    <div
     class="member-thumb"
     style="background-image: url(/img/about/member/{{ image }})"></div>

    <a
     class="member-content text-center"
     data-toggle="modal"
     href="#{{ id }}-modal">
        <div class="member-text">
            <p class="member-title bottom-xs">{{ name }}</p>
            <p class="no-margin text-muted">{{ position }}</p>
        </div>
    </a>

    <div
     id="{{ id }}-modal"
     tabindex="-1"
     class="modal fade">
        <div class="modal-dialog member-modal">
            <div class="modal-content">
                <div class="embed-responsive embed-responsive-member">
                    <div
                     style="background-image: url(/img/about/member/{{ image }})"
                     class="embed-responsive-item"></div>
                </div>
                <button
                 type="button"
                 class="close"
                 data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <h3 class="h5">{{ name }}</h3>

                    <p class="text-primary">
                        {{ position }}
                    </p>

                    {{#if description }}
                        <p>{{ description }}</p>
                    {{/if}}

                    <div class="top-sm">
                        {{#if pdf }}
                            <a
                             href="/img/about/member/{{ pdf }}"
                             class="btn btn-default right-xs"
                             target="_blank">
                                View Resume
                            </a>
                        {{/if }}
                        {{#if github }}
                            <a
                             href="https://github.com/{{ github }}"
                             class="btn btn-link btn-member-icon"
                             target="_blank">
                                <i class="icon-github-alt"></i>
                            </a>
                        {{/if }}
                        {{#if twitter }}
                            <a
                             href="https://twitter.com/{{ twitter }}"
                             class="btn btn-link btn-member-icon"
                             target="_blank">
                                <i class="icon-twitter"></i>
                            </a>
                        {{/if }}
                        {{#if facebook }}
                            <a
                             href="https://facebook.com/{{ facebook }}"
                             class="btn btn-link btn-member-icon"
                             target="_blank">
                                <i class="icon-facebook"></i>
                            </a>
                        {{/if }}
                        {{#if instagram }}
                            <a
                             href="https://instagram.com/{{ instagram }}"
                             class="btn btn-link btn-member-icon"
                             target="_blank">
                                <i class="icon-instagram"></i>
                            </a>
                        {{/if }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
