<title>{{#if title }}{{ title }}{{ else }}Enhancv{{/if }}</title>
{{#ifequal process.env.NODE_ENV "development" }}
    <meta name="robots" content="noindex">
{{/ifequal }}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="{{#if description}}{{ description }}{{ else }}Enhancv helps you create compelling human-centric resumes that unveil the real person behind.{{/if }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/app.css">
<link rel="stylesheet" type="text/css" href="/icons/styles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,400">
<link rel="shortcut icon" type="image/png" href="/img/favicon.png">
<link rel="icon" type="image/png" href="/img/favicon.png">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Enhancv" />

{{#if metaImage }}
    <meta itemprop="image" content="{{ metaImage }}">
    <meta name="twitter:image" content="{{ metaImage }}" />
    <meta property="og:image" content="{{ metaImage }}" />
{{ else }}
    <meta itemprop="image" content="{{ urls.homepage }}/img/social-image.jpg">
    <meta name="twitter:image" content="{{ urls.homepage }}/img/social-image.jpg" />
    <meta property="og:image" content="{{ urls.homepage }}/img/social-image.jpg" />
{{/if }}

{{#if title }}
<meta name="twitter:title" content="{{ title }}" />
<meta property="og:title" content="{{ title }}" />
{{/if }}

{{#if description }}
<meta name="twitter:description" content="{{ description }}" />
<meta property="og:description" content="{{ description }}" />
{{/if }}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M8QM55B');</script>
<!-- End Google Tag Manager -->

<script src="//static.tapfiliate.com/tapfiliate.js" type="text/javascript" async></script>

