<ul class="list-unstyled list-plan-features m-bottom-no">
    <li>
        <strong>10</strong> Resumes
    </li>
    <li>
        <strong>Pro</strong> Sections
    </li>
    <li>
        <strong>Unlimited</strong> Entries
    </li>
    <li>
        Compact Template
    </li>
    <li>
        Content Analyzers
        <i
         class="icon-info-circle m-left-1"
         data-toggle="tooltip"
         data-placement="top"
         title="Analyzes your resume content and gives you suggestions how to improve your wording, just as you type in"></i>
    </li>
    <li>Support</li>
    <li>
        Collect Feedback
        <i
         class="icon-info-circle m-left-1"
         data-toggle="tooltip"
         data-placement="top"
         title="Allows you to quickly collect feedback from your friends, so you can avoid embarrassing mistakes & typos"></i>
    </li>
</ul>
