<ul class="list-unstyled list-plan-features m-bottom-no">
    <li>
        <strong>1</strong> Resume
    </li>
    <li>
        <strong>Basic</strong> Sections
    </li>
    <li>
        <strong>15</strong> Entries
    </li>
    <li>
        Collect Feedback
        <i
         class="icon-info-circle m-left-1"
         data-toggle="tooltip"
         data-placement="top"
         title="Allows you to quickly collect feedback from your friends, so you can avoid embarrassing mistakes & typos"></i>
    </li>
</ul>
