<div class="resume-container">
    <a
     href="/successful-resumes/{{ link }}"
     class="resume-image"
     style="background: url('/img/successful-resumes/thumb/{{ frontImage }}')">
        <div class="resume-image-bottom-gradient">
            <span class="btn btn-primary">
                Take a closer look
            </span>

            {{#if companyLogo}}
                <div class="works-at">
                    <div>Hired at</div>
                    <div><img src="/img/successful-resumes/company-logos/2x-{{ companyLogo }}" /></div>
                </div>
            {{/if}}
        </div>
    </a>

    <a
     href="/successful-resumes/{{ link }}"
     class="resume-name text-center top-xty">
        {{ name }}
    </a>

    <div class="text-center top-xty" style="max-width: 250px;">
        {{#split tags}}
            <div class="resume-tag">{{this}}</div>
        {{/split}}
    </div>
</div>