<div class="successful-resumes-share text-center top-md">
	<a
     href="https://www.facebook.com/sharer.php?u=https://enhancv.com/successful-resumes/{{ url }}"
     class="btn btn-facebook"
     target="_blank">
		Facebook <i class="icon-facebook pull-right"></i>
	</a>

	<a
     href="https://twitter.com/share?url=https://enhancv.com/successful-resumes/{{ url }}"
     target="_blank"
     class="btn btn-twitter">
		Twitter <i class="icon-twitter pull-right"></i>
	</a>

	<a
     href="https://www.linkedin.com/shareArticle?mini=true&url=https://enhancv.com/successful-resumes/{{ url }}" target="_blank"
     class="btn btn-linkedin">
	 	LinkedIn <i class="icon-linkedin-alt pull-right"></i>
	</a>
</div>