<div class="successful-resume">
    <div class="container">
        <div class="row text-center">
            {{#if famousResume}}
        	   <h2>Famous Resumes</h2>
            {{else}}
                <h2>Successful Resumes</h2>
            {{/if }}
        	<div class="top-sm bottom-md">
                <a class="back-button" href="/successful-resumes.html">
                    <i class="icon-angle-left"></i>
                    <span>Back</span>
                </a>
            </div>
        </div>

        <div class="Grid">
        	<div class="Grid-cell--md-7 Grid-cell--sm-12 Grid-cell--xs-12 text-center successful-resume-image-container">
                <img
                 width="400"
                 class="embed-responsive-item popular-resumes-image back-image hidden-xs"
                 src="/img/successful-resumes/{{ frontImage }}"
                 alt="{{ alt }}" />

                <div class="front-image-container">
                    <a
                     href="#view-resume"
                     data-toggle="modal"
                     data-track="event"
                     data-category="Successful Resumes"
                     data-action="Click Full Resume"
                     data-label="{{ name }}">
                		<img
                         width="400"
                         class="embed-responsive-item popular-resumes-image"
                         src="/img/successful-resumes/{{ frontImage }}"
                         alt="{{ alt }}"
                          />

                        <span
                         class="show-button">
                            <i class="icon-search-plus"></i>
                        </span>
                    </a>
                </div>
        	</div>

        	<div class="Grid Grid--column Grid-cell--md-5 Grid-cell--sm-12 Grid-cell--xs-12">
        		<div class="successful-resume-name">
                    {{ name }}
        		</div>

                {{#if companyLogo }}
        		<div class="successful-resume-works-at top-xs">
        			Hired at 
                    <img
                     alt="{{companyLogo}} company logo"
                     height="30"
                     src="/img/successful-resumes/company-logos/{{ companyLogo }}"
                     srcset="/img/successful-resumes/company-logos/{{ companyLogo }} 1x, /img/successful-resumes/company-logos/2x-{{ companyLogo }} 2x" />
        		</div>
                {{/if }}

        		<div class="successful-resume-description top-xs">
        			{{ description }}
        		</div>

        		<div class="successful-resume-tag-container">
                    {{#split tags}}
                        <div class="resume-tag">{{this}}</div>
                    {{/split}}
                    {{#split secondary_tags}}
                        <div class="resume-tag">{{this}}</div>
                    {{/split}}
        		</div>

                <!--<div class="similar-resumes top-xs">
                    283 Marketing resumes have similar resume configuration
                </div>-->


                {{>social-panel class="move-top" url=url facebookText=facebookText twitterText=twitterText}}

                <script>
                    (function () {
                        var isFamous = {{#if famousResume}}true{{else}}false{{/if}};

                        var res = localStorage.getItem('ab_test_top_resume');
                        if (!res) {
                            res = Math.random();
                            localStorage.setItem('ab_test_top_resume', res);
                        }

                        if (res > 0.5) {
                            var ctaText = 'You deserve a resume that shows relevance and self confidence';
                            document.querySelector('.cta-text').innerHTML = ctaText;
                            document.querySelector('.cta-button').setAttribute('data-label', ctaText);
                        }
                    }());
                </script>
        	</div>
        </div>

        <div class="successful-resume-cta">
            {{#if famousResume}}
              <div class="bottom-xs cta-text text-center">Subscribe for more inspired resumes</div>
            {{else}}
               <div class="bottom-xs cta-text text-center">Subscribe to get new resumes from inspired, confident users delivered to your inbox.</div>
            {{/if }}
            <form id="subscribe-form">
                <div class="Grid">
                    <input
                     type="text" 
                     class="form-control Grid-cell m-right-1" 
                     id="subscribe-email"
                     placeholder="Write your email address"
                     style="height: auto"/>
                    <button
                     type="submit"
                     id="subscribe-btn"
                     class="btn btn-primary cta-button Grid-cell--auto"
                     data-track="event"
                     data-category="Successful Resumes"
                     data-action="Newsletter Subscription">
                        Subscribe
                    </button>
                </div>
            </form>
        </div>

        <div class="row text-center">
        	<div class="top-md bottom-sm">
                <a class="back-button" href="/successful-resumes.html">
                    <i class="icon-angle-left"></i>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </div>
</div>
<hr>

{{#if famousResume}}
    {{>famous-resumes-carousel}}
{{else}}
    {{>successful-resumes-carousel}}
{{/if}}

<div
 id="view-resume"
 tabindex="-1"
 class="modal fade">
    <div class="modal-dialog modal-lg modal-example">
        <div class="modal-content">
            <div class="modal-body">

                <img
                 width="1240"
                 height="1755"
                 class="img-responsive"
                 src="/img/successful-resumes/{{ frontImage }}"
                 alt="{{ alt }}">

                {{#if backImage }}
                    <img
                     width="1240"
                     height="1755"
                     class="img-responsive top-md"
                     src="/img/successful-resumes/{{ backImage }}"
                     alt="{{ alt }}">
                {{/if }}
            </div>
        </div>
    </div>
    <button
     type="button"
     data-dismiss="modal"
     class="close close-example">
        <i class="icon-times"></i>
    </button>
</div>
