<div class="successful-resumes-resumes-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center m-top-6 hidden-xs">
                    Top resumes from real Enhancv users
                </h2>
                <h3 class="text-center m-top-4 hidden-sm hidden-md hidden-lg">
                    Top resumes from real Enhancv users
                </h3>

                <div class="hidden resumes-hidden-wrapper">
                    {{>resume-container
                        link="louis-grenier.html"
                        name="Louis Grenier"
                        tags="Marketing, Mission, Founder"
                        secondary_tags="Podcaster, Consultant"
                        frontImage="louis-grenier-resume-1.jpg"
                        companyLogo="hotjar-logo.png"
                    }}
                    {{>resume-container
                        link="eric-hu.html"
                        name="Eric L Hu"
                        tags="Career change, Marketing"
                        secondary_tags="Photographer, Musician"
                        frontImage="eric-hu-resume-1.jpg"
                        companyLogo="sde-logo.png"
                    }}
                    {{>resume-container
                        link="akshay-rao.html"
                        name="Akshay S. Rao"
                        tags="Internship, Engineering"
                        secondary_tags="Fraternity"
                        frontImage="akshay-rao-resume-1.jpg"
                        companyLogo="tesla-logo.png"
                    }}
                    {{>resume-container
                        link="sam-young.html"
                        name="Sam Young"
                        tags="Career Change, IT Strategy"
                        secondary_tags="Favorite Books, Data Analytics, Investment Analysis"
                        frontImage="sam-young-resume-1.jpg"
                        companyLogo="spotify-logo.png"
                    }}
                    {{>resume-container
                        link="daniel-pietersen.html"
                        name="Daniel Pietersen"
                        tags="Customer Support, Founder"
                        secondary_tags="GitHub"
                        frontImage="daniel-pietersen-resume-1.jpg"
                        companyLogo="intercom-logo.png"
                        RoM=true
                    }}
                    {{>resume-container
                        link="marcellus-nixon.html"
                        name="Marcellus Nixon"
                        tags="Engineering, Patent Holder"
                        secondary_tags=""
                        frontImage="marcellus-nixon-resume-1.jpg"
                        companyLogo="verizon-logo.png"
                    }}
                    {{>resume-container
                        link="julian-prim.html"
                        name="Julian Prim"
                        tags="Auditing, Administration"
                        secondary_tags=""
                        frontImage="julian-prim-resume-1.jpg"
                        companyLogo="pwc-logo.png"
                    }}
                    {{>resume-container
                        link="tobias-horstmann.html"
                        name="Tobias Horstmann"
                        tags="IT, Automotive, Founder"
                        secondary_tags="Traveller, Internship, Web Development"
                        frontImage="tobias-horstmann-resume-1.jpg"
                        companyLogo="encory-logo.png"
                    }}
                    {{>resume-container
                        link="melanie-fischer.html"
                        name="Melanie Fisher"
                        tags="Sales, Customer Service"
                        secondary_tags=""
                        frontImage="melanie-fisher-resume-1.jpg"
                        companyLogo="esc-logo.png"
                    }}
                    {{>resume-container
                        link="steffany-photopoulos.html"
                        name="Steffany Photopoulos"
                        tags="Career Change, Medicine"
                        secondary_tags="Traveller, Volunteer, Musician"
                        frontImage="steffany-photopoulos-resume-1.jpg"
                        companyLogo="ie-logo.png"
                    }}
                    {{>resume-container
                        link="hillary-darkville.html"
                        name="Hillary Darkville"
                        tags="Public Health, Consulting"
                        secondary_tags="Runner"
                        frontImage="hillary-k-darville-resume-1.jpg"
                        companyLogo="guru-logo.png"
                    }}
                    {{>resume-container
                        link="eden-ivancich.html"
                        name="Eden Ivancich"
                        tags="Teenager, Volunteer, Student"
                        secondary_tags="Cooking, Football, Awards"
                        frontImage="eden-ivancich-resume-1.jpg"
                        companyLogo=""
                    }}
                    {{>resume-container
                        link="eric-weissmann.html"
                        name="Eric Weissmann"
                        tags="Marketing, Sales, Management"
                        secondary_tags="Design, Banking, Entrepreneurship, Economic Development"
                        frontImage="eric-weissmann-resume-1.jpg"
                        companyLogo="cin-logo.png"
                    }}
                    {{>resume-container
                        link="sophie-segal.html"
                        name="Sophie Segal"
                        tags="Sales & Marketing, Project Management"
                        secondary_tags="Rent-a-car, Partnership Building, Negotiation"
                        frontImage="sophie-segal-resume-1.jpg"
                        companyLogo="avis-budget.png"
                    }}
                    {{>resume-container
                        link="maximilian-malterer.html"
                        name="Maximilian Malterer"
                        tags="Non-Profit, Entrepreneurship"
                        frontImage="maximilian-malterer-resume-1.jpg"
                        companyLogo="amazon.png"
                    }}
                </div>

                <!-- AUTO SIZING IN See js/successful-resumes-carousel -->
                <div id="resume" class="carousel-inner successful-resumes-carousel-items">
                </div>
                <!-- AUTO SIZING IN See js/successful-resumes-carousel -->

            </div>
        </div>
    </div>
</div>
