<div class="container tweets-container bottom-md">
    <h3 class="h1 text-center">Joey stole the hearts of many</h3>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <blockquote class="twitter-tweet tw-align-center" data-id="843332827215155200" data-lang="en" data-align="right" data-link-color="#2DC08D" data-cards="hidden" data-conversation="none">
          <p lang="en" dir="ltr">This kid is on another level and I freaking love it #DatingResume</p>&mdash; maritza cabezas‏ (@Maritza_Cabezas) <a href="https://twitter.com/Maritza_Cabezas/status/843332827215155200">March 18, 2017</a>
        </blockquote>
      </div>

      <div class="col-xs-12 col-md-6">
        <blockquote class="twitter-tweet tw-align-center" data-id="843298802127659009" data-lang="en" data-align="left" data-link-color="#2DC08D" data-cards="hidden" data-conversation="none">
          <p lang="en" dir="ltr">Why do I have the crazy idea of making something like this? 😂😂😂 #DatingResume</p>&mdash; Mark‏ (@MarklBarroso) <a href="https://twitter.com/MarklBarroso/status/843298802127659009">March 18, 2017</a>
        </blockquote>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <blockquote class="twitter-tweet tw-align-center" data-id="843707717650989057" data-lang="en" data-align="right" data-link-color="#2DC08D" data-cards="hidden" data-conversation="none">
          <p lang="en" dir="ltr">I love this so much 😂
          If you need a smile, please read! #datingresume #buzzfeed #goals</p>&mdash; Alexa Ard‏
          (@Alexa_Ard) <a href="https://twitter.com/Alexa_Ard/status/843707717650989057">March 19, 2017</a>
        </blockquote>
      </div>

      <div class="col-xs-12 col-md-6">
        <blockquote class="twitter-tweet tw-align-center" data-id="842553590505988096" data-lang="en" data-align="left" data-link-color="#2DC08D" data-cards="hidden" data-conversation="none">
          <p lang="en" dir="ltr">I'll be his date 🙋🏼</p>&mdash; Jos‏ (@JosieBuer) <a href="https://twitter.com/JosieBuer/status/842553590505988096">March 16, 2017</a>
        </blockquote>
      </div>
    </div>
</div>
