<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<div class="container tweets-container top-md">
    <h4 class="h1 text-center">The movement Joey created</h4>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <blockquote class="twitter-tweet tw-align-center" data-id="844740327277641728" data-lang="en" data-align="right" data-link-color="#2DC08D" data-conversation="none">
          <p lang="en" dir="ltr">Okay... Here is my #datingresume! If you can't beat em, right?</p>&mdash; KiSS 91.7‏ (@KiSSedmonton) <a href="https://twitter.com/KiSSedmonton/status/844740327277641728">March 23, 2017</a>
        </blockquote>
      </div>

      <div class="col-xs-12 col-md-6">
        <blockquote class="twitter-tweet tw-align-center" data-id="843486878519234560" data-lang="en" data-align="left" data-link-color="#2DC08D" data-conversation="none">
          <p lang="en" dir="ltr">I answered the challenge of making a resume for your dating life. Oh, btw I meant TLDR, not TDLR 🙃</p>&mdash; Gillian Parker‏ (@_GillianParker) <a href="https://twitter.com/_GillianParker/status/843486878519234560">March 19, 2017</a>
        </blockquote>

        <blockquote class="twitter-tweet tw-align-center" data-id="844011793240399872" data-lang="en" data-align="left" data-link-color="#2DC08D" data-conversation="none">
          <p lang="en" dir="ltr">I made a dating resume as a joke and after, I got this message from my mum</p>&mdash; gay wine aunt‏ (@divydogs) <a href="https://twitter.com/divydogs/status/844011793240399872">March 21, 2017</a>
        </blockquote>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <blockquote class="twitter-tweet tw-align-center" data-id="844887877486043136" data-lang="en" data-align="right" data-link-color="#2DC08D" data-conversation="none">
          <p lang="en" dir="ltr">@Jimmy_Radio made @RadioJennRyan a dating resume!! #thejennryanshow #datingresume #singlelady #notforlong</p>&mdash; Island 106‏ (@Island106) <a href="https://twitter.com/Island106/status/844887877486043136?ref_src=twsrc%5Etfw&ref_url=https%3A%2F%2Fenhancv.com%2Fdating-resume.html">March 23, 2017</a>
        </blockquote>
      </div>

      <div class="col-xs-12 col-md-6">
        <blockquote class="twitter-tweet tw-align-center" data-id="844666617703403521" data-lang="en" data-align="left" data-link-color="#2DC08D" data-conversation="none">
          <p lang="en" dir="ltr">Serious inquiries only plz.</p>&mdash; Lauren‏ (@LaurenLeepsALot) <a href="https://twitter.com/LaurenLeepsALot/status/844666617703403521">March 22, 2017</a>
        </blockquote>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <blockquote class="twitter-tweet tw-align-center" data-id="844634306597306369" data-lang="en" data-align="right" data-link-color="#2DC08D" data-conversation="none">
          <p lang="en" dir="ltr">I emailed the boy who replied to a formal date with a dating resume and I invited him to a date party and he texted me😂 #GetJoeyToCrawfish</p>&mdash; shelby thompson‏ (@shelbhay) <a href="https://twitter.com/shelbhay/status/844634306597306369">March 22, 2017</a>
        </blockquote>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="text-center top-lg">
          <a
           href="{{ urls.builder }}"
           class="btn btn-primary">
              Craft Your Dating Resume Now
          </a>
        </div>
      </div>
    </div>
</div>
