//////////////////////////////
/// Page -> Sucessful resumes

// Header Background
.resumeslist {
    background-repeat: no-repeat;
    background-position: top right;
    background-color: $sr_resumeslist-background;

    // For better loading performance on mobile >
    @media screen and (min-width: $screen-sm) {
        background-image: url("../img/new-successful-resumes/elements/header_background.jpg");
    }
    @media screen and (max-width: $screen-sm-max) {
        background-image: url("../img/new-successful-resumes/elements/header_background_mobile.jpg");
        background-size: 205px;
    }
}

.resumedetail {
    background-color: $sr_resumeslist-background;
}

// Page accent
.resumes {
    &--accent {
        &:not(.noBackground) {
            &:after {
                content: "";
                width: 528px;
                height: 950px;

                background-repeat: no-repeat;
                background-size: 100%;

                position: absolute;
                top: 30%;
                right: 0;
                z-index: -1;

                // For better loading performance on mobile >
                @media screen and (min-width: $screen-sm) {
                    background-image: url("../img/new-successful-resumes/elements/homepage_behind_famous_resume_bg_@2.jpg");
                }

                @media screen and (max-width: $screen-sm-max) {
                    width: 528px - 100;
                    height: 950px - 300;

                    top: 22%;

                    background-size: auto 100%;
                    background-position: top right;
                    background-image: url("../img/new-successful-resumes/elements/homepage_behind_famous_resume_bg.jpg");
                }
            }
        }
    }

    &--accent-hired {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        // For better loading performance on mobile >
        @media screen and (min-width: $screen-sm) {
            background-image: url("../img/new-successful-resumes/elements/singlepage__tags_bubble@2x.png");
        }

        @media screen and (max-width: $screen-sm-max) {
            background-image: url("../img/new-successful-resumes/elements/singlepage__tags_bubble.png");
        }
    }
}

// Resume preview button

.btn-resume-preview {
    background-image: url("../img/new-successful-resumes/icons/zoom.png");
    &:hover {
        background-image: url("../img/new-successful-resumes/icons/zoom_hover.png");
    }
}

// List of Famous Resumes
.resumes {
    &--famous-list {
        &:not(.noBackground) {
            &:after {
                content: "";
                width: 592px;
                height: 463px;

                background-repeat: no-repeat;
                background-position: top right;
                background-size: contain;

                position: absolute;
                z-index: -1;

                // For better loading performance on mobile >
                @media screen and (min-width: $screen-sm) {
                    //bottom: 15%;
                    top: -7%;
                    left: 2%;
                    background-image: url("../img/new-successful-resumes/elements/homepage_element_behind_see_more_resumes@2.jpg");
                }

                @media screen and (max-width: $screen-sm-max) {
                    top: 0;
                    left: -15px;
                    width: calc(100% + 30px);
                    height: 100%;
                    background-position: center;
                    background-size: auto 100%;
                    background-image: url("../img/new-successful-resumes/elements/homepage_element_behind_see_more_resumes.jpg");
                }
            }
        }
    }

    &--others-wrap {
        &:not(.noBackground) {
            &:after {
                content: "";
                width: 1047px;
                height: 891px;
                background-repeat: no-repeat;
                background-position: top right;
                background-size: 100%;
                position: absolute;
                z-index: -1; // For better loading performance on mobile >
                @media screen and (min-width: $screen-sm) {
                    top: (8px * 14) * -1;
                    left: calc(50% - (1047px / 2));
                    background-image: url("../img/new-successful-resumes/elements/homeepage_see_how_others_did@2x.jpg");
                }
                @media screen and (max-width: $screen-sm-max) {
                    top: 0;
                    left: -15px;
                    width: calc(100% + 30px);
                    height: 100%;
                    background-position: center;
                    background-size: auto 100%;
                    background-image: url("../img/new-successful-resumes/elements/homeepage_see_how_others_did.jpg");
                }
            }
        }
    }
}

// Socials Wow button
.btn-wow {
    background-image: url("../img/new-successful-resumes/icons/wow.svg");
    &:hover {
        background-image: url("../img/new-successful-resumes/icons/wow_hover.svg");
    }
    &.btn-wow-reverse {
        background-image: url("../img/new-successful-resumes/icons/wow_hover.svg");
        &:hover {
            background-image: url("../img/new-successful-resumes/icons/wow.svg");
        }
    }
}

.btn-wow-default {
    background-image: url("../img/new-successful-resumes/elements/social-wow-button.svg");
}

// Bubbules Background
.hasBubbulesBackground {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    @media screen and (min-width: $screen-sm) {
        background-image: url("../img/new-successful-resumes/elements/singlepage_subscription@2x.jpg");
    }
    @media screen and (max-width: $screen-xs-max) {
        background-image: url("../img/new-successful-resumes/elements/singlepage_subscription_mobile@2x.jpg");
        background-size: contain;
    }
}

// Famous resume
.famous-resume--container-dark {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    @media screen and (min-width: $screen-sm) {
        background-image: url("../img/new-successful-resumes/famous/dark-bgr-subscribe-section.jpg");
    }
    @media screen and (max-width: $screen-xs-max) {
        background-image: url("../img/new-successful-resumes/famous/dark-bgr-subscribe-section-mobile.jpg");
    }
}

// Component wit feeelings

.component--feeling {
    &.feeling-box-dark {
        background-image: url("../img/new-successful-resumes/elements/feeling-dark.png");
    }
    &.feeling-box-light {
        background-image: url("../img/new-successful-resumes/elements/feeling-light.png");
    }
}
