.bullet {
    display: inline-flex;
    min-width: 10px;
    height: 10px;
    background: #000;
    border-radius: 100%;
    position: relative;
    top: 0px;
    margin-right: $sr_global-offset-value * 2;
    &.mobile-hide {
        @media screen and (max-width: $screen-sm-max) {
            display: none;
        }
    }
}
