.badge {
    &--purple {
        color: $brand-purple;
        border: 1px solid $brand-purple;
        background: #fff;
    }
    &--orange {
        color: $promo-color;
        border: 1px solid $promo-color;
        background: #fff;
    }
    &--green {
        color: $brand-primary;
        border: 1px solid $brand-primary;
        background: #fff;
    }
    &--yellow {
        color: $brand-warning;
        border: 1px solid $brand-warning;
        background: #fff;
    }
}
