.component {
    &--social-buttons {
        width: 87px;
        font-family: $headings-font-family;
        font-size: 12px;
        color: rgba(76, 86, 89, 0.5);
        letter-spacing: 0;
        text-align: center;
        line-height: 28px;
        
        &.inModal {
            background: #FFFFFF;
            border: 1px solid #E6E1FF;
            box-shadow: 0 2px 2px 0 rgba(223, 223, 223, 0.50);
            border-radius: 3px 3px 80px 80px;
            padding: 8px 0 4px;
            box-sizing: border-box;

            position: fixed;
            top: 32px;
            right: -112px;
        }

        .line {
            background:rgba(75, 85, 88, 0.2);
            height: 1px;
            display: inline-flex;
            width: 60%;
        }
    }

    &--social-button{
        width: 30px;
        height: 30px;
        font-size: 19px;
        line-height: 14px;
        margin: auto auto 8px;

        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &.btn-linkedin {
            margin-bottom:0px;
        }

        &:last-child {  
            margin-bottom:0px;
        }
    }
}   


/* Rectangle 4: */


