<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        {{> meta }}
    </head>
    <body {{#if isLandingHomepage}} class="landing-homepage-body" {{else}} class="with-sticky-navbar" {{/if}}>
        {{> header
            navigation=navigation
            invertedNavigation=invertedNavigation
        }}

        {{> body }}

        {{> footer }}

        <link rel="stylesheet" type="text/css" href="/css/app.css">
        <link rel="stylesheet" type="text/css" href="/icons/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,400">
        <script src="/js/combined.js" type="text/javascript" async></script>
    </body>
</html>

