<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{#ifequal process.env.NODE_ENV "development" }}
            <meta name="robots" content="noindex">
        {{/ifequal }}
        <title>{{subject}}</title>
        <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
        <link rel="stylesheet" type="text/css" href="{{root}}icons/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,400">
    </head>
    <body>
        {{> header }}
        {{> body }}
        {{> footer }}

        <script src="{{root}}js/combined.min.js"></script>
        {{> analytics }}
    </body>
</html>

