<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        {{> meta }}
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body {{#if isLandingHomepage}} class="landing-homepage-body" {{else}} class="{{#if isHomepage}}homepage{{/if}}" {{/if}}>
        {{> body }}

        {{> footer }}

        <script src="/js/combined.js" type="text/javascript"></script>
    </body>
</html>

