<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        {{> meta }}
    </head>
    <body class="landing-homepage-body">
        {{#if transparentNavigation}}
            {{> header-transparent
                invertedColors=invertedColors
            }}
        {{else}}
            {{> header
                isAiesec=isAiesec}}
        {{/if}}

        {{> body }}

        {{> footer }}

        <script src="/js/combined.js" type="text/javascript" async></script>
    </body>
</html>

