<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        {{> meta }}
		<script src="//load.sumome.com/" data-sumo-site-id="2baae92cb262944c514e96b4624da37cbe691aaaf838900d342d3460d2d1846d" async="async"></script>
    </head>
    <body>
        <nav class="navbar navbar-landing">
            <div class="container">
                <a
                 class="navbar-brand"
                 href="/">
                    <img
                     src="/img/logo-with-text-white.svg"
                     width="143"
                     height="22"
                     alt="Enhancv Logo">
                </a>
                <a
                 href="/"
                 class="btn btn-transparent navbar-btn pull-right">
                    About Enhancv
                </a>
            </div>
        </nav>

        {{> body }}

        <script src="/js/combined.js"></script>
        <script>
            $(function() {
              $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                  if (target.length) {
                    $('html, body').animate({
                      scrollTop: target.offset().top
                    }, 1000);
                    return false;
                  }
                }
              });
            });
        </script>
    </body>
</html>

