<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        {{> meta }}
    </head>
    <body class="with-sticky-navbar">
        {{> header }}
        <div class="container">
            <h1 class="text-center top-lg">
                {{ title }}
            </h1>
            <div class="row top-lg">
                <div class="col-sm-3">
                    <ul class="list-unstyled text-page-menu">
                        <li {{#if isTerms }} class="active" {{/if}}>
                            <a href="/terms.html">Terms of service</a>
                        </li>
                        <li {{#if isPrivacy }} class="active" {{/if}}>
                            <a href="/privacy.html">Privacy policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    {{> body }}
                </div>
            </div>
        </div>
        {{> footer }}

        <script src="/js/combined.js"></script>
    </body>
</html>

