.modal-open {
	&.april-fools {
		&:focus {
			outline: 0 none;
		}

		.modal-dialog {
			margin-top: calc(50vh - 253px);
		}

		.modal-content {
			border: 0 none;
			border-radius: 7px;

			.modal-body {
				padding: 50px 60px;
				text-align: center;

				p {
					font-weight: 300;
					@include font-size(21px);
					line-height: 1.2;
					font-family: $heading-font-family;
				}

				.enhancv-logo {
					width: 140px;
					display: inline-block;
					margin-bottom: 60px;
				}

				.ps-text {
					font-weight: 400;
					display: inline-block;
					margin: 30px 0 50px 0;
				}
			}
		}
	}
}
