.button {
  display: inline-block;
  font: 300 18px/1.2 $base-font-family 'Segoe UI' Arial , sans-serif;
  text-decoration: none;
  border-radius: 35px;
  line-height: 48px;
  height: 48px;
  padding: 0 25px;
  color: #fff;
  background: $ench-color;
  text-align: center;
  min-width: 160px;
  transition: .2s background ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    background: rgba($ench-color, .9);
  }

  &.-small {
    line-height: 38px;
    height: 38px;
    font-size: 16px;
  }

  &.-white {
    color: #444;
    background: #fff;

    &:hover,
    &:focus {
      background: rgba(#fff, .9);
    }
  }

  &.-trans {
    background: transparent;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    padding:  0 18px;
    min-width: auto;
    border: 1px solid #fff;
    color: #fff;

    &:hover,
    &:focus {
      background: rgba(#fff, .3);
    }

    &.-grey {
      border-color: #444;
      color: #444;
      background: transparent;

      &:hover,
      &:focus {
        background: rgba(#444, .3);
      }
    }
  }

  &.-grey {
    border: 1px solid #333;
    background: #333333;
    color: #fff;
  }

  &.-disabled {
    border: 1px dashed #333;
    background: transparent;
    color: #333;
    cursor: default;

    &:hover,
    &:focus {
      background: transparent;
    }
  }

  &.-prim {
    position: relative;
    background: #ec9231;
    box-shadow: 2px 2px 5px rgba(#000, .4);
    overflow: hidden;

    &:hover,
    &:focus {
      background: #ff8400;

      &:before {
        -webkit-animation: shine 0.5s 0s linear;
        -moz-animation: shine 0.5s 0s linear;
        animation: shine 0.5s 0s linear;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 0px;
      height: 86%;
      position: absolute;
      top: 7%;
      left: 0%;

      opacity: 0;
      background: white;
      box-shadow: 0 0 15px 3px white;
      -webkit-transform: skewX(-20deg);
      transform: skewX(-20deg);
    }
  }
}

@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

