.contacts-header {
    background-image: url('/images/contacts/contacts-header-image.jpg') !important;
    background-color: rgb(0, 192, 146);
}

.contacts-section {
    .heading {
        display: block;
        color: #00c092;
        text-decoration: none;
        @include font-size(18px);
        font-weight: 400;
        padding-bottom: 10px;
    }

    .small-divider {
        display: inline-block;
        width: 25px;
        height: 2px;
        margin-bottom: 10px;
        background-color: #00c092;
    }

    .contact-info {
        margin-bottom: 50px;
    }

    .section-heading {
        @include font-size(27px);
        margin-bottom: 70px;
    }

    p {
        @include font-size(14px);
    }

    @media (min-width: $screen-sm) and (min-height: 1050px) {
        height: calc(100vh - 472px);
    }

    @media (max-width: 1000px) {
      .small-divider {
        text-align: center;
      }

      [class*="col-"] {
        width: 100%;
        text-align: center;
      }

      .map {
        width: 100%;
        margin-top: 30px;
        overflow-x: hidden;
        padding-left: 0;

        iframe {
          width: 1000px !important;
          display: inline-block;
          text-align: center;
        }
      }
    }
}

.-section.-footer {
    @media (min-width: $screen-md) and (min-height: 1050px) {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
