#faq-accordion {
    .panel {
        border-bottom: 1px solid #dddddd;
        border-radius: 0;
        box-shadow: none;

        .panel-heading {
            background-color: transparent;
            word-wrap: break-word;

            .panel-title {
                color: $ench-color;
                font-weight: 300;

                .plus-wrapper {
                    display: inline-block;
                    position: relative;

                    span {
                        display: inline-block;
                        width: 15px;
                        height: 2px;
                        background-color: $ench-color;
                        transition: all 0.2s ease-in;
                    }

                    .vertical {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        transform: rotateZ(90deg);

                        &.normal {
                            transform: rotateZ(0);
                        }
                    }

                    .horizontal {
                        position: relative;
                        top: -5px;
                    }
                }

                a {
                    margin-left: 15px;
                }
            }
        }

        .panel-body {
            border: 0;
            padding-left: 45px;
            padding-top: 35px;
            padding-bottom: 25px;

            p:first-child {
                margin-top: 0;
            }
        }
    }
}

#subscribe {
    form {
        max-width: 500px;
        margin: auto;

        .form-control {
            margin: auto;
            height: 49px;
            border-radius: 60px;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            font-style: italic;
            font-size: 14px;
            font-weight: 300;
            outline: 0;
            box-shadow: none;
            padding-left: 20px;
            line-height: 49px;
            padding-top: 0;
            padding-bottom: 0;

            &::-webkit-input-placeholder {
                color: #fff;
            }

            &:-moz-placeholder {
                color: #fff;
            }

            &::-moz-placeholder {
                color: #fff;
            }

            &:-ms-input-placeholder {
                color: #fff;
            }
        }

        .btn {
            margin-top: 30px;
            float: right;
        }

        .notifier {
            display: inline-block;
            color: #fff;
            font-size: 14px;
            font-style: italic;
            font-weight: 300;
            line-height: 49px;
            vertical-align: middle;
            margin-top: 30px;
            float: left;
        }

        @media screen and (max-width: $screen-sm) {
            .btn,
            .notifier {
                text-align: center;
                float: none;
            }

            .notiier {
                width: 100%;
            }
        }
    }
}
