.growth-enhancer-header {
	background-image: url('/images/growth-enhancer/header-image.jpg') !important;
	background-color: rgb(0, 192, 146);
  font-size: 50px;

  .container {
    padding: 500px 0 140px 0;

    h1 {
      font-size: 1em;
    }

    p {
      font-size: 0.5em;
    }
  }

  @include media($screen-lg) {
    font-size: 35px;

    .container {
      padding: 200px 0 56px 0;
    }
  }

  @include media($screen-sm) {
    height: auto !important;
    font-size: 30px;
  }
}

.growth-enhancer-section {
	h2 {
		text-align: center;
	}

	.about-section {
    width: 65%;
    padding: 20px 0;

    h2 {
      margin-top: 0;
      font-size: 32px;
    }

    p {
      max-width: 100%;
			font-size: 21px;
      text-align: left;
    }
  }
}

.growth-enhancer-about {
  padding-bottom: 110px !important;
}

.growth-enhancer-resume {
	background: url('../images/resume-bg.jpg') !important;

	.resume-section {
		margin-top: 55px;

		[class*="col-"]:nth-child(even) {
			padding-right: 0;
		}

		[class*="col-"]:nth-child(odd) {
			padding-left: 0;
		}

		p {
			padding: 0;
		}

		.-table {
			margin-bottom: 45px;
		}

		.-circle {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border: 1px solid #444;
			color: #444;

			p {
				font-weight: 800;
				width: auto;
				line-height: 35px;
				font-size: 16px;
				text-align: center;
			}
		}

		.-content {
			padding-left: 25px;

			.heading {
				font-weight: 700;
				font-size: 19px;
				margin-bottom: 25px;
			}

			.desc {
				font-size: 16px;
				font-weight: 500;
			}
		}
	}
}

.title-row {
	.value-heading {
		color: #444 !important;
	}
}

.value-heading {
	color: #00c091 !important;
}

.carrousel-wrapper {
	h2 {
		margin-bottom: 70px;
	}

	.carrousel {
		.content {
			display: inline-block;
			position: relative;

			[class*="col-"] {
				margin-bottom: 0;
			}

			img.arrow {
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;

				&.right {
					right: -13%;
				}

				&.left {
					left: -13%;
				}
			}
		}

		.controls {
			display: inline-block;
			width: 100%;
			text-align: center;
			margin-top: 80px;

			.circle {
				margin: 0 4px;
				display: inline-block;
				width: 8px;
				height: 8px;
				background-color: white;
				border-radius: 50%;

				&:hover,
				&:active,
				&:focus {
					background-color: rgba(255, 255, 255, .3);
					@include transition(0.15s);
				}

				&.active {
					background-color: rgba(255, 255, 255, .3);
				}
			}
		}
	}
}

.images {
	[class*="col-"] {
		padding: 0;
		overflow: hidden;


		img {
			width: 100%;
			padding: 10px;
		}
	}
}

.-table {
	display: table;
}

.-table-cell {
	display: table-cell;
}

.why-join-us {
	h2 {
		color: #00c091;
	}
	.bullet {
		span {
			color: #fff !important;
		}
	}
	.bullet:before {
			float: left;
			margin-top: 16px;
		}
}
