.header-s {
	height: auto !important;
	background-size: cover !important;
	background-repeat: no-repeat;

	.container {
		padding: 60px 0;

		.v-base {
			height: auto !important;
		}
	}

	h1 {
		font-size: 48px;
	}
	
	@media (max-width: 770px) {
		& .col-sm-3 {
			float: left;
			margin-left: 5%;
		}
		
		& .col-sm-3.m-text-right {
			right: 7%;
			top: 60px;
		}
	}
	
	@media (max-width: 450px) {
		& .col-sm-3.m-text-right {
			right: 14%;
		}
		
		& .col-sm-3.m-text-right a {
			padding: 0 15px;
		}
	}
}
