.header-s {
	height: auto !important;
	background-size: cover !important;
	background-repeat: no-repeat;

	.container {
		padding: 60px 0;

		.v-base {
			height: auto !important;
		}
	}

	h1 {
		font-size: 48px;
	}
}
