.job-list-section {
  width: 75%;

  .section-info {
    margin-bottom: 90px;

    p {
      line-height: 1.4em;
    }

    div{
      padding: 0;
    }

    h2 {
      margin-top: 0;
    }
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  .job {
    padding-top: 27px;
    padding-bottom: 24px;
    border-bottom: 1px solid #c6c6c6;
  }

  a:first-child .job {
    border-top: 1px solid #c6c6c6;
  }

  .job-work-time, .job-category {
    padding: 0;
    p {
      text-align: right;
      font-size: 14px;
      color: #aaa;
      margin: 0;
    }
  }

  .job-title {
    padding: 0;
    p {
      font-size: 18px;
      margin: 0;

    }
  }

  .job:hover {
    .job-title, .job-category, .job-work-time {
      p {
        color: #00c092;
      }
    }
  }
}
