.is-menu-opened {
  overflow: hidden;
}

.nav {
  font-family: $base-font-family;
  font-size: 0;
  list-style-type: none;

  &.-center {
    text-align: center;
  }

  &.-main {
    @include media($screen-sm) {
      margin-top: 60px;
    }
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 0 25px;
    text-decoration: none;
    opacity: .75;


    &:hover {
      opacity: 1;
    }
  }
}
.menu-close,
.menu-hamb {
  font-size: 22px !important;
  color: #fff;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  padding: 20px;
  margin-top: -20px;
  margin-right: -40px;
  color: #fff;

  span {
    position: relative;
    display: block;
    width: 19px;
    height: 2px;
    background: #fff;
    font-size: 0;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -6px;
      left: 0;
      width: 19px;
      height: 2px;
      background: #fff;
      transition: .2s transform ease-in-out;
    }

    &:after {
      top: 6px;
    }
  }

  &:hover {
    span:before {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
    span:after {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
    }
  }
}
.menu-close {
  margin-left: 20px;
  width: 14px;
  height: 14px;
  background: url('../images/close-sign.png') center center no-repeat;
}

$nav-width: 310px;
.menu {
  position: absolute;
  width: $nav-width;
  top: 0;
  right: 0;
  background: #1a1a1a;
  padding: 30px 30px 30px 50px;
  color: #555;
  overflow-y: auto;
  height: 100vh;
  z-index: 19;

  .buttons-container {
    min-height: calc(100% - 50px);
    position: relative;
    padding-left: 21px;
    padding-top: 6px;
  }

  ul {
    margin-top: 30px;
    list-style-type: none;
    margin-left: 0;

    a {
      display: inline-block;
      color: #fff;
      margin-bottom: 12px;
      font-size: 20px;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: #666;
      }

      &.is-selected:before {
        content: '— '
      }
    }

    &.-secondary a {
      font-size: 16px;
      color: #666;
      margin-bottom: 5px;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  @include media($screen-sm) {
    transition: .3s transform ease-in-out;
    transform: translateY(-100%);
    height: auto;
    height: 100vh;
    z-index: 40;
    width: 100%;
    text-align: center;
  }

}
.menu-open {
  transition: .3s transform ease-in-out;
}
@include media-min($screen-sm) {
  .is-menu-opened {
    overflow: hidden;

    .menu-open {
      -webkit-transform: translateX(-$nav-width);
      transform: translateX(-$nav-width);

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .4);
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        z-index: 19;
      }
    }
    .menu-hamb {
      display: none !important;
    }
  }
}

@include media($screen-sm) {
  .is-menu-opened .menu {
    transform: translateY(0);
  }

  .js-close-menu {
    position: absolute;
    right: 40px;
    top: 20px;
  }

  .button-cta {
    display: none !important;
  } 
}

.cta-container,
.ench-logo {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 200;

  @include media($screen-sm) {
    top: 20px;
    left: 20px;
  }
}

.cta-container {
  left: auto;
  right: 50px;
  margin-top: -10px;

  @include media($screen-sm) {
    left: auto;
    top: 25px;
    right: 40px;
  }

  .button-cta {
    margin-top: -10px;
    display: none;
    margin-right: -25px;

    &.-trans {
      background: #000;
      border: none;

      &:hover,
      &:focus {
        background: rgba(#000, .7);
      }
    }

    @include media($screen-sm) {
      margin-top: -5px;
    }
  }

  .menu-hamb {
    display: inline-block;
  }

  &.swap {
    .button-cta {
      display: inline-block;
    }
    .menu-hamb {
      display: none;
    }
  }

}

.go-to-section {
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -10px;
  padding: 20px;
  width: 20px;
  height: 18px;
  background: url('../images/arrow-down.png') center center no-repeat;
  color: #fff;
  text-decoration: none;
  animation: 1s gotosection infinite;

  &:hover {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  @include media($screen-sm) {
    display: none !important;
  }
}


@-moz-keyframes gotosection {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
      
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes gotosection {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
      
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes gotosection {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
      
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}