.partners-logos {
  width: 70%;
}

.partners-logos img{
  width: 125px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:center;
    margin-right:-4px;
    padding: 30px;
}
