.-promocode {
  .container {
    max-width: 1060px;
    padding-top: 150px;
  }

  .cta-container {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .button {
    padding: 0 30px;
    margin-right: 25px;
    margin-bottom: 40px;
  }

  .low-op-text {
    color: rgba(255, 255, 255, 0.6);
  }

  .header-desc {
    font-size: 21px;

    span {
      text-decoration: underline;
    }
  }
}
