.step-screen {
  padding-right: 100px;
  max-width: 550px;
  width: 50%;

  h2 + p {
    max-width: 320px;
  }
  > div {
    position: relative !important;
  }

  @include media($screen-sm) {
    max-width: 100%;
    padding: 0;
    width: 100%;
  }
}

.step-image {
  float: right;
  width: 50%;
  text-align: left;
  margin-left: 0px;
  opacity: 0;
  // transition: .3s opacity ease-in-out;

  img {
    max-width: 415px;

    @include media($screen-md) {
      max-width: 100%;
    }
  }

  @include media($screen-sm) {
    opacity: 1 !important;
    width: 100%;
    text-align: center;
  }

  &.is-fixed {
    // position: fixed;
    top: 0;
    left: 50%;

    @include media($screen-md) {
      position: static !important;
    }
  }

  &.is-fixedy {
    position: fixed !important;
  }

}

.steps-container {
  &.visible-steps {
    .step-image.is-fixed {
      position: static;
    }
  }
}

.steps-circles {
  a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    margin-right: 5px;

    &:hover {
      background: rgba(#fff, .3);
    }

    &.current {
      color: #333;
      background: #fff;
    }
  }
}
