.testimonial-section-title {
  padding-top: 90px;
  margin: 0 0 -120px;

  @include media($screen-sm) {
    padding-top: 60px;
    padding-bottom: 20px;
    margin: 0;
    max-width: 90%;
    margin: 0 auto;
  }
}

.testimonial {
  text-align: left;

  p {
    line-height: 1.4;
  }

  .testimonial-container, .testimonial-information {
    overflow: hidden;
  }

  .testimonial-container {
    margin-bottom: 30px;
  }

  .testimonial-information {
    min-height: 80px;
    display: table;

    .testimonial-information-center {
      display: table-cell;
      vertical-align: middle;
    }
  }

  h3 {
    color: $ench-color;
    margin: 0;

    + span {
      display: inline-block;
    }
  }

  @include media($screen-sm) {
    margin-bottom: 50px;
  }
}