.-error {
  background: url('/images/error/error-background.jpg');

  .v-base {
      height: calc(100vh - 1px);
  }

  a {
    font-size: 14px;

    &.nav-item {
      padding-right: 50px;
    }
  }

  h1 {
    color: #fff;
    font-size: 42px;
  }

  .button {
    min-width: initial;
    height: auto;
    padding: 10px 15px;
    line-height: 1;

    &.line {
      border: 1px solid #fff;
      border-radius: 30px;
      color: #fff;
      background-color: transparent;
    }

    &.back-button {
      min-width: 155px;
      margin: 0 5px;
    }
  }
}
