.growth-enhancer-section {
  .value-heading {
    font-size: 32px;
    text-align: left;
  }

  .value-desc {
    color: #fff;
  }
}

.carrousel-wrapper {
  h2 {
    color: #00c091;
    text-align: center;
  }

  .value-heading {
    color: #fff;
  }

  a {
    cursor: pointer;
  }
}
